<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Fakturaer</title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Regnskab</li>
                                <li class="breadcrumb-item active">Transaktioner</li>
                                <li class="breadcrumb-item">Transaktion</li>
                            </ol>
                        </div>
                        <h4 class="page-title" th:text="${'Transaktion med nummer: ' + invoice.invoiceNumber}"></h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="float-left ">
                                        <address th:if="${invoice.user != null && invoice.assosiatedEventInvitation == null}" class="font-13">
                                            <p th:text="${invoice.user.firstname + ' ' + invoice.user.lastname}" style="margin: 0"></p>
                                            <p th:text="${invoice.user.address}" style="margin: 0"></p>
                                            <p th:text="${invoice.user.email}" style="margin: 0"></p>
                                        </address>
                                        <address th:if="${invoice.assosiatedBooking != null}" class="font-13">
                                            <p th:text="${invoice.assosiatedBooking.recipientName}" style="margin: 0"></p>
                                            <p th:text="${invoice.assosiatedBooking.recipientAddress}" style="margin: 0"></p>
                                            <p th:text="${invoice.assosiatedBooking.recipientEmail}" style="margin: 0"></p>
                                        </address>
                                        <address th:if="${invoice.assosiatedTimePeriod != null}" class="font-13">
                                            <p th:text="${invoice.assosiatedTimePeriod.recipientName}" style="margin: 0"></p>
                                            <p th:text="${invoice.assosiatedTimePeriod.recipientAddress}" style="margin: 0"></p>
                                            <p th:text="${invoice.assosiatedTimePeriod.recipientEmail}" style="margin: 0"></p>
                                        </address>
                                        <address th:if="${invoice.assosiatedEventInvitation != null}" class="font-13">
                                            <p th:text="${invoice.user.firstname + ' ' + invoice.user.lastname}" style="margin: 0"></p>
                                            <p th:text="${invoice.user.address}" style="margin: 0"></p>
                                            <p th:text="${invoice.user.email}" style="margin: 0"></p>
                                        </address>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="">
                                        <div class="float-right">
                                            <h6 class="mb-0"><b>Dato for transaktion :</b> <th:block th:text="${invoice.date}"></th:block></h6>
                                            <h6><b>Transaktions nummer :</b> # <th:block th:text="${invoice.invoiceNumber}"></th:block></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <thead>
                                            <tr>
                                                <th>Antal</th>
                                                <th>Genstand</th>
                                                <th>Beskrivelse</th>
                                                <th>Enhedspris</th>
                                                <th>Samlet</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="InvoiceItem : ${invoice.items}">
                                                <th th:text="${InvoiceItem.quantity}"></th>
                                                <td th:text="${InvoiceItem.item}"></td>
                                                <td th:text="${InvoiceItem.description}"></td>
                                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(InvoiceItem.unitCost)}"></td>
                                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(InvoiceItem.totalCost)}"></td>
                                            </tr>
                                            <tr class="bg-dark text-white">
                                                <th colspan="3" class="border-0"></th>
                                                <td class="border-0 font-14"><b>Total</b></td>
                                                <td class="border-0 font-14"><b th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(invoice.totalCostWithAdditional)}"></b></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="float-right d-print-none" style="float: right;">
                                        <a href="javascript:window.print()" class="btn btn-info text-light"><i class="fa fa-print"></i> Print</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">
    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/JavaScript/Panel/econimics/invoices.js"></script>
</th:block>
</body>
</html>