<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Økonomi</title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Abonemment</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Mit abonnement</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div th:if="${currentUnion.isPremium() == true}" th:replace="panel/subscription/content/free :: free"></div>

        </div><!--end row-->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div><!-- container -->

    <div th:replace="panel/subscription/modals/worthKnowing :: niceKnowing"></div>

    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">
    <script src="/JavaScript/Panel/subscription/subscription.js"></script>
</th:block>
</body>
</html>