<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Administrer hold</title>

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <style>
    .wizard > .steps > ul > li
    {
        width: 33.33%;
    }
</style>

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Opsætning</li>
                                <li class="breadcrumb-item active">Hold</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Hold</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <!--<button th:if="${currentUser.role.rolePermissions.canAdministrate}" class="btn btn-success float-right btn-round"-->
                                    <!--style="display: inline; font-size: 20px" data-toggle="modal" data-animation="bounce"-->
                                    <!--data-target="#modal_newTeamModal"><span class="mdi mdi-plus" style="font-size: 30px"></span>-->
                            <!--</button>-->

                            <div>
                                <h5 style="position:absolute;" class="text-muted">Opret hold</h5>

                                <a style="padding-top: 10px;" href="#" class="float-right" th:if="${currentUser.role.rolePermissions.canAdministrate}" data-toggle="modal" data-animation="bounce" data-target="#modal_newTeamModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80" viewBox="0 0 30 30" style=" fill:#419ACA;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21,16h-5v5 c0,0.553-0.448,1-1,1s-1-0.447-1-1v-5H9c-0.552,0-1-0.447-1-1s0.448-1,1-1h5V9c0-0.553,0.448-1,1-1s1,0.447,1,1v5h5 c0.552,0,1,0.447,1,1S21.552,16,21,16z"></path></svg>
                                </a>

                                <div style="padding-top: 35px; width: calc(100% - 80px); margin-left: -1.25rem;">
                                    <hr>
                                </div>
                            </div>


                            <table id="datatable-teams" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Afdeling</th>
                                    <th>Træningstider</th>
                                    <th>Antal tilmeldte</th>
                                    <th>Lukket tilmelding</th>
                                    <th>Kontingent pris</th>
                                    <th>Betalingsplan</th>
                                    <th>Start dato</th>
                                    <th>Handlinger</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Team : ${currentUnion.teams}">
                                    <td th:text="${Team.title}" th:id="${'teamTitle' + Team.teamId}"></td>
                                    <td th:text="${Team.teamDepartment.title}" th:id="${'teamDepartment' + Team.teamId}"></td>
                                    <td>
                                        <ul style="padding: 0px; list-style: none;" th:each="TrainingSchedule : ${Team.trainingSchedules}">
                                            <li th:text="${TrainingSchedule.weekday + ': ' + TrainingSchedule.timeFrom + '-' + TrainingSchedule.timeTo}"></li>
                                        </ul>
                                    </td>
                                    <td th:text="${#lists.size(Team.players) + '/' + Team.avalibleSpots}" th:id="${'teamAvalibleSpots' + Team.teamId}"></td>
                                    <td th:text="${Team.closed} ? 'Ja' : 'Nej'" th:id="${'teamClosed' + Team.teamId}"></td>
                                    <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Team.price)}" th:id="${'teamPrice' + Team.teamId}"></td>
                                    <td th:text="${#strings.capitalize(Team.paymentSchedule )}" th:id="${'teamPaymentSchedule' + Team.teamId}"></td>
                                    <td th:text="${Team.startDate}" th:id="${'teamStartDate' + Team.teamId}"></td>
                                    <td>
                                        <a th:href="${'/panel/administrerhold/' + Team.teamId}" th:if="${currentUser.role.rolePermissions.canAdministrate}" class="btn btn-primary" th:id="${Team.teamId}">Rediger hold</a>
                                        <!--<button th:if="${currentUser.role.rolePermissions.canAdministrate}" class="btn btn-danger" onclick="deleteTeam(this.id)" th:id="${Team.teamId}">Slet</button>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <!--Modals-->
    <div th:replace="panel/setup/teams/modals/newTeamModal.html :: newTeamModal"></div>


</th:block>

<th:block layout:fragment="script">
    <script src="/panelResources/plugins/moment/moment.js"></script>
    <script src="/panelResources/plugins/select2/select2.min.js"></script>
    <script src="/panelResources/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="/panelResources/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/panelResources/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/panelResources/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/panelResources/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="/panelResources/plugins/sweet-alert2/sweetalert2.min.js"></script>

    <script src="/JavaScript/Panel/setup/teams/teams.js"></script>


    <!-- Plugins Init js -->
    <script src="/panelResources/pages/jquery.form-advanced.init.js"></script>

    <script src="/panelResources/plugins/repeater/jquery.repeater.min.js"></script>
    <script src="/panelResources/pages/jquery.form-repeater.js"></script>

    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/panelResources/plugins/jquery-steps/jquery.steps.min.js"></script>
</th:block>
</body>
</html>