<div th:fragment="editDescriptionModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_editDescriptionModal">
        <div class="modal-dialog modal-lg" style="max-width: 1500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Rediger beskrivelse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <textarea id="editor_eventCalendar_edit" style="width: 99.8%;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btn_editDescriptionModal_edit">Rediger beskrivelse</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>