<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Administrer roller</title>

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Opsætning</li>
                                <li class="breadcrumb-item active">Roller</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Roller</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive mb-0">
                                <div style="display: inline;">
                                    <p class="text-muted font-13 mb-4" style="display: inline-block;">Tilføj og modificer de roller, som medlemmer og ansatte i klubben har</p>
                                </div>

                                <button class="btn btn-success float-right waves-effect waves-light"
                                        style="display: inline;" data-toggle="modal" data-animation="bounce"
                                        data-target="#nyRolleModal">Opret rolle
                                </button>
                                <table class="table table-striped table-bordered w-100">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Antal brugere med denne rolle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="Role : ${currentUnion.roles}">
                                        <td th:text="${Role.roleName}"></td>
                                        <td th:text="${#lists.size(Role.users)}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:replace="panel/setup/rolls/modals/newRoleModal.html :: newRoleModal"></div>

</th:block>

<th:block layout:fragment="script">
    <script src="/panelResources/plugins/jquery-steps/jquery.steps.min.js"></script>
    <script src="/JavaScript/Panel/setup/rolls/rolls.js"></script>
</th:block>
</body>
</html>