<div th:if="${currentUnion.unionEconomics.bookkeeping?.chosenIntegration == 'Dinero'}" th:fragment="dinero" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>
    <h5 style="color: green">Automatisk regnskab er sat op til:</h5>
    <img src="/img/regnskabsprogrammer/dinero2019.jpg" style="max-height: 100px; margin-left: auto; margin-right: auto;">
    <br>
    <br>
    <br>
    <div name="APIKey">
        <h5>API nøgle - <a target="_blank" href="https://dinero.dk/support/saadan-opretter-du-en-api-noegle/">Klik her for at finde ud hvordan du finder din API nøgle</a></h5>
        <div class="row">
            <div class="col-10">
                <input class="form-control" type="text" id="inp_dinero_API" placeholder="API nøgle..." disabled th:value="${currentUnion.unionEconomics.bookkeeping.dineroIntegration.APIKey}">
                <ul class="clubtimize-error-list clubtimize-hide" id="inp_dinero_API_validate"></ul>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" id="btn_dinero_editAPIKey">Rediger API nøgle</button>
                <button class="btn btn-danger" id="btn_dinero_cancelAPIKey" style="display: none;">X</button>
            </div>
        </div>
    </div>

    <div name="OrganizationID">
        <h5>Firma ID - <a target="_blank" href="https://dinero.dk/support/firma-id/">Klik her for at finde ud hvordan du finder dit Firma ID</a></h5>
        <div class="row">
            <div class="col-10">
                <input class="form-control" type="text" id="inp_dinero_orgID" placeholder="Firma ID..." disabled th:value="${currentUnion.unionEconomics.bookkeeping.dineroIntegration.organizationID}">
                <ul class="clubtimize-error-list clubtimize-hide" id="inp_dinero_orgID_validate"></ul>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" id="btn_dinero_editOrgID">Rediger Firma ID</button>
                <button class="btn btn-danger" id="btn_dinero_cancelOrgID" style="display: none;">X</button>
            </div>
        </div>
    </div>

    <br>
    <p><a href="#" data-toggle="modal" data-target="#modal_setupBookkeepingModal">Klik her for at skifte regnskabsprogram</a></p>
</div>
