<div th:if="${currentUnion.unionEconomics.bookkeeping?.chosenIntegration == 'Economic'}" th:fragment="economic" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>
    <h5 style="color: green">Automatisk regnskab er sat op til:</h5>
    <img src="/img/regnskabsprogrammer/economics2019.jpg" style="max-height: 75px; margin-left: auto; margin-right: auto;">
    <br>
    <br>
    <br>
    <div name="APIKey">
        <h5>API nøgle - <a href="https://secure.e-conomic.com/secure/api1/requestaccess.aspx?appPublicToken=FqMhHgYjsKWWKNQlsqpvH6wRjN70MKEKO4qlbWL3s101&redirectUrl=https%3A%2F%2Fapp.clubtimize.dk%2Fpanel">Klik her for at finde ud hvordan du finder din API nøgle</a></h5>
        <div class="row">
            <div class="col-10">
                <input class="form-control" type="text" id="inp_economic_API" placeholder="API nøgle..." disabled th:value="${currentUnion.unionEconomics.bookkeeping.economicIntegration.APIKey}">
                <ul class="clubtimize-error-list clubtimize-hide" id="inp_economic_API_validate"></ul>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" id="btn_economic_editAPIKey">Rediger API nøgle</button>
                <button class="btn btn-danger" id="btn_economic_cancelAPIKey" style="display: none;">X</button>
            </div>
        </div>
    </div>
    <br>
    <p><a href="#" data-toggle="modal" data-target="#modal_setupBookkeepingModal">Klik her for at skifte regnskabsprogram</a></p>
</div>
