<div th:if="${currentUnion.unionEconomics.bookkeeping.firstTimeSetup == false}" th:fragment="firstTime" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        Det ser ikke ud til, at foreningen har sat automatisk bogføring op. For at gøre brug af automatisk bogføring, skal man have en konto med API adgang hos en af følgene regnskabsprogrammer:
    </div>
    <br>
    <ul>
        <li>
            <a href="https://dinero.dk/">Dinero</a>
        </li>
        <li>
            <a href="https://www.e-conomic.dk/">Economic</a>
        </li>
    </ul>
    <div>
        Hvis du har en bruger og er klar til at komme igang, skal du blot klikke på knappen. Det tager under 5 minutter.
    </div>
    <br>
    <button class="btn btn-primary" data-toggle="modal" data-target="#modal_setupBookkeepingModal">Klik for at komme igang med opsætningen</button>
</div>
