<div th:fragment="dashboardPlayer" xmlns:th="http://www.thymeleaf.org" th:if="${chosenPerspective == 'Spiller'}">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 col-clubtimize-4">
            <div th:replace="panel/dashboard/content/player/content/myTeams :: myTeams"></div>
            <div th:replace="panel/dashboard/content/player/content/nextTraining :: nextTraining"></div>
            <div th:replace="panel/dashboard/content/player/content/latestMatches :: latestMatches"></div>
        </div>

        <div class="col-md-12 col-lg-12 col-xl-12 col-clubtimize-8">
            <div th:replace="panel/dashboard/content/player/content/trainingOverview :: trainingOverview"></div>
        </div>
    </div><!--end row-->
</div>

