<div th:fragment="periodBookings" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="Hall : ${currentUnion.halls}">
        <div>
            <div style="padding-bottom: 10px;">
                <h4 th:text="${Hall.title}" style="position:absolute;"></h4>
                <button class="btn btn-success" style="float: right; display: inline;" data-toggle="modal" data-target="#modal_newSeasonBookingPeriodModal" th:id="${Hall.hallId}" onclick="setId(this.id)">Tilføj bookingperiode</button>
            </div>

            <br>
            <br>

            <div th:each="SeasonBookingPeriod : ${Hall.seasonBookingPeriods}">
                <div class="clubtimize-box">

                    <div class="row">
                        <div class="col-3">
                            <p th:text="${'Periode fra: ' + SeasonBookingPeriod.seasonStartDate}"></p>
                            <p th:text="${'Periode til: ' + SeasonBookingPeriod.seasonEndDate}"></p>
                            <p th:text="${'Ugedag: ' + SeasonBookingPeriod.dayOfWeek}"></p>
                            <p th:text="${'Tid fra: ' + SeasonBookingPeriod.startTime}"></p>
                            <p th:text="${'Tid til: ' + SeasonBookingPeriod.endTime}"></p>
                            <p th:text="${'Pris for periode: ' + T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(SeasonBookingPeriod.price)}"></p>
                            <p th:text="${'Pris for single booking: ' + SeasonBookingPeriod.singlePrice}"></p>
                            <hr>
                            <button class="btn btn-danger" th:id="${SeasonBookingPeriod.id}" onclick="deleteSeasonBookingPeriod(this.id, this)" style="width: 100%;">Slet denne periode</button>
                        </div>
                        <div class="col-9">
                            <div class="accordion" id="accordionExample-faq">
                                <div class="card mb-0">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="my-0">
                                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" th:data-target="${'#' + SeasonBookingPeriod.dayOfWeek + SeasonBookingPeriod.id}" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Klik for at se periode bookinger</i></button>
                                        </h5>
                                    </div>
                                    <div th:id="${SeasonBookingPeriod.dayOfWeek + SeasonBookingPeriod.id}" class="collapse" data-parent="#accordionExample-faq">

                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Bane</th>
                                                <th>Tid fra</th>
                                                <th>Tid til</th>
                                                <th>Inviteret navn</th>
                                                <th>Inviteret email</th>
                                                <th>Booket</th>
                                                <th>Antal bookinger</th>
                                                <th>Handlinger</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="TimePeriod : ${SeasonBookingPeriod.timePeriods}">
                                                <td th:text="${TimePeriod.court.title}"></td>
                                                <td th:text="${TimePeriod.timeFrom}"></td>
                                                <td th:text="${TimePeriod.timeTo}"></td>
                                                <td th:text="${TimePeriod.inviteName} ? ${TimePeriod.inviteName} : 'Ingen invitationer'"></td>
                                                <td th:text="${TimePeriod.inviteEmail} ? ${TimePeriod.inviteEmail} : 'Ingen invitationer'"></td>
                                                <td th:text="${TimePeriod.isBooked()} ? 'Ja' : 'Nej'"></td>
                                                <td th:text="${#lists.size(TimePeriod.bookings)}"></td>
                                                <td>
                                                    <button th:if="${!TimePeriod.isBooked() && !TimePeriod.activeInvitation}" class="btn btn-primary" th:id="${TimePeriod.id}" onclick="openInviteModal(this.id)">Inviter til at booke</button>
                                                    <button th:if="${!TimePeriod.isBooked() && TimePeriod.activeInvitation}" class="btn btn-danger" th:id="${TimePeriod.id}" onclick="cancelInvite(this.id)">Annuler invitation</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

        </div>
        <br>
    </div>
</div>