<div th:fragment="singleBookings" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="Hall : ${currentUnion.halls}">
        <div>
            <div style="padding-bottom: 10px;">
                <h4 th:text="${Hall.title}" style="position:absolute;"></h4>
                <button class="btn btn-success" style="float: right; display: inline;" data-toggle="modal" data-target="#modal_newBookingPeriodModal" th:id="${Hall.hallId}" onclick="setId(this.id)">Tilføj bookingperiode</button>
            </div>

            <br>
            <br>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Ugedag</th>
                    <th>Tid fra</th>
                    <th>Tid til</th>
                    <th>Interval</th>
                    <th>Pris for booking</th>
                    <th>Slet</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="BookingPeriod : ${Hall.singleBookingPeriods}">
                    <td th:text="${BookingPeriod.dayOfWeek}"></td>
                    <td th:text="${BookingPeriod.startTime}"></td>
                    <td th:text="${BookingPeriod.endTime}"></td>
                    <td th:if="${BookingPeriod.bookingInterval == 'hour'}">En time</td>
                    <td th:if="${BookingPeriod.bookingInterval == 'halfHour'}">En halv time</td>
                    <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(BookingPeriod.price)}"></td>
                    <td style="max-width: 75px;"><button class="btn btn-sm btn-light" th:id="${BookingPeriod.id}" onclick="deleteBookingPeriod(this.id, this)">Slet denne periode</button></td>
                </tr>
                </tbody>
            </table>

            <br th:if="${#lists.size(Hall.singleBookingPeriods) == 0}">
            <h3 th:if="${#lists.size(Hall.singleBookingPeriods) == 0}" style="text-align: center"><i>Ingen booking perioder for denne hal</i></h3>

            <div th:if="${#lists.size(Hall.singleBookingPeriods) != 0}" style="text-align: center;">
                <a th:href="${'/panel/banebooking/oversigt?hall=' + Hall.hallId}" style="text-align: center; display: inline;" target="_blank">Klik her for at åbne booking oversigt for denne hal</a>
            </div>
        </div>
        <br>
    </div>
</div>