<div th:fragment="editDepartmentModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Opdater holdkategori modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_editDepartmentModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Opdater afdeling</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_editDepartmentModal_title" class="col-form-label">Afdeling titel</label>
                                <input id="inp_editDepartmentModal_title" class="form-control" type="text" placeholder="F.eks: Ungdom, Senior, Motionist...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="control-label">Vælg farve til træningsoversigt</label>
                                <div id="oth_editDepartmentModal_colorpicker" class="input-group colorpicker-component">
                                    <input id="inp_editDepartmentModal_color" type="text" value="#44a2d2" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <label class="control-label">Forhåndsvisning af farve i kalender</label>
                        <div id='calendar-edit' style="max-height: 200px; overflow: hidden"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_edtiDepartmentModal_editDepartment" class="btn btn-primary waves-effect waves-light">Opdater afdeling</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>