<div th:fragment="newDepartmentModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Opret holdkategori modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_newDepartmentModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Opret ny afdeling</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_newDepartmentModal_title" class="col-form-label">Navn på afdeling</label>
                                <input class="form-control" type="text" id="inp_newDepartmentModal_title" placeholder="F.eks: Ungdom, Senior, Motionist...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="control-label">Vælg farve til træningsoversigt</label>
                                <div id="oth_newDepartmentModal_colorpicker" class="input-group colorpicker-component">
                                    <input type="text" value="#44a2d2" class="form-control" id="inp_newDepartmentModal_color">
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <label class="control-label">Forhåndsvisning af farve i kalender</label>
                        <div id='calendar' style="max-height: 200px; overflow: hidden"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_newDepartmentModal_makeDepartment" class="btn btn-primary waves-effect waves-light">Opret afdeling</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>