<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title th:text="${union.name}">Clubtimize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by themesbrand" name="description" />
    <meta content="Themesbrand" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/landing/images/favicon.ico">

    <!--Form Wizard-->
    <link rel="stylesheet" href="/panelResources/plugins/jquery-steps/jquery.steps.css">

    <!-- App css -->
    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css" />

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/landing/css/materialdesignicons.min.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="/landing/css/style.css" />
    <link rel="stylesheet" href="/CSS/clubtimize-error.css">
    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">
    <link rel="stylesheet" href="/CSS/clubtimize-elements.css">

    <link rel="stylesheet" href="/panelResources/plugins/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <style>
        .wizard > .content {
            background: white;
            display: block;
            margin: 0.5em;
            min-height: 35em;
            overflow: hidden;
            position: relative;
            width: auto;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .wizard > .content > .body ul > li {
            display: list-item;
            list-style: none;
        }
    </style>

</head>
<body>
    <div class="container" style="max-width: 1500px;">
        <div class="card card-shadow card-border" style="margin-top: 50px;border: thin solid Gainsboro;">
            <div class="card-body">
                <div class="row">
                    <div class="col-4" style="margin-top: auto; margin-bottom: auto">
                        <h5 th:if="${union.logoPath == '/unionlogo/default.png'}"><i>Forening</i></h5>
                        <h2 th:if="${union.logoPath == '/unionlogo/default.png'}" th:text="${union.name}"></h2>
                    </div>
                    <div class="col-4" style="padding: 10px;">
                        <img th:src="${union.logoPath}" style="max-height: 150px; max-width: 400px; margin-left: auto; margin-right: auto; display: block;">
                    </div>
                    <div class="col-4" style="margin-top: auto; margin-bottom: auto">
                        <div style="float: right;">
                            <div style="text-align: center; padding: 5px;">Har du allerede en bruger?</div>
                            <a href="/login" class="btn btn-dark btn-sm" style="float: right;">Klik her for at logge ind<i class="fa fa-sign-in ml-1"></i></a>
                        </div>
                    </div>
                </div>
                <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
                <br>
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <button onclick="openModal()" id="btn_clubpage_openModal" type="button" class="btn btn-secondary" disabled>Vælg et hold før du fortsætter</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div>
                            <h5 style="display: inline; margin: 0;"><i>Klik på en af afdelingerne for at se holdene</i></h5>
                            <h5 style="display: inline; margin: 0; float: right;">Hold valgt: <i id="txt_clubpage_chosenname">Ingen</i></h5>
                        </div>
                        <br>
                        <form class="form" action="">
                            <div class="accordion" id="accordionExample-faq">
                                <div class="card mb-0" th:each="Department : ${union.departments}">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="my-0">
                                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" th:data-target="${'#' + Department.title.replaceAll(' ', '') + Department.id}" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" th:text="${Department.title}" name="department"></i></button>
                                        </h5>
                                    </div>
                                    <div th:id="${Department.title.replaceAll(' ', '') + Department.id}" class="collapse" data-parent="#accordionExample-faq">
                                        <div class="card-body" style="padding: 0;">
                                            <table class="table table-striped" >
                                                <thead class="thead-light" >
                                                <tr>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Aldersgruppe</th>
                                                    <th scope="col">Niveau</th>
                                                    <th scope="col">Pladser</th>
                                                    <th scope="col">Åben tilmelding</th>
                                                    <th scope="col">Træningstider og sted</th>
                                                    <th scope="col">Pris</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="Team : ${Department.teams}">
                                                    <td th:text="${Team.title}" th:id="${'txt_clubpage_title' + Team.teamId}"></td>
                                                    <td th:text="${Team.ageGroup}"></td>
                                                    <td th:text="${Team.niveau}"></td>
                                                    <td th:text="${#lists.size(Team.players) + '/' + Team.avalibleSpots}"></td>
                                                    <td th:text="${Team.closed} ? 'Nej' : 'Ja'"></td>
                                                    <td>
                                                        <ul>
                                                            <li th:each="TrainingSchedule : ${Team.trainingSchedules}"><th:block th:text="${TrainingSchedule.hall.title + ': '}"></th:block><i th:text="${TrainingSchedule.weekday + ' ' +  TrainingSchedule.timeFrom + '-' + TrainingSchedule.timeTo}"></i></li>
                                                        </ul>
                                                    </td>
                                                    <td style="color: green;" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Team.price)}" th:id="${'txt_clubpage_price' + Team.teamId}"></td>
                                                    <td>
                                                        <div class="radio my-2" th:if="${#lists.size(Team.players) != Team.avalibleSpots && not Team.closed}">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" th:id="${Team.teamId}" onchange="changeChosenTeam(this.id)" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" th:for="${Team.teamId}">Vælg hold</label>
                                                            </div>
                                                        </div>
                                                        <div class="radio my-2" th:if="${#lists.size(Team.players) == Team.avalibleSpots || Team.closed}">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" th:id="${Team.teamId}" onchange="changeChosenTeam(this.id)" name="customRadio" class="custom-control-input" disabled>
                                                                <label class="custom-control-label text-info" th:for="${Team.teamId}">Lukket eller fyldt</label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </form>
                        <h3 style="text-align: center"><i th:if="${union.departments.size() == 0}">Foreningen har ikke oprettet nogle hold</i></h3>
                        <div style="text-align: center; padding-top: 5px">
                            <a class="btn btn-light btn-sm" th:href="${union.url + '/banebooking'}">Klik her hvis du ønsker at booke en bane</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span th:text="${version}" style="color: white; position:absolute; bottom: 10px; right: 10px; opacity: 0.5;"></span>

    <div id="feePercent" th:text="${union.unionEconomics.feePercent}" style="display: none;"></div>
    <div id="isPayingFees" th:text="${union.unionEconomics.isPayingFees()}" style="display: none;"></div>

    <div th:replace="clubpage/modals/joinTeamModal :: joinTeamModal"></div>

    <!-- JAVASCRIPTS -->
    <!-- jQuery  -->
    <script src="/panelResources/js/jquery.min.js"></script>
    <script src="/panelResources/js/bootstrap.bundle.min.js"></script>
    <script src="/panelResources/js/metisMenu.min.js"></script>
    <script src="/panelResources/js/waves.min.js"></script>
    <script src="/panelResources/js/jquery.slimscroll.min.js"></script>

    <script src="/panelResources/plugins/jquery-steps/jquery.steps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
    <script src="/panelResources/plugins/tippy/tippy.all.min.js"></script>

    <!--<script src="/panelResources/js/clubpage.js"></script>-->

    <script src="/JavaScript/Landing/clubpage.js"></script>

    <script src="/JavaScript/customJS/buttonEffects.js"></script>
    <script src="/JavaScript/customJS/Notification.js"></script>
    <script src="/JavaScript/customJS/Validation.js"></script>

    <!-- App js -->
    <script src="/panelResources/js/app.js"></script>

</body>
</html>