<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Betaling</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/panelResources/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/landing/css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">
</head>
<body>
    <div class="container">
        <div class="card card-shadow card-border" style="margin-top: 50px; margin-bottom: 50px;border: thin solid Gainsboro;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12" style="text-align: center; padding: 10px;">
                        <img th:src="${invoice.assosiatedUnion.logoPath}" style="max-height: 150px; max-width: 500px;">
                    </div>
                </div>
                <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-left mt-5">
                            <address class="font-13" style="text-align: left">
                                <strong class="font-14">Faktureret til :</strong><br>
                                <div th:if="${invoice.type == 'Kontingent'}">
                                    <p th:text="${invoice.user.firstname + ' ' + invoice.user.lastname}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.user.address}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.user.email}" style="margin-bottom: 0; text-align: left"></p>
                                </div>
                                <div th:if="${invoice.type == 'Banebooking'}">
                                    <p th:text="${invoice.assosiatedBooking.recipientName}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.assosiatedBooking.recipientAddress}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.assosiatedBooking.recipientEmail}" style="margin-bottom: 0; text-align: left"></p>
                                </div>
                                <div th:if="${invoice.type == 'Banebooking periode'}">
                                    <p th:text="${invoice.assosiatedTimePeriod.recipientName}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.assosiatedTimePeriod.recipientAddress}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.assosiatedTimePeriod.recipientEmail}" style="margin-bottom: 0; text-align: left"></p>
                                </div>
                                <div th:if="${invoice.type == 'Event'}">
                                    <p th:text="${invoice.user.firstname + ' ' + invoice.user.lastname}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.user.address}" style="margin-bottom: 0; text-align: left"></p>
                                    <p th:text="${invoice.user.email}" style="margin-bottom: 0; text-align: left"></p>
                                </div>

                            </address>
                        </div>
                        <div class="float-right text-right mt-5">
                            <div class="align-self-center">
                                <div class="float-right">
                                    <h6 class="mb-0"><b>Faktureringsdato :</b> <th:block th:text="${invoice.date}"></th:block></h6>
                                    <h6><b>Faktura Nummer :</b> # <th:block th:text="${invoice.invoiceNumber}"></th:block></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead>
                                <tr>
                                    <th>Antal</th>
                                    <th>Genstand</th>
                                    <th>Beskrivelse</th>
                                    <th>Enhedspris</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="InvoiceItem : ${invoice.items}">
                                    <th th:text="${InvoiceItem.quantity}"></th>
                                    <td th:text="${InvoiceItem.item}"></td>
                                    <td th:text="${InvoiceItem.description}"></td>
                                    <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(InvoiceItem.unitCost)}"></td>
                                    <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(InvoiceItem.totalCost)}"></td>
                                </tr>
                                <tr class="bg-dark text-white">
                                    <th colspan="3" class="border-0"></th>
                                    <td class="border-0 font-14"><b>Total</b></td>
                                    <td class="border-0 font-14"><u><b th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(invoice.totalCostWithAdditional)}"></b></u></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div style="text-align: center">
                    <i class="text-muted">Denne faktura bliver sendt til din mail</i>
                </div>

                <hr th:if="${invoice.type == 'Kontingent'}" style="margin-left: -1.25rem; margin-right: -1.25rem;">

                <div th:if="${invoice.type == 'Kontingent'}" style="text-align: center">
                    <a href="/login" class="btn btn-success">Klik her for at logge ind på dit personlige administrations panel</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>