<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/landing/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/landing/css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/landing/css/materialdesignicons.min.css"/>


    <!-- App css -->
    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">
    <link rel="stylesheet" href="/CSS/clubtimize-error.css">

</head>
<body>

<div class="container">
    <div class="card card-shadow card-border"
         style="margin-top: 50px; margin-bottom: 50px;border: thin solid Gainsboro;">
        <div class="card-body">
            <div class="row">
                <div class="col-12" style="text-align: center; padding: 10px;">
                    <img th:src="${invitation.union.logoPath}" style="max-height: 150px; max-width: 500px">
                </div>
            </div>
            <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
            <br>
            <div class="row">
                <div class="col-12">
                    <div style="text-align: center">
                        <p>Du er blevet inviteret til at oprette en bruger i Clubtimize i anledning af trænerstillingen
                            på hold: <b th:text="${invitation.team.title}"></b> <b
                                    th:text="${invitation.union.name}"></b></p>
                        <p style="font-size: 15px;"><i>Udfyld skemaet og kom igang med at bruge Clubtimize med det
                            samme:</i></p>
                    </div>

                    <div style="width: 850px; margin-left: auto; margin-right: auto">
                        <div class="col-sm-12 row">
                            <label for="inp_invitedCoach_email" class="col-form-label">Email</label>
                            <input class="form-control" type="email" id="inp_invitedCoach_email" placeholder="Email...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedCoach_email_validate"></ul>
                        </div>
                        <div class="col-sm-12 row">
                            <label for="inp_invitedCoach_password" class="col-form-label">Kodeord</label>
                            <input class="form-control" type="password" id="inp_invitedCoach_password"
                                   placeholder="Kodeord...">
                            <ul class="clubtimize-error-list clubtimize-hide"
                                id="inp_invitedCoach_password_validate"></ul>
                        </div>
                        <div class="col-sm-12 row">
                            <label for="inp_invitedCoach_passwordconfirm" class="col-form-label">Bekræft Kodeord</label>
                            <input class="form-control" type="password" id="inp_invitedCoach_passwordconfirm"
                                   placeholder="Kodeord...">
                            <ul class="clubtimize-error-list clubtimize-hide"
                                id="inp_invitedCoach_passwordconfirm_validate"></ul>
                        </div>
                        <br>
                        <div class="col-sm-12 row">
                            <label for="inp_invitedCoach_firstname" class="col-form-label">Fornavn</label>
                            <input class="form-control" type="text" id="inp_invitedCoach_firstname"
                                   placeholder="Fornavn...">
                            <ul class="clubtimize-error-list clubtimize-hide"
                                id="inp_invitedCoach_firstname_validate"></ul>
                        </div>
                        <div class="col-sm-12 row">
                            <label for="inp_invitedCoach_lastname" class="col-form-label">Efternavn</label>
                            <input class="form-control" type="text" id="inp_invitedCoach_lastname"
                                   placeholder="Efternavn...">
                            <ul class="clubtimize-error-list clubtimize-hide"
                                id="inp_invitedCoach_lastname_validate"></ul>
                        </div>
                        <div class="col-sm-12 row">
                            <label for="inp_invitedCoach_birthday" class="col-form-label">Fødselsdag</label>
                            <input class="form-control" type="date" id="inp_invitedCoach_birthday">
                            <ul class="clubtimize-error-list clubtimize-hide"
                                id="inp_invitedCoach_birthday_validate"></ul>
                        </div>
                        <div class="col-sm-12 row">
                            <label for="sel_invitedCoach_gender" class="col-form-label">Køn</label>
                            <select id="sel_invitedCoach_gender" class="form-control">
                                <option value="Mand">Mand</option>
                                <option value="Kvinde">Kvinde</option>
                            </select>
                            <ul class="clubtimize-error-list clubtimize-hide"
                                id="sel_invitedCoach_gender_validate"></ul>
                        </div>
                        <div class="col-sm-12 row">
                            <label for="inp_invitedCoach_phone" class="col-form-label">Telefonnummer</label>
                            <input class="form-control" type="number" id="inp_invitedCoach_phone">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedCoach_phone_validate"></ul>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6" style="padding-left: 0;">
                                <label for="inp_invitedCoach_addreee" class="col-form-label">Addresse</label>
                                <input class="form-control" type="text" id="inp_invitedCoach_addreee"
                                       placeholder="Addresse...">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedCoach_addreee_validate"></ul>
                            </div>
                            <div class="col-sm-3" style="padding: 0;">
                                <label for="inp_invitedCoach_zip" class="col-form-label">Postnummer</label>
                                <input class="form-control" type="number" id="inp_invitedCoach_zip"
                                       placeholder="Postnummer...">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedCoach_zip_validate"></ul>
                            </div>
                            <div class="col-sm-3" style="padding-right: 0;">
                                <label for="inp_invitedCoach_city" class="col-form-label">By</label>
                                <input class="form-control" type="text" id="inp_invitedCoach_city" placeholder="By...">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedCoach_city_validate"></ul>
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-12 row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       id="che_invitedCoach_acceptusagewebsite">
                                <label class="custom-control-label" id="lbl_invitedCoach_acceptusagewebsite"
                                       for="che_invitedCoach_acceptusagewebsite">Jeg accepterer <a
                                        href="https://clubtimize.dk/betingelser-for-brug-af-hjemmesiden/"
                                        target="_blank">Betingelser for brug af hjemmeside</a></label>
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="che_invitedCoach_acceptservice">
                                <label class="custom-control-label" id="lbl_invitedCoach_acceptservice"
                                       for="che_invitedCoach_acceptservice">Jeg accepterer <a
                                        href="https://clubtimize.dk/privatlivspolitik/" target="_blank">Privatlivspolitik</a></label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
                    <div class="class-sm-12" style="text-align: center">
                        <button class="btn btn-primary" onclick="acceptInvitation(this.id)" th:id="${invitation.invNumber}" style="color: white;" name="create">Opret min bruger</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/panelResources/js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
<script src="/panelResources/plugins/tippy/tippy.all.min.js"></script>

<script src="/JavaScript/customJS/buttonEffects.js"></script>
<script src="/JavaScript/customJS/Validation.js"></script>
<script src="/JavaScript/customJS/Notification.js"></script>
<script src="/JavaScript/Landing/invitations/coach.js"></script>

</body>
</html>