<div th:fragment="dashboardAdmin" xmlns:th="http://www.thymeleaf.org" th:if="${chosenPerspective == 'Administrator'}">
    <!--<div class="row">-->
        <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">-->
            <!--<div class="card">-->
                <!--<div class="card-body ">-->
                    <!--<p class="text-muted" style="padding: 0; margin: 0;"><i th:text="${'Der er ' + seasonmeterlabel + ' måneder tilbage af denne sæson'}"></i></p>-->
                    <!--<div class="progress">-->
                        <!--<div class="progress-bar progress-animated progress-bar-animated" role="progressbar" th:style="${'max-width: ' + seasonmeter + '%; border-radius: 50px;'}"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-6">
            <div class="card">
                <div class="card-body ">
                    <h5>Seneste tilmeldinger</h5>
                    <hr class="clubtimize-hr">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom" roleName="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#gennemførte" roleName="tab">Gennemførte betalinger</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#manglende" roleName="tab">Manglende betalinger</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active p-3" id="gennemførte" roleName="tabpanel">
                            <div th:replace="panel/dashboard/content/admin/content/confirmedPayments :: confirmedPayments"></div>
                        </div>

                        <div class="tab-pane p-3" id="manglende" roleName="tabpanel">
                            <div th:replace="panel/dashboard/content/admin/content/missingPayments :: missingPayments"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-6">
            <div th:replace="panel/dashboard/content/admin/content/generalInformation :: generalInformation"></div>
        </div>
    </div><!--end row-->
</div>
