<div th:fragment="myTeams" xmlns:th="http://www.thymeleaf.org">
    <div class="card">
        <div class="card-body">
            <h5>Mine hold</h5>
            <hr>
            <table class="table table-borderless">
                <thead>
                <th>Hold</th>
                <th>Afdeling</th>
                <th>Tilmeldte</th>
                <th>Trænere</th>
                </thead>
                <tbody>
                <tr th:each="Team : ${myTeams}">
                    <td th:text="${Team.title}"></td>
                    <td th:text="${Team.teamDepartment.title}"></td>
                    <td>
                        <div>
                            <span class="badge badge-boxed badge-success" style="font-size: 12px; background-color: grey; width: 100%;"><span class="fa fa-male"></span><span class="fa fa-female"></span> Samlet: <span th:text="${#lists.size(Team.players)}"></span></span>
                        </div>

                        <div>
                            <span class="badge badge-boxed badge-success" style="font-size: 12px; background-color: #5BC0EB; width: 49%;"><span class="fa fa-male"></span> Mænd: <span th:text="${Team.getMaleCount()}"></span></span>
                            <span class="badge badge-boxed badge-success" style="font-size: 12px; background-color: #F55D3E; width: 49%;"><span class="fa fa-female"></span> Kvinder: <span th:text="${Team.getFemaleCount()}"></span></span>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li th:each="Coach : ${Team.coaches}" th:text="${Coach.unionAssosiation.user.firstname + ' ' + Coach.unionAssosiation.user.lastname}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>