<div th:fragment="nextTraining" xmlns:th="http://www.thymeleaf.org">
    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-12">
                    <h5>Næste undervisning - <i><a th:href="${'/panel/træning?id=' + nextTraining.id}" onclick="redirectToTraining(this.id)">Klik for at gå til træningens side</a></i></h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td><span class="mdi mdi-account-multiple"></span> Hold:</td>
                                    <td th:text="${nextTraining.team.title + ' - ' + nextTraining.team.teamDepartment.title}"></td>
                                </tr>
                                <tr>
                                    <td><span class="mdi mdi-calendar"></span> Dato:</td>
                                    <td th:text="${nextTraining.date}"></td>
                                </tr>
                                <tr>
                                    <td><span class="mdi mdi-calendar-clock"></span> Tid:</td>
                                    <td th:text="${nextTraining.timeFrom + ' - ' + nextTraining.timeTo}"></td>
                                </tr>
                                <tr>
                                    <td><span class="dripicons-location"></span> Sted:</td>
                                    <td th:text="${nextTraining.hall.title}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h5><span class="mdi mdi-image-filter-center-focus"></span> Focus:</h5>
                            <i th:text="${nextTraining.focus.description}"></i>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <h5>Træningsplan for næste undervisning</h5>-->
<!--                    <hr>-->
<!--                    <div class="clubtimize-box">-->
<!--                        <h4 th:if="${#lists.isEmpty(nextTraining.trainingsplan.trainingModules)}" class="text-muted" style="text-align: center"><i>Det ser ud til, at der ikke er lavet en træningsplan for denne træning</i></h4>-->
<!--                        <h4 th:if="${#lists.isEmpty(nextTraining.trainingsplan.trainingModules)}" class="text-muted" style="text-align: center"><i>Start ved at tilføje træningens første modul</i></h4>-->
<!--                        <div class="activity">-->
<!--                            <hr>-->
<!--                            <th:block th:each="TrainingModule : ${nextTraining.trainingsplan.trainingModules}">-->
<!--                                <a href="#" th:id="${TrainingModule.id}" onclick="deleteModule(this.id)"><i class="mdi mdi-close text-primary"></i></a>-->
<!--                                <div class="time-item">-->
<!--                                    <div class="item-info">-->
<!--                                        <div class="text-muted text-right font-14" th:text="${'Varighed cirka ' + TrainingModule.approxTime + ' minutter'}"></div>-->
<!--                                        <h5 class="mt-0" th:text="${TrainingModule.title}"></h5>-->
<!--                                        <p class="text-muted font-13" th:text="${TrainingModule.description}"></p>-->
<!--                                        <p th:if="${TrainingModule.exerciseDGI != null}" class="text-muted font-12" th:text="${'DGI: ' + TrainingModule.exerciseDGI.name}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <hr>-->
<!--                            </th:block>-->
<!--                        </div>-->


<!--                        <div class="dropdown mo-mb-2">-->
<!--                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="display: block; margin-left: auto; margin-right: auto">-->
<!--                                Tilføj modul-->
<!--                            </button>-->
<!--                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                                <a class="dropdown-item" href="#" data-toggle="modal" data-animation="bounce" data-target="#addModuleModal">Tilføj standard modul</a>-->
<!--                                <a class="dropdown-item" href="#" data-toggle="modal" data-animation="bounce" data-target="#addModuleModalDGI">Tilføj modul - DGI Øvelsesbanken</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>