<div th:fragment="generalInformation" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${activepaymentrequest == null}">
        <p>Nuværende balance:</p>
        <h1 th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(currentUnion.unionEconomics.balance)}" style="color: #90EE90;"></h1>
        <br>

        <a href="#" class="btn btn-success" id="btn_economy_requestpayment" style="width: 100%;">Anmod om udbetaling</a>
    </div>
    <div th:if="${activepaymentrequest != null}">
        <p><i>Igangværende sag</i></p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Dato for anmodning</td>
                <td>Anmodet beløb</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${activepaymentrequest.date}" style="width: 50%;"></td>
                <td th:text="${activepaymentrequest.amountAtRequestTime}" style="width: 50%;"></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Status</td>
                <td>Forventede udbetalingsdato</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:if="${activepaymentrequest.status == 'Afventer godkendelse'}" style="color: #CCCC00; width: 50%;" th:text="${activepaymentrequest.status}"></td>
                <td th:if="${activepaymentrequest.status == 'Godkendt'}" style="color: green; width: 50%;" th:text="${activepaymentrequest.status}"></td>
                <td th:if="${activepaymentrequest.status == 'Afvist'}" style="color: red; width: 50%;" th:text="${activepaymentrequest.status}"></td>
                <td th:if="${activepaymentrequest.status == 'Igangværende validering'}" style="color: orange; width: 50%;" th:text="${activepaymentrequest.status}"></td>
                <td th:text="${activepaymentrequest.expectedPayoutDate} ? ${activepaymentrequest.expectedPayoutDate} : 'Ingen dato sat'" style="width: 50%;"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div th:if="${currentUnion.unionEconomics.bankinfoContainer == null}">
        <p class="text-muted"><i>Du angiver bank oplysninger, første gang du anmoder om udbetaling</i></p>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td> Kontonummer: </td>
                <td>Ingen værdi angivet</td>
            </tr>
            <tr>
                <td> Registrerings nummer: </td>
                <td>Ingen værdi angivet</td>
            </tr>
            <tr>
                <td> Bank navn: </td>
                <td>Ingen værdi angivet</td>
            </tr>
            <tr>
                <td> Kontakt nummer: </td>
                <td>Ingen værdi angivet</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${currentUnion.unionEconomics.bankinfoContainer != null}">
        <p class="text-muted text-center"><i>For at ændre disse data, bedes du kontakte Clubtimize på hej@clubtimize.dk</i></p>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td> Kontonummer: </td>
                <td th:text="${currentUnion.unionEconomics.bankinfoContainer.accountNumber}"></td>
            </tr>
            <tr>
                <td> Registrerings nummer: </td>
                <td th:text="${currentUnion.unionEconomics.bankinfoContainer.registrationNumber}"></td>
            </tr>
            <tr>
                <td> Bank navn: </td>
                <td th:text="${currentUnion.unionEconomics.bankinfoContainer.bankName}"></td>
            </tr>
            <tr>
                <td> Kontakt nummer: </td>
                <td th:text="${currentUnion.unionEconomics.bankinfoContainer.phoneNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>