<div th:fragment="incomePrDay" xmlns:th="http://www.thymeleaf.org">
    <h5 style="display: inline;">Indkomst pr. dag</h5>
    <div style="float: right; display: inline;">
        <p style="display: inline;">Antal dage siden: </p>
        <input style="display: inline; width: 75px;" class="form-control form-control-sm" type="number" value="30" id="inp_incomePrDay_days">
        <button class="btn-primary btn-sm" id="btn_incomePrDay_load">Indlæs</button>
    </div>

    <hr>
    <canvas id="chart_incomePrDay" width="500" height="125"></canvas>
</div>