<div th:fragment="requestHistory" xmlns:th="http://www.thymeleaf.org">
    <h5>Lukkede sager</h5>
    <hr>
    <table class="table table-bordered" id="tbl_requestHistory_requestHistory">
        <thead>
        <tr>
            <th>Dato for anmodning</th>
            <th>Beløb</th>
            <th>Status</th>
            <th>Forventede udbetalings dato</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="PaymentRequest : ${closedpaymentrequests}">
            <td th:text="${PaymentRequest.date}"></td>
            <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(PaymentRequest.amountAtRequestTime)}"></td>
            <td th:text="${PaymentRequest.status}"></td>
            <td th:text="${PaymentRequest.expectedPayoutDate}"></td>
        </tr>
        </tbody>

    </table>
</div>