<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Rabatter</title>

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Opsætning</li>
                                <li class="breadcrumb-item active">Rabatter</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Rabatter</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <button class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto;" data-toggle="modal" data-target="#modal_newTwoTeamDiscountModal">Opret rabatgruppe</button>

                            <br>

                            <div th:if="${not #lists.isEmpty(currentUnion.discount.twoTeamDiscounts)}">
                                <div th:each="TwoTeamDiscount : ${currentUnion.discount.twoTeamDiscounts}" class="clubtimize-box" style="background-color: white; margin: 15px; box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2); border: 1px solid rgba(0, 0, 0, 0.2);">
                                    <button th:id="${TwoTeamDiscount.id}" onclick="deleteDiscount(this.id, this)" class="btn btn-danger">Slet denne rabatgruppe</button>
                                    <div style="text-align: center">
                                        <h2 th:text="${TwoTeamDiscount.title}"></h2>
                                        <h5>Rabat pris: <span th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TwoTeamDiscount.amount)}" style="color: green"></span></h5>
                                    </div>
                                    <br>
                                    <h5>Hold: </h5>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                            <tr class="align-self-center">
                                                <th>Titel</th>
                                                <th>Afdeling</th>
                                                <th>Ledige pladser</th>
                                                <th>Pris</th>
                                                <th>Pris med rabat</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="Team : ${TwoTeamDiscount.teams}">
                                                <td th:text="${Team.title}"></td>
                                                <td th:text="${Team.teamDepartment.title}"></td>
                                                <td th:text="${#lists.size(Team.players) + '/' + Team.avalibleSpots}"></td>
                                                <td style="color: orange" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Team.price)}"></td>
                                                <td th:if="${(Team.price - TwoTeamDiscount.amount) >= 0}" style="color: green" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat((Team.price - TwoTeamDiscount.amount))}"></td>
                                                <td th:if="${(Team.price - TwoTeamDiscount.amount) < 0}" style="color: green">0,00 kr.</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${#lists.isEmpty(currentUnion.discount.twoTeamDiscounts)}" style="text-align: center">
                                <hr class="clubtimize-hr">
                                <br>
                                <h4 class="text-muted">Der er ingen rabat</h4>
                                <h3>For at oprette en rabatgruppe, skal du klikke på knappen ovenover</h3>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:replace="panel/discounts/modal/newTwoTeamDiscountModal :: newTwoTeamDiscountModal"></div>


</th:block>

<th:block layout:fragment="script">
    <script src="/panelResources/plugins/repeater/jquery.repeater.min.js"></script>
    <script src="/panelResources/pages/jquery.form-repeater.js"></script>

    <script src="/JavaScript/Panel/discounts/discounts.js"></script>
</th:block>
</body>
</html>