<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/landing/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/landing/css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/landing/css/materialdesignicons.min.css"/>


    <!-- App css -->
    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">
    <link rel="stylesheet" href="/CSS/clubtimize-error.css">

</head>
<body>
    <div class="container">
        <div class="card card-shadow card-border" style="margin-top: 50px; margin-bottom: 50px;border: thin solid Gainsboro;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12" style="text-align: center; padding: 10px;">
                        <img th:src="${timePeriod.court.hall.union.logoPath}" style="max-height: 150px; max-width: 500px;">
                    </div>
                </div>
                <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
                <br>
                <div class="row">
                    <div class="col-12">
                        <div style="text-align: center">
                            <h2 style="color: #44a2d2">Hej <span th:text="${timePeriod.inviteName}"></span>!</h2>
                            <br>
                            <p>Du er blevet inviteret til at booke <b th:text="${timePeriod.court.title}"></b> i <b th:text="${timePeriod.court.hall.title}"></b> hver <b th:text="${timePeriod.seasonBookingPeriod.dayOfWeek}"></b> i perioden <b th:text="${timePeriod.timeFrom + ' til ' + timePeriod.timeTo}"></b></p>
                        </div>

                        <div style="width: 850px; margin-left: auto; margin-right: auto">
                            <div class="col-sm-12 row">
                                <label for="inp_invitedSeasonBookingPeriod_name" class="col-form-label">Navn</label>
                                <input class="form-control" type="text" id="inp_invitedSeasonBookingPeriod_name" placeholder="Navn...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedSeasonBookingPeriod_name_validate"></ul>
                            </div>

                            <div class="col-sm-12 row">
                                <label for="inp_invitedSeasonBookingPeriod_email" class="col-form-label">Email</label>
                                <input class="form-control" type="email" id="inp_invitedSeasonBookingPeriod_email" placeholder="Email...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedSeasonBookingPeriod_email_validate"></ul>
                            </div>

                            <div class="col-sm-12 row">
                                <div class="col-sm-6" style="padding-left: 0;">
                                    <label for="inp_invitedSeasonBookingPeriod_address" class="col-form-label">Addresse</label>
                                    <input class="form-control" type="text" id="inp_invitedSeasonBookingPeriod_address" placeholder="Addresse...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedSeasonBookingPeriod_address_validate"></ul>
                                </div>
                                <div class="col-sm-3" style="padding: 0;">
                                    <label for="inp_invitedSeasonBookingPeriod_zip" class="col-form-label">Postnummer</label>
                                    <input class="form-control" type="number" id="inp_invitedSeasonBookingPeriod_zip" placeholder="Postnummer...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedSeasonBookingPeriod_zip_validate"></ul>
                                </div>
                                <div class="col-sm-3" style="padding-right: 0;">
                                    <label for="inp_invitedSeasonBookingPeriod_city" class="col-form-label">By</label>
                                    <input class="form-control" type="text" id="inp_invitedSeasonBookingPeriod_city" placeholder="By...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedSeasonBookingPeriod_city_validate"></ul>
                                </div>
                            </div>

                            <div class="col-sm-12 row">
                                <label for="inp_invitedSeasonBookingPeriod_phone" class="col-form-label">Telefon</label>
                                <input class="form-control" type="number" id="inp_invitedSeasonBookingPeriod_phone" placeholder="Telefon...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedSeasonBookingPeriod_phone_validate"></ul>
                            </div>

                            <br>

                            <hr>

                            <h5><i>Angiv de personer der bruger banen</i></h5>
                            <p class="text-muted">**Husk også dig selv**</p>

                            <fieldset>
                                <div class="repeater-custom-show-hide">
                                    <div data-repeater-list="spillere">
                                        <div data-repeater-item="spiller">
                                            <div class="form-group row d-flex align-items-end">

                                                <div class="col-sm-5">
                                                    <label class="control-label">Navn</label>
                                                    <input class="form-control" name="spiller[0][name]" type="text">
                                                    <ul class="clubtimize-error-list clubtimize-hide" name="spiller[0][name_validate]"></ul>
                                                </div>

                                                <div class="col-sm-5">
                                                    <label class="control-label">Email</label>
                                                    <input class="form-control" name="spiller[0][email]" type="email">
                                                    <ul class="clubtimize-error-list clubtimize-hide" name="spiller[0][email_validate]"></ul>

                                                </div>

                                                <div class="col-sm-2">
                                                    <span data-repeater-delete="" class="btn btn-danger btn-sm">
                                                        <span class="fa fa-times"></span> Fjern
                                                    </span>
                                                </div>

                                                <div class="col-sm-6" style="padding-top: 5px;">
                                                    <label class="control-label">Adresse</label>
                                                    <input class="form-control" name="spiller[0][address]" type="text" id="Adresse">
                                                    <ul class="clubtimize-error-list clubtimize-hide" name="spiller[0][address_validate]"></ul>
                                                </div>

                                                <div class="col-sm-2" style="padding-top: 5px;">
                                                    <label class="control-label">Postnummer</label>
                                                    <input class="form-control" name="spiller[0][zip]" type="text" id="Postnummer">
                                                    <ul class="clubtimize-error-list clubtimize-hide" name="spiller[0][zip_validate]"></ul>
                                                </div>

                                                <div class="col-sm-2" style="padding-top: 5px;">
                                                    <label class="control-label">By</label>
                                                    <input class="form-control" name="spiller[0][city]" type="text" id="By">
                                                    <ul class="clubtimize-error-list clubtimize-hide" name="spiller[0][city_validate]"></ul>
                                                </div>

                                                <div class="col-sm-12" style="padding-top: 5px;">
                                                    <br>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="col-sm-12">
                                                <span data-repeater-create="" class="btn btn-light btn-md">
                                                    <span class="fa fa-plus"></span> Tilføj
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <br>
                            <hr>

                            <div class="col-sm-12 row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="che_invitedSeasonPeriodBooking_acceptusagewebsite">
                                    <label class="custom-control-label" id="lbl_invitedSeasonPeriodBooking_acceptusagewebsite"
                                           for="che_invitedSeasonPeriodBooking_acceptusagewebsite">Jeg accepterer <a
                                            href="https://clubtimize.dk/betingelser-for-brug-af-hjemmesiden/"
                                            target="_blank">Betingelser for brug af hjemmeside</a></label>
                                </div>
                            </div>
                            <div class="col-sm-12 row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="che_invitedSeasonPeriodBooking_acceptprivacy">
                                    <label class="custom-control-label" id="lbl_invitedSeasonPeriodBooking_acceptprivacy"
                                           for="che_invitedSeasonPeriodBooking_acceptprivacy">Jeg accepterer <a
                                            href="https://clubtimize.dk/privatlivspolitik/" target="_blank">Privatlivspolitik</a></label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
                        <div style="text-align: center">
                            Booking pris: <span th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(timePeriod.seasonBookingPeriod.price)}"></span>
                        </div>
                        <div style="text-align: center">
                            At betale: <span style="color: green;" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(priceToPay)}"></span>
                        </div>
                        <div th:if="${timePeriod.court.hall.union.unionEconomics.isPayingFees()}" class="text-muted" style="text-align: center">Beløb udgør periode bookingens pris</div>
                        <div th:if="${!timePeriod.court.hall.union.unionEconomics.isPayingFees()}" class="text-muted" style="text-align: center">Beløb udgør periode bookingens pris og administrations gebyrer</div>
                        <br>
                        <div class="class-sm-12" style="text-align: center">
                            <button class="btn btn-primary" onclick="book(this.id)" th:id="${timePeriod.id}" style="color: white;" name="create">Gå til betaling</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--<div style="display: none;" th:text="${invitation.union.unionEconomics.feePercent}" id="hidden_invitedPlayer_fee"></div>-->
<!--<div id="isPayingFees_invitedPlayer" th:text="${invitation.union.unionEconomics.isPayingFees()}" style="display: none;"></div>-->


<script src="/panelResources/js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
<script src="/panelResources/plugins/tippy/tippy.all.min.js"></script>
    <script src="/panelResources/plugins/repeater/jquery.repeater.min.js"></script>
    <script src="/panelResources/pages/jquery.form-repeater.js"></script>

<script src="/JavaScript/customJS/buttonEffects.js"></script>
<script src="/JavaScript/customJS/Validation.js"></script>
<script src="/JavaScript/customJS/Notification.js"></script>
<script src="/JavaScript/Landing/invitations/seasonBookingPeriod.js"></script>

</body>
</html>