<div th:fragment="editFocusModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_editFocusModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">Rediger fokus</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_editFocusModal_title" class="col-form-label">Titel</label>
                                <input class="form-control" type="text" id="inp_editFocusModal_title" placeholder="Titel...">
                            </div>
                            <div class="col-sm-12">
                                <label for="inp_editFocusModal_description" class="col-form-label">Beskrivelse</label>
                                <textarea id="inp_editFocusModal_description" class="form-control" rows="10" placeholder="Beskrivelse..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btn_editFocusModal_savefocus">Gem fokus</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>