<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Tilmeld hold</title>

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Tilmeld hold</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Tilmeld hold</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <h5>Vælg en afdeling for at se holdene</h5>
                            <hr>

                            <div class="accordion" id="accordionExample-faq">
                                <div class="card mb-0" th:each="Department : ${currentUnion.departments}">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="my-0">
                                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" th:data-target="${'#' + Department.title + Department.id}" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" th:text="${Department.title}" name="department"></i></button>
                                        </h5>
                                    </div>
                                    <div th:id="${Department.title + Department.id}" class="collapse" data-parent="#accordionExample-faq">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col">Aldersgruppe</th>
                                                <th scope="col">Niveau</th>
                                                <th scope="col">Pladser</th>
                                                <th scope="col">Åben tilmelding</th>
                                                <th scope="col">Træningstider og sted</th>
                                                <th scope="col">Pris</th>
                                                <th scope="col">
                                                    <p style="margin: 0;">Pris med rabat</p>
                                                    <p class="text-muted font-10" style="margin: 0;">(hvis der er en rabat)</p>
                                                </th>
                                                <th scope="col">
                                                    <p style="margin: 0;">Pris at betale</p>
                                                    <p th:if="${!currentUnion.unionEconomics.isPayingFees()}" class="text-muted font-10" style="margin: 0;">(+ gebyrer)</p>
                                                </th>
                                                <th>Tilmeld</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:if="${Department.teams.contains(Entry.key)}" th:each="Entry : ${teamsToJoin}">
                                                <td th:text="${Entry.key.title}"></td>
                                                <td th:text="${Entry.key.ageGroup}"></td>
                                                <td th:text="${Entry.key.niveau}"></td>
                                                <td th:text="${#lists.size(Entry.key.players) + '/' + Entry.key.avalibleSpots}"></td>
                                                <td th:text="${Entry.key.closed} ? 'Nej' : 'Ja'"></td>
                                                <td>
                                                    <ul th:each="TrainingSchedule : ${Entry.key.trainingSchedules}">
                                                        <li th:text="${TrainingSchedule.weekday + ': ' + TrainingSchedule.timeFrom + '-' + TrainingSchedule.timeTo}"></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <span th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Entry.key.price)}"></span>
                                                </td>
                                                <td>
                                                    <span th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Entry.value[0])}"></span>
                                                </td>
                                                <td class="bg-light">
                                                    <u th:if="${!currentUnion.unionEconomics.isPayingFees()}" style="color: green;" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Entry.value[1])}"></u>
                                                    <u th:if="${currentUnion.unionEconomics.isPayingFees()}" style="color: green;" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Entry.value[0])}"></u>
                                                </td>
                                                <td th:if="${#lists.size(Entry.key.players) < Entry.key.avalibleSpots && !Entry.key.closed}"><button class="btn btn-primary" th:id="${Entry.key.teamId}" onclick="addTeam(this.id, this)">Tilmeld og betal</button></td>
                                                <td th:if="${#lists.size(Entry.key.players) >= Entry.key.avalibleSpots || Entry.key.closed}"><button class="btn btn-primary" disabled>Lukket eller fyldt</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

</th:block>

<th:block layout:fragment="script">
    <script src="/JavaScript/Panel/user/registermoreteams.js"></script>
</th:block>
</body>
</html>