<div th:fragment="free" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <p class="text-muted" style="margin: 0; padding: 0;">Nuværende plan</p>
                        <h1 style="margin: 0; padding: 0;">Clubtimize Gratis</h1>
                        <p>Pris: 0 DKK/år</p>
                        <br>
                        <button class="btn btn-success" id="btn_free_upgrade">Opgrader til Clubtimize Premium</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h4>Har din forening overvejet at opgradere til Clubtimize Premium?</h4>
                                <p class="text-muted">Her er en sammenligning af gratis og premium</p>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <td>Feature</td>
                                <td style="width: 100px">Gratis</td>
                                <td style="width: 100px">Premium</td>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class="mdi mdi-account-multiple"></span> Holdtilmelding</p>
                                        <i class="text-muted">Sæt jeres hold op, så medlemmer kan tilmelde sig
                                            og betale online</i>
                                    </td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class=" mdi mdi-note-text"></span> Træner værktøjer</p>
                                        <i class="text-muted">Værktøjer som kamprunde generator og planlægning
                                            af træninger, som gør træner jobbet nemmere</i>
                                    </td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span class="mdi mdi-calendar"></span>
                                            Forenings kalender</p>
                                        <i class="text-muted">Få et overblik over foreningens træninger og
                                            begivenheder</i>
                                    </td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class="mdi mdi-cash-multiple"></span> Økonomisk indsigt</p>
                                        <i class="text-muted">Få et overblik over jeres økonomi med fakturarer,
                                            som nemt kan bogføres</i>
                                    </td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class="mdi mdi-border-color"></span> Banebookning</p>
                                        <i class="text-muted">Udlej jeres baner, enten som periode eller enkelte
                                            bookninger</i>
                                    </td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class="mdi mdi-email-outline"></span> Email kommunikation</p>
                                        <i class="text-muted">Kommuniker med jeres medlemmer, deres forælre
                                            eller trænerne i foreningen</i>
                                    </td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class="mdi mdi-account-key"></span> Forældre konti</p>
                                        <i class="text-muted">Lad forældre få indblik i deres børns badminton
                                            liv og samtidig skabe en platform, hvor forældre i fællesskab kan
                                            planlægge stævner og andre begivenheder</i>
                                    </td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class="mdi mdi-autorenew"></span> Automatisk bogføring af
                                            transaktioner</p>
                                        <i class="text-muted">Hver gang der går en transaktion gennem
                                            Clubtimize, bliver det automatisk bogført i jeres foretrukne
                                            regnskabs-program</i>
                                    </td>
                                    <td><span class="mdi mdi-close" style="color: red;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span class="mdi mdi-web"></span>
                                            Opsætning og vedligeholdelse af personlig hjemmeside</p>
                                        <i class="text-muted">Lad Clubtimize stå for at designe og vedligeholde
                                            jeres hjemmeside</i>
                                    </td>
                                    <td><span class="mdi mdi-close" style="color: red;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="padding: 0; margin: 0;"><span
                                                class="mdi mdi-server-security"></span> Hosting af hjemmeside
                                        </p>
                                        <i class="text-muted">Spar penge ved at lade Clubtimize hoste jeres
                                            hjemmeside. Dette er inkluderet i prisen</i>
                                    </td>
                                    <td><span class="mdi mdi-close" style="color: red;"></span></td>
                                    <td><span class="mdi mdi-check" style="color: green;"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
</div>
