<div th:fragment="general" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td style="width: 200px"><span class="mdi mdi-email"></span> Foreningens email: </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <input class="form-control" type="text" id="inp_general_adminEmail" placeholder="Email..." th:value="${currentUnion.adminAccountEmail}" disabled>
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_general_adminEmail_validate"></ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px"><span class="mdi mdi-lead-pencil"></span> Foreningens navn: </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <input class="form-control" type="text" id="inp_general_name" placeholder="Navn..." th:value="${currentUnion.name}" disabled>
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_general_name_validate"></ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px"><span class="mdi mdi-cellphone-link"></span> Foreningens URL: </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <input class="form-control" type="text" id="inp_general_url" placeholder="Navn..." th:value="${currentUnion.url.split('/')[1]}" disabled>
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_general_url_validate"></ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px"><span class="mdi mdi-library-books"></span> Foreningens månede for skifte af regnskabsår: </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <select class="form-control" name="seasonSwitchMonth" id="sel_general_seasonSwitchMonth" disabled>
                                    <option value="januar">Januar</option>
                                    <option value="febuar">Febuar</option>
                                    <option value="marts">Martsoption>
                                    <option value="april">April</option>
                                    <option value="maj">Maj</option>
                                    <option value="juni">Juni</option>
                                    <option value="juli">Juli</option>
                                    <option value="august">August<option>
                                    <option value="september">September</option>
                                    <option value="oktober">Oktober</option>
                                    <option value="november">November</option>
                                    <option value="december">December</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <hr>
            <br>

            <div class="row">
                <div class="col-6">
                    <p style="padding-top: 10px;">Foreningens logo</p>
                    <button class="btn-primary btn-sm" id="btn_incomePrDay_load" data-toggle="modal" data-target="#modal_changeLogoModal">Klik her for at skifte logo</button>
                </div>
                <div class="col-6">
                    <div style="text-align: center;">
                        <img style="border: 1px solid;max-width: 90%" th:src="${currentUnion.logoPath}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>