<div th:fragment="seeBookingModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_seeBookingModal">
        <div class="modal-dialog modal-lg" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Banebookning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div id="content_newBookingModal_free" style="margin: -1rem;">
                        <table class="table table-striped" style="text-align: center;">
                            <tbody>
                            <tr>
                                <td style="width: 50%"><i>Sted:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_free_hall"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Bane:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_free_court"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Dato:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_free_date"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Tid:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_free_time"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Status:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_free_status" style="color: green;">Ledig</h3></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="content_newBookingModal_booked" style="margin: -1rem;">
                        <table class="table table-striped" style="text-align: center;">
                            <tbody>
                            <tr>
                                <td style="width: 50%"><i>Sted:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_hall"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Bane:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_court"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Dato:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_date"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Tid:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_time"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Status:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_status" style="color: grey;">Optaget</h3></td>
                            </tr>
                            </tbody>
                        </table>

                        <br>

                        <table class="table table-striped" style="text-align: center;">
                            <tbody>
                            <tr>
                                <td style="width: 50%"><i>Navn:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_recipientName"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Email:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_recipientEmail"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Addresse:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_recipientAddress"></h3></td>
                            </tr>
                            <tr>
                                <td style="width: 50%"><i>Telefon nummer:</i></td>
                                <td style="width: 50%"><h3 id="content_seeBookingModal_booked_recipientPhone"></h3></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <!--<button type="button" id="btn_newBookingModal_book" class="btn btn-primary waves-effect waves-light">Gå til betaling</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>