<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Mit dashboard</title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <th:block layout:fragment="content">
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-right">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">
                                        <div class="btn-group mb-2 dropleft">
                                            <div class="dropleft d-inline-block">
                                                <a class="nav-link dropdown-toggle arrow-none" id="dLabel5" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                    <th:block th:text="${chosenPerspective}"></th:block>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dLabel5" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 54px, 0px);">
                                                    <a th:each="String : ${perspectives}" th:text="${String}" class="dropdown-item" th:href="${'/panel?perspektiv=' + String}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->

                <div th:replace="panel/dashboard/content/player/player :: dashboardPlayer"></div>
                <div th:replace="panel/dashboard/content/admin/admin :: dashboardAdmin"></div>
                <div th:replace="panel/dashboard/content/coach/coach :: dashboardCoach"></div>

            </div><!-- container -->

            <footer class="footer text-center text-sm-left">
                &copy; <span th:text="${year}"></span> Unie <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
            </footer>
        </div>
        <!-- end page content -->
    </th:block>
    <th:block layout:fragment="script">
        <!-- Required datatable js -->
        <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

        <!--Calendar related-->
        <script src="/panelResources/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/panelResources/plugins/moment/moment.js"></script>
        <script src='/panelResources/plugins/fullcalendar/js/fullcalendar.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/da.js"></script>

        <script th:if="${chosenPerspective == 'Spiller'}" src="/JavaScript/Panel/dashboard/spiller.js"></script>
        <script th:if="${chosenPerspective == 'Administrator'}" src="/JavaScript/Panel/dashboard/administrator.js"></script>
    </th:block>
</body>
</html>