<div th:fragment="newSeasonBookingModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_newSeasonBookingModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Banebookning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="col-sm-12 row" style="margin-left: auto; margin-right: auto; display: block;">
                        <label for="inp_newSeasonBookingModal_name" class="col-form-label">Navn</label>
                        <input class="form-control" type="email" id="inp_newSeasonBookingModal_name" placeholder="Navn...">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingModal_name_validate"></ul>
                    </div>
                    <div class="col-sm-12 row" style="margin-left: auto; margin-right: auto; display: block;">
                        <label for="inp_newSeasonBookingModal_email" class="col-form-label">Email</label>
                        <input class="form-control" type="email" id="inp_newSeasonBookingModal_email" placeholder="Email...">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingModal_email_validate"></ul>
                    </div>
                    <div class="col-sm-12 row" style="margin-left: 1px;">
                        <div class="col-sm-6" style="padding-left: 0;">
                            <label for="inp_newSeasonBookingModal_address" class="col-form-label">Addresse</label>
                            <input class="form-control" type="text" id="inp_newSeasonBookingModal_address" placeholder="Addresse...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingModal_address_validate"></ul>
                        </div>
                        <div class="col-sm-3" style="padding: 0;">
                            <label for="inp_newSeasonBookingModal_zip" class="col-form-label">Postnummer</label>
                            <input class="form-control" type="number" id="inp_newSeasonBookingModal_zip" placeholder="Postnummer...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingModal_zip_validate"></ul>
                        </div>
                        <div class="col-sm-3" style="padding-right: 0;">
                            <label for="inp_newSeasonBookingModal_city" class="col-form-label">By</label>
                            <input class="form-control" type="text" id="inp_newSeasonBookingModal_city" placeholder="By...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingModal_city_validate"></ul>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-left: auto; margin-right: auto; display: block;">
                        <label for="inp_newSeasonBookingModal_phone" class="col-form-label">Telefon nummer</label>
                        <input class="form-control" type="number" id="inp_newSeasonBookingModal_phone" placeholder="Telefon nummer...">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingModal_phone_validate"></ul>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_newSeasonBookingModal_book" class="btn btn-primary waves-effect waves-light">Gå til betaling</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>