<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Administrer hold</title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Administration</li>
                                <li class="breadcrumb-item active">Administrer hold</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Administrer hold</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>Vælg det hold du gerne vil administrerer</h4>
                            <hr class="clubtimize-hr">
                            <div th:each="Department : ${departments}">
                                <h3 th:text="${Department.title}"></h3>
                                <br>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td>Hold</td>
                                        <td>Tilmeldte</td>
                                        <td>Administrer</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="Team : ${Department.teams}">
                                        <td style="width: 33%" th:text="${Team.title}"></td>
                                        <td style="width: 33%" th:text="${#lists.size(Team.players) + '/' + Team.avalibleSpots}"></td>
                                        <td style="width: 33%"><a class="btn btn-primary" th:href="${'/panel/administrerhold/' + Team.teamId}">Gå til administration</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Unie <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">
    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/panelResources/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/panelResources/plugins/datatables/jszip.min.js"></script>
    <script src="/panelResources/plugins/datatables/pdfmake.min.js"></script>
    <script src="/panelResources/plugins/datatables/vfs_fonts.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.print.min.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="/panelResources/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/panelResources/plugins/datatables/responsive.bootstrap4.min.js"></script>

</th:block>
</body>
</html>