<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Events</title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-tabs.css">
    <link rel="stylesheet" href="/CSS/clubtimize-error.css">

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Events</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Events</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                    <div class="card">
                        <div class="card-body ">
                            <div id='calendar'></div>
                            <div style='clear:both'></div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

</th:block>

<th:block layout:fragment="script">
    <!--Wysiwig js-->
    <script src="/panelResources/plugins/tinymce/tinymce.min.js"></script>

    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/panelResources/plugins/jquery-steps/jquery.steps.min.js"></script>

    <script src="/panelResources/plugins/select2/select2.min.js"></script>

    <!--Calendar related-->
    <script src="/panelResources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/panelResources/plugins/moment/moment.js"></script>
    <script src='/panelResources/plugins/fullcalendar/js/fullcalendar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/da.js"></script>

    <script src="/JavaScript/Panel/events/events.js"></script>

</th:block>
</body>
</html>