<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.firstname + ' ' + user.lastname}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Administration</li>
                                <li class="breadcrumb-item active">Administrer medlemmer</li>
                                <li class="breadcrumb-item active" th:text="${user.firstname + ' ' + user.lastname}"></li>
                            </ol>
                        </div>
                        <h4 class="page-title" th:text="${user.firstname + ' ' + user.lastname}"></h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <!--General info-->
                    <div class="card">
                        <div class="card-body">
                            <div th:replace="panel/management/manageMembers/singleUser/content/generalInfo :: generalInfo"></div>
                        </div>
                    </div>

                    <!--Teams-->
                    <div class="card">
                        <div class="card-body">
                            <div th:replace="panel/management/manageMembers/singleUser/content/teams :: teams"></div>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="col-md-8 col-lg-8 col-xl-8">
                    <!--generel info-->
                    <div class="card">
                        <div class="card-body">

                            <div th:replace="panel/management/manageMembers/singleUser/content/graphs :: graphs"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:replace="panel/management/manageMembers/singleUser/modal/editUserModal :: editUserModal"></div>
</th:block>

<th:block layout:fragment="script">
    <script src="/JavaScript/Panel/administration/manageMembers/singleUser/singleUser.js"></script>
</th:block>
</body>
</html>