<div th:fragment="firstTime" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="content_bookkeeping_hasNoData" style="display: none; text-align: center">
        <h4 class="text-muted">Automatisk bogføring er ikke sat op endnu</h4>
        <h3>For at sætte automatisk bogføring op skal du gå til <i><a href="/panel/foreningsindstillinger">Indstillinger -> Økonomi og regnskab</a></i></h3>
    </div>
</div>