<div th:fragment="notFirstTime" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="content_bookkeeping_hasData" style="display: none;">
        <div class="form-group mb-0" style="width: 700px; margin-right: auto; margin-left: auto; display: block">
            <label>Tidsperiode</label>
            <div>
                <div class="input-daterange input-group" id="date-range">
                    <input id="dr_bookkeeping_start" type="text" class="form-control" name="start" placeholder="Start Dato (fra og med)" />
                    <input id="dr_bookkeeping_end" type="text" class="form-control" name="end" placeholder="Slut Dato (til og med)" />
                </div>
            </div>
        </div>
        <br>
        <hr>
        <h5>Bogføring pr. hold</h5>
        <table class="table table-bordered" id="tbl_bookkeeping_teams">
            <thead>
            <tr>
                <th style="width: 300px">Hold</th>
                <th>Konto</th>
                <th>Modkonto</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Team : ${currentUnion.teams}" th:id="${Team.teamId}">
                <td th:text="${Team.title}" name="TeamTitle"></td>
                <td name="Account">
                    <select th:id="${'sel_bookkeeping_accounts_' + Team.teamId}" class="form-control">
                    </select>
                </td>
                <td name="Counter">
                    <select id="sel_bookkeeping_counter" class="form-control">
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h5>Bogføring for slettede hold</h5>
        <p class="text-muted" style="margin: 0;">*Har du slettet et eller flere hold i perioden du ønsker at bogføre, skal de sendes til kassekladden på samme konto</p>
        <table class="table table-bordered" id="tbl_bookkeeping_noTeams">
            <thead>
            <tr>
                <th style="width: 300px"></th>
                <th>Konto</th>
                <th>Modkonto</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p style="margin: 0;">Fakturaer fra slettede hold</p>
                </td>
                <td>
                    <select id="sel_notFirstTime_account" class="form-control">
                    </select>
                </td>
                <td>
                    <select id="sel_notFirstTime_counter" class="form-control">
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <br>

        <div th:replace="panel/economics/bookkeeping/content/content/settings :: settings"></div>

        <br>
        <br>
        <br>
        <hr>

        <br>
        <button class="btn btn-primary" style="float: right;" id="btn_bookkeeping_send">Send til kassekladde</button>
        <button class="btn btn-dark" style="float: right; margin-right: 5px;" id="btn_bookkeeping_history" data-toggle="modal" data-target="#modal_bookkeepingHistory">Se bogføringshistorik</button>

    </div>
</div>