<div th:fragment="editHallModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- rediger Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modal_editHallModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="redigerHalModalLabel">Opdater hal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="modalRedigerHallTitle" class="col-form-label">Navn på hal</label>
                                <input class="form-control" type="text" id="modalRedigerHallTitle" placeholder="Title...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="modalRedigerAvalibleCourts" class="col-form-label">Tilgængelige antal baner</label>
                                <input class="form-control" type="number" id="modalRedigerAvalibleCourts" placeholder="Tilgængelige baner...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="modalRedigerLongitude" class="col-form-label">Længdegrader</label>
                                <input class="form-control" type="number" id="modalRedigerLongitude" placeholder="Længdegrader...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="modalRedigerLatitude" class="col-form-label">Breddegrader</label>
                                <input class="form-control" type="number" id="modalRedigerLatitude" placeholder="Breddegrader...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btnOpdaterHal" class="btn btn-primary waves-effect waves-light">Opdater hal</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>