<div th:fragment="newHallModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Opret Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modal_newHallModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Opret ny hal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="modalHallTitle" class="col-form-label">Navn på hal</label>
                                <input class="form-control" type="text" id="modalHallTitle" placeholder="Title...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="modalAvalibleCourts" class="col-form-label">Tilgængelige antal baner</label>
                                <input class="form-control" type="number" id="modalAvalibleCourts" placeholder="Tilgængelige baner...">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="modalAvalibleCourts" class="col-form-label">Søg efter lokation</label>
                                <input class="form-control" id="searchBox" type="text" placeholder="Søg lokation...">
                                <br>
                                <div id="map" style="width: 100%; height: 350px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btnOpretHal" class="btn btn-primary waves-effect waves-light">Opret hal</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>