<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Administrer afdelinger</title>

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <link href="/panelResources/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Opsætning</li>
                                <li class="breadcrumb-item active">Afdelinger</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Afdelinger</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div>
                                        <h5 style="position:absolute;" class="text-muted">Opret eller rediger afdelinger</h5>

                                        <a style="padding-top: 10px;" href="#" class="float-right" th:if="${currentUser.role.rolePermissions.canAdministrate}" data-toggle="modal" data-animation="bounce" data-target="#modal_newDepartmentModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80" viewBox="0 0 30 30" style=" fill:#419ACA;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21,16h-5v5 c0,0.553-0.448,1-1,1s-1-0.447-1-1v-5H9c-0.552,0-1-0.447-1-1s0.448-1,1-1h5V9c0-0.553,0.448-1,1-1s1,0.447,1,1v5h5 c0.552,0,1,0.447,1,1S21.552,16,21,16z"></path></svg>
                                        </a>

                                        <div style="padding-top: 35px; width: calc(100% - 80px); margin-left: -1.25rem;">
                                            <hr>
                                        </div>
                                    </div>

                                    <table class="table table-bordered table-striped" id="tbl_departments_departments">
                                        <thead>
                                        <tr>
                                            <th>Navn på afdeling</th>
                                            <th data-priority="3">Udseende</th>
                                            <th data-priority="3"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="TeamDepartment : ${currentUnion.departments}">
                                            <td th:id="${'afdelingTitle' + TeamDepartment.id}" th:text="${TeamDepartment.title}"></td>
                                            <td th:id="${'afdelingColor' + TeamDepartment.id}" th:text="${TeamDepartment.textColor}" th:style="${'box-sizing: border-box; background-color: ' + TeamDepartment.color + '; color: ' + TeamDepartment.textColor}"></td>
                                            <td>
                                                <a href="#" class="btn btn-info" onclick="editTeamDepartment(this.id)" th:id="${TeamDepartment.id}">Rediger afdeling</a>
                                                <!--<button class="btn btn-danger" th:id="${TeamDepartment.id}" onclick="deleteDepartment(this.id)">Slet</button>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Unie <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <!--Modals-->
    <div th:replace="panel/setup/departments/modals/newDepartmentModal.html :: newDepartmentModal"></div>
    <div th:replace="panel/setup/departments/modals/editDepartmentModal.html :: editDepartmentModal"></div>


</th:block>

<th:block layout:fragment="script">

    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="/panelResources/plugins/sweet-alert2/sweetalert2.min.js"></script>

    <script src="/panelResources/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="/panelResources/plugins/tiny-editable/numeric-input-example.js"></script>
    <script src="/panelResources/plugins/tabledit/jquery.tabledit.js"></script>

    <!--Calendar related-->
    <script src="/panelResources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/panelResources/plugins/moment/moment.js"></script>
    <script src='/panelResources/plugins/fullcalendar/js/fullcalendar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/da.js"></script>

    <script src="/panelResources/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <script src="/JavaScript/Panel/setup/departments/departments.js"></script>

</th:block>
</body>
</html>