<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Booking oversigt - ' + hall.title}"></title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/panelResources/images/favicon.ico">

    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">
</head>
<body>

<h5 class="text-white" style="position: absolute; bottom: 5px;; right: 10px;">Tid til genindlæsning: <span id="lbl_bookingoverview_timer">60</span></h5>
    <div class="card card-shadow card-border" style="margin: 50px;border: thin solid Gainsboro;">
        <div class="card-body">
            <div id="bookingOverview">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-muted" style="text-align: center;" th:text="${date}"></h3>
                        <h1 style="text-align: center;" th:text="${hours}"></h1>
                    </div>
                </div>
                <div style="display: flex; flex-wrap: wrap">
                    <div th:If="${not #lists.isEmpty(courts)}" th:each="Entry : ${courts}" th:style="${'flex: 0 0 calc(100%/ ' + hall.courtsAvalible + '); width: 50px; position: relative; padding: 20px;'}">
                        <div class="row">
                            <div class="col-12">
                                <h3 style="text-align: center" th:text="${Entry[0].title}"></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <img th:if="${Entry[1].booked}" src="/UIElements/BadmintonCourtEmpty.svg" style="filter: grayscale(90%)">
                                <img th:if="${!Entry[1].booked}" src="/UIElements/BadmintonCourtEmpty.svg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <br>
                                <div style="width: 300px; display: block; margin-left: auto; margin-right: auto">
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr>
                                            <td><i>Status:</i></td>
                                            <td th:if="${Entry[1].booked}" style="color: red;">Optaget</td>
                                            <td th:if="${!Entry[1].booked}" style="color: green;">Ledig</td>
                                        </tr>
                                        <tr th:if="${Entry[1].booked}">
                                            <td><i>Navn:</i></td>
                                            <td th:text="${Entry[1].recipientName}"></td>
                                        </tr>
                                        <tr th:if="${Entry[1].booked}">
                                            <td><i>Tid</i></td>
                                            <td th:text="${Entry[1].startHour + '-' + Entry[1].endHour}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${#lists.isEmpty(courts)}">
                    <br>
                    <h1 class="col-12" style="text-align: center"><i>Der er ikke opsat en booking periode for nuværende tidspunkt i denne hal</i></h1>
                </div>
            </div>
        </div>
    </div>

    <script src="/panelResources/js/jquery.min.js"></script>
    <script src="/JavaScript/Panel/courtbooking/bookingoverview.js"></script>
</body>
</html>