<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Banebooking</title>

    <link rel="stylesheet" href="/panelResources/plugins/scheduler/core/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/daygrid/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/timegrid/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/timeline/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/resource-timeline/main.css">

    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/CSS/clubtimize-tabs.css">

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Banebooking</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Banebooking</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div id='calendar'></div>
                            <div style='clear:both'></div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Unie <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
    
    <div th:replace="panel/courtbooking/modal/seeBookingModal :: seeBookingModal"></div>

</th:block>

<th:block layout:fragment="script">
    <!--&lt;!&ndash;Calendar related&ndash;&gt;-->
    <!--<script src="/panelResources/plugins/jquery-ui/jquery-ui.min.js"></script>-->
    <!--<script src="/panelResources/plugins/moment/moment.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script src="/panelResources/plugins/scheduler/core/main.js"></script>
    <script src="/panelResources/plugins/scheduler/interaction/main.js"></script>
    <script src="/panelResources/plugins/scheduler/daygrid/main.js"></script>
    <script src="/panelResources/plugins/scheduler/timegrid/main.js"></script>
    <script src="/panelResources/plugins/scheduler/timeline/main.js"></script>
    <script src="/panelResources/plugins/scheduler/resource-common/main.js"></script>
    <script src="/panelResources/plugins/scheduler/resource-timeline/main.js"></script>
    <script src="/panelResources/plugins/fullcalendar/locales/da.js"></script>

    <script src="/JavaScript/Panel/courtbooking/courtbooking.js"></script>
</th:block>
</body>
</html>