.project-budget-chart {
    height: 328px;
}
.project-budget-detail-chart{
    height: 265px;
}
.workloed-chart{
    height: 273px;
}

/*dashboard 2*/
.overview-chart{
    height: 345px;
}
.summary-chart{
    height: 230px;
}
.dashboard-map{
    height: 290px;
}