<div th:fragment="contingents" xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table id="tbl_subscriptions_subscriptions" class="table table-bordered">
            <thead>
            <tr>
                <th>Transaktions nummer</th>
                <th>Transaktions type</th>
                <th>Dato</th>
                <th>Pris uden gebyrer</th>
                <th>Pris med begyrer og moms</th>
                <th>Brugers fulde navn</th>
                <th>Brugers email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Invoice : ${invoices}" th:if="${Invoice.type == 'Kontingent'}">
                <td th:data-order="${#strings.arraySplit(Invoice.invoiceNumber, '-')[0]}"><a th:href="${'/panel/fakturaer/faktura?faknr=' + Invoice.invoiceNumber}" th:text="${Invoice.invoiceNumber}"></a></td>
                <td th:text="${Invoice.type}"></td>
                <td th:text="${Invoice.date}"></td>
                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Invoice.totalCostWithoutAdditional)}"></td>
                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Invoice.totalCostWithAdditional)}"></td>

                <td th:if="${Invoice.user == null}">Ingen bruger tilknyttet</td>
                <td th:if="${Invoice.user != null}" th:text="${Invoice.user.firstname + ' ' + Invoice.user.lastname}"></td>

                <td th:if="${Invoice.user == null}">Ingen bruger tilknyttet</td>
                <td th:if="${Invoice.user != null}" th:text="${Invoice.user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>