<div th:fragment="courtbookings" xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table id="tbl_courtbookings_courtbookings" class="table table-bordered">
            <thead>
            <tr>
                <th>Transaktions nummer</th>
                <th>Transaktions type</th>
                <th>Dato</th>
                <th>Pris uden gebyrer</th>
                <th>Pris med begyrer og moms</th>
                <th>Lejerens fulde navn</th>
                <th>Lejerens email</th>
                <th>Lejerens addresse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Invoice : ${invoices}" th:if="${Invoice.type == 'Banebooking'}">
                <td th:data-order="${#strings.arraySplit(Invoice.invoiceNumber, '-')[0]}"><a th:href="${'/panel/fakturaer/faktura?faknr=' + Invoice.invoiceNumber}" th:text="${Invoice.invoiceNumber}"></a></td>
                <td th:text="${Invoice.type}"></td>
                <td th:text="${Invoice.date}"></td>
                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Invoice.totalCostWithoutAdditional)}"></td>
                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Invoice.totalCostWithAdditional)}"></td>

                <td th:if="${Invoice.assosiatedBooking == null}">Booking slettet eller annulleret</td>
                <td th:if="${Invoice.assosiatedBooking != null}" th:text="${Invoice.assosiatedBooking.recipientName}"></td>

                <td th:if="${Invoice.assosiatedBooking == null}">Booking slettet eller annulleret</td>
                <td th:if="${Invoice.assosiatedBooking != null}" th:text="${Invoice.assosiatedBooking.recipientEmail}"></td>

                <td th:if="${Invoice.assosiatedBooking == null}">Booking slettet eller annulleret</td>
                <td th:if="${Invoice.assosiatedBooking != null}" th:text="${Invoice.assosiatedBooking.recipientAddress}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>