<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Transaktioner</title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-tabs.css">
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Regnskab</li>
                                <li class="breadcrumb-item active">Transaktioner</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Transaktioner oversigt</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                    <div class="card">
                        <div class="card-body">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" roleName="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kontingenter" roleName="tab">Transaktioner</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#administrationsgebyrer" roleName="tab">Clubtimize gebyrer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#gæld" roleName="tab">Tilgodehavende hos Clubtimize</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content clubtimize-tab-content">

                                <div class="tab-pane active p-3" id="kontingenter" roleName="tabpanel">
                                    <div th:replace="panel/economics/invoices/content/invoices :: invoices"></div>
                                </div>

                                <div class="tab-pane p-3" id="administrationsgebyrer" roleName="tabpanel">
                                    <div th:replace="panel/economics/invoices/content/fees :: subscriptionFees"></div>
                                </div>

                                <div class="tab-pane p-3" id="gæld" roleName="tabpanel">
                                    <div th:replace="panel/economics/invoices/content/debt :: debt"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Unie <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">
    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/JavaScript/Panel/econimics/invoices.js"></script>
</th:block>
</body>
</html>