<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Administrer events</title>

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <link href="/panelResources/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <style>
        .wizard > .steps > ul > li
        {
            width: 50%;
        }

        .select2-search__field
        {
            border: none!important;
        }
    </style>

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Opsætning</li>
                                <li class="breadcrumb-item active">Events</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Events opsætning</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div>
                                        <h5 style="position:absolute;" class="text-muted">Opret events</h5>

                                        <a style="padding-top: 10px;" href="#" class="float-right" th:if="${currentUser.role.rolePermissions.canAdministrate}" data-toggle="modal" data-animation="bounce" data-target="#modal_newEventModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80" viewBox="0 0 30 30" style=" fill:#419ACA;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21,16h-5v5 c0,0.553-0.448,1-1,1s-1-0.447-1-1v-5H9c-0.552,0-1-0.447-1-1s0.448-1,1-1h5V9c0-0.553,0.448-1,1-1s1,0.447,1,1v5h5 c0.552,0,1,0.447,1,1S21.552,16,21,16z"></path></svg>
                                        </a>

                                        <div style="padding-top: 35px; width: calc(100% - 80px); margin-left: -1.25rem;">
                                            <hr>
                                        </div>
                                    </div>

                                    <table class="table table-bordered table-striped" id="tbl_events_upcomming">
                                        <thead>
                                        <tr>
                                            <th>Titel</th>
                                            <th>Fra</th>
                                            <th>Til</th>
                                            <th>Deadline</th>
                                            <th>Sted</th>
                                            <th>Pris</th>
                                            <th>Antal deltagere</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="Event : ${upcommingEvents}">
                                            <td><a th:href="${'/panel/event?event=' + Event.id}" th:text="${Event.title}"></a></td>
                                            <td th:text="${Event.dateFrom + ' - ' + Event.timeFrom}"></td>
                                            <td th:text="${Event.dateTo + ' - ' + Event.timeTo}"></td>
                                            <td th:text="${Event.deadlineDate + ' - ' + Event.deadlineTime}"></td>
                                            <td th:text="${Event.location}"></td>
                                            <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(Event.price)}"></td>
                                            <td th:text="${#lists.size(Event.participants)}"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:replace="panel/setup/events/modal/newEventModal :: newEventModal"></div>


</th:block>

<th:block layout:fragment="script">

    <!--Wysiwig js-->
    <script src="/panelResources/plugins/tinymce/tinymce.min.js"></script>

    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/panelResources/plugins/jquery-steps/jquery.steps.min.js"></script>

    <script src="/panelResources/plugins/select2/select2.min.js"></script>

    <script src="/JavaScript/Panel/setup/events/events.js"></script>

</th:block>
</body>
</html>