<div th:fragment="dashboardCoach" xmlns:th="http://www.thymeleaf.org" th:if="${chosenPerspective == 'Træner'}">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
            <div th:replace="panel/dashboard/content/coach/content/myTeams :: myTeams"></div>
        </div>
    </div><!--end row-->

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
            <div th:replace="panel/dashboard/content/coach/content/nextTraining :: nextTraining"></div>
        </div>
    </div>
</div>

