<div th:fragment="newSeasonBookingPeriodModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_newSeasonBookingPeriodModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Banebookning opsætning - periode</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="form-group mb-0" style="width: 700px; margin-right: auto; margin-left: auto; display: block">
                        <label>Tidsperiode</label>
                        <div>
                            <div class="input-daterange input-group" id="date-range">
                                <input id="dr_newSeasonBookingPeriodModal_start" type="text" class="form-control" name="start" placeholder="Start Dato (fra og med)" />
                                <input id="dr_newSeasonBookingPeriodModal_end" type="text" class="form-control" name="end" placeholder="Slut Dato (til og med)" />
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="sel_newSeasonBookingPeriodModal_dayOfWeek" class="col-form-label">Ugedag</label>
                        <select id="sel_newSeasonBookingPeriodModal_dayOfWeek" class="form-control">
                            <option value="mandag">Mandag</option>
                            <option value="tirsdag">Tirsdag</option>
                            <option value="onsdag">Onsdag</option>
                            <option value="torsdag">Torsdag</option>
                            <option value="fredag">Fredag</option>
                            <option value="lørdag">Lørdag</option>
                            <option value="søndag">Søndag</option>
                        </select>
                    </div>

                    <br>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_newSeasonBookingPeriodModal_start" class="col-form-label">Fra klokken</label>
                        <input class="form-control" type="number" id="inp_newSeasonBookingPeriodModal_start" min="0" max="23">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingPeriodModal_start_validate"></ul>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_newSeasonBookingPeriodModal_end" class="col-form-label">Til klokken</label>
                        <input class="form-control" type="number" id="inp_newSeasonBookingPeriodModal_end" min="0" max="23">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingPeriodModal_end_validate"></ul>
                    </div>

                    <br>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="sel_newSeasonBookingPeriodModal_interval" class="col-form-label">Booking interval</label>
                        <select id="sel_newSeasonBookingPeriodModal_interval" class="form-control">
                            <option value="hour">En time af gangen</option>
                            <!--<option value="halfHour">En halv time af gangen</option>-->
                        </select>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_newSeasonBookingPeriodModal_price" class="col-form-label">Pris for periode i DKK (Dette vil blive opkrævet én gang)</label>
                        <input class="form-control" type="number" id="inp_newSeasonBookingPeriodModal_price" min="0">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingPeriodModal_price_validate"></ul>
                    </div>

                    <br>

                    <div style="padding-left: 15px;">
                        <div class="checkbox my-2" style="margin: 0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="che_newSeasonBookingPeriodModal_reserve" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                <label class="custom-control-label" for="che_newSeasonBookingPeriodModal_reserve">Udeluk enkeltbookninger i denne periode</label>
                            </div>
                        </div>
                        <p class="text-muted" style="font-size: 12px">*Slå denne checkbox til hvis det ikke skal være muligt, at foretage enkelt bookinger i denne periode</p>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0" id="content_newSeasonBookingPeriod_singlePrice">
                        <label for="inp_newSeasonBookingPeriodModal_price_single" class="col-form-label">Pris for enkelt booking i denne periode</label>
                        <input class="form-control" type="number" id="inp_newSeasonBookingPeriodModal_price_single" min="0">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newSeasonBookingPeriodModal_price_single_validate"></ul>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_newSeasonBookingPeriodModal_makePeriod" class="btn btn-primary waves-effect waves-light">Opret banebookning</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>