<div th:fragment="latestMatches" xmlns:th="http://www.thymeleaf.org">
    <div class="card" style="height: 300px;">
        <div class="card-body ">
            <h5>Seneste kampe</h5>
            <hr>

        </div>
    </div>
</div>
