<div th:fragment="myTeams" xmlns:th="http://www.thymeleaf.org">
    <div class="card">
        <div class="card-body ">
            <h5>Mine hold</h5>
            <hr>
            <div class="accordion" id="accordionExample">
                <div class="card mb-0" th:each="UserSeason : ${currentUser.userSeasons}">
                    <div class="card-header" th:id="${UserSeason.id}">
                        <h5 class="my-0">
                            <button th:text="${UserSeason.unionSeason.seasonYear}" class="btn btn-link ml-3" type="button" data-toggle="collapse" th:data-target="${'#' + 'season' + UserSeason.id}" aria-controls="collapseOne"></button>
                        </h5>
                    </div>

                    <div th:id="${'season' + UserSeason.id}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body font-13" style="padding: 0; margin: 0;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Hold</th>
                                    <th>Afdeling</th>
                                    <th>Betaling</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="TeamSeason : ${UserSeason.teamSeasons}">
                                    <td th:text="${TeamSeason.team.title}"></td>
                                    <td th:text="${TeamSeason.team.teamDepartment.title}"></td>
                                    <td th:if="${TeamSeason.paymentSuccessful}"><span th:text="${'Betaling godkendt'}" class="badge badge-boxed  badge-success" style="font-size: 12px"></span></td>
                                    <td th:if="${not TeamSeason.paymentSuccessful}"><a th:href="${'/payforseason?season=' + TeamSeason.userSeason.unionSeason.seasonYear + '&team=' + TeamSeason.team.teamId}"><span class="badge badge-boxed  badge-danger" style="font-size: 12px">Nej - klik her for at betale nu</span></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>