<div th:fragment="nextTraining" xmlns:th="http://www.thymeleaf.org">
    <div class="card" style="max-height: 500px;">
        <div class="card-body">
            <h5>Din næste træning</h5>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td><span class="mdi mdi-account-multiple"></span> Hold:</td>
                            <td th:text="${nextTraining.team.title + ' - ' + nextTraining.team.teamDepartment.title}"></td>
                        </tr>
                        <tr>
                            <td><span class="mdi mdi-calendar"></span> Dato:</td>
                            <td th:text="${nextTraining.date}"></td>
                        </tr>
                        <tr>
                            <td><span class="mdi mdi-calendar-clock"></span> Tid:</td>
                            <td th:text="${nextTraining.timeFrom + ' - ' + nextTraining.timeTo}"></td>
                        </tr>
                        <tr>
                            <td><span class="dripicons-location"></span> Sted:</td>
                            <td th:text="${nextTraining.hall.title}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h5><span class="mdi mdi-image-filter-center-focus"></span> Focus:</h5>
                    <i th:text="${nextTraining.focus.description}"></i>
                </div>
            </div>
        </div>
    </div>
</div>
