<div th:fragment="trainingOverview" xmlns:th="http://www.thymeleaf.org">
    <div class="card">
        <div class="card-body ">
            <!--<h5>Mine træninger</h5>-->
            <!--<hr>-->
            <div id='calendar'></div>
            <div style='clear:both'></div>
        </div>
    </div>
</div>