<div th:fragment="economy" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <h3><i>Betaling af gebyrer</i></h3>
        <div class="custom-control custom-checkbox">
            <input th:if="${currentUnion.unionEconomics.isPayingFees() == false}" type="checkbox" class="custom-control-input" id="che_economy_whopays">
            <input th:if="${currentUnion.unionEconomics.isPayingFees() == true}" type="checkbox" class="custom-control-input" id="che_economy_whopays" checked>
            <label class="custom-control-label" id="lbl_economy_whopays" for="che_economy_whopays">Foreningen betaler gebyrer</label>
        </div>
    </div>
    <hr>
    <div>
        <h3><i>Automatisk regnskab</i></h3>

        <div th:replace="panel/unionsettings/content/economy/content/firstTime :: firstTime"></div>
        <div th:replace="panel/unionsettings/content/economy/content/dinero :: dinero"></div>
        <div th:replace="panel/unionsettings/content/economy/content/economic :: economic"></div>

    </div>

    <div th:replace="panel/unionsettings/content/economy/modals/setupBookkeepingModal :: setupBookkeepingModal"></div>
</div>