<div th:fragment="setupBookkeepingModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Opret holdkategori modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_setupBookkeepingModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Opsætning af automatisk bogføring</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <!--GENERELT-->
                    <div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="sel_setupBookkeepingModal_accountingprogram" class="col-form-label">Regnskabsprogram</label>
                                    <select id="sel_setupBookkeepingModal_accountingprogram" class="form-control">
                                        <option value="Dinero">Dinero</option>
                                        <option value="Economic">Economic</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <!--DINERO-->
                    <div id="content_setupBookkeepingModal_Dinero">
                        <img src="/img/regnskabsprogrammer/dinero2019.jpg" style="max-height: 100px; margin-left: auto; margin-right: auto; display: block;">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="inp_setupBookkeepingModal_APIKey_Dinero" class="col-form-label">Dinero API nøgle</label>
                                    <input class="form-control" type="text" id="inp_setupBookkeepingModal_APIKey_Dinero" placeholder="API nøgle...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_setupBookkeepingModal_APIKey_Dinero_validate"></ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="control-label">Dinero Firma ID</label>
                                    <input class="form-control" type="number" id="inp_setupBookkeepingModal_organizationID_Dinero" placeholder="Firma ID...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_setupBookkeepingModal_organizationID_Dinero_validate"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--ECONOMIC-->
                    <div id="content_setupBookkeepingModal_Economic" style="display: none;">
                        <img src="/img/regnskabsprogrammer/economics2019.jpg" style="max-height: 50px; margin-left: auto; margin-right: auto; display: block;">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="inp_setupBookkeepingModal_APIKey_Dinero" class="col-form-label">Economic API nøgle</label>
                                    <input class="form-control" type="text" id="inp_setupBookkeepingModal_APIKey_Economic" placeholder="API nøgle...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_setupBookkeepingModal_APIKey_Economic_validate"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_setupBookkeepingModal_save" class="btn btn-primary waves-effect waves-light">Færdiggør opsætning</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
