<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">

<head>
    <meta charset="UTF-8">
    <title>Træning</title>

    <link rel="stylesheet" href="/CSS/clubtimize-tabs.css">
    <style>
        .clubtimize-box{
            background-color: white;
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title" style="display: inline" th:text="${'Træning - ' + training.team.title}"></h4>
                        <h4 class="page-title" style="display: inline; float: right" th:text="${'Dato: ' + training.date}"></h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" roleName="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#information" roleName="tab">Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#træningsplan"
                                       roleName="tab">Træningsplan</a>
                                </li>
                                <!--<li th:if="${currentUser.role.rolePermissions.canUseTrainerFeatures}" class="nav-item">-->
                                    <!--<a class="nav-link" data-toggle="tab" href="#kamprunde" roleName="tab">Kamprunder</a>-->
                                <!--</li>-->
                                <li th:if="${currentUser.role.rolePermissions.canUseTrainerFeatures}" class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#afkrydsning" roleName="tab">Afkrydsning</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content clubtimize-tab-content">

                                <div class="tab-pane active p-3" id="information" roleName="tabpanel">
                                    <div th:replace="panel/træning/content/informationContent :: informationContent"></div>
                                </div>


                                <div class="tab-pane p-3" id="træningsplan" roleName="tabpanel">
                                    <div th:replace="panel/træning/content/trainingplanContent :: trainingplanContent"></div>
                                </div>

                                <!--<div th:if="${currentUser.role.rolePermissions.canUseTrainerFeatures}" class="tab-pane p-3" id="kamprunde" roleName="tabpanel">-->
                                    <!--<div th:replace="panel/træning/content/matchesContent :: matchesContent"></div>-->
                                <!--</div>-->

                                <div th:if="${currentUser.role.rolePermissions.canUseTrainerFeatures}" class="tab-pane p-3" id="afkrydsning" roleName="tabpanel">
                                    <div th:replace="panel/træning/content/checkmarkingContent :: checkmarkingContent"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--end row-->
        </div><!-- container -->

        <div th:replace="panel/træning/modals/addCommentModal :: addCommentModal"></div>
        <div th:replace="panel/træning/modals/editFocusModal :: editFocusModal"></div>

        <div th:if="${training.hall != null}" th:text="${training.hall.longitude}" id="divLongitude" style="display: none;"></div>
        <div th:if="${training.hall != null}" th:text="${training.hall.latitude}" id="divLatitude" style="display: none;"></div>
        <div id="ChosenModuleId" style="display: none;"></div>

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>

    </div>
<!-- end page content -->
</th:block>
<th:block layout:fragment="script">

    <!-- Chart JS -->
    <script src="/panelResources/plugins/chart.js/chart.min.js"></script>
    <script src="/panelResources/pages/jquery.chartjs.init.js"></script>

    <script src="/JavaScript/Panel/trainertools/traenertoolsJS.js"></script>

    <!-- google maps api -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyB_hkIEVMrj_x8fJ-6tXtnQzoGexV3-P-g"></script>
    <!-- Gmaps file -->
    <script src="/panelResources/plugins/gmaps/gmaps.min.js"></script>
    <!-- demo codes -->
    <!--<script th:src="@{/panel/pages/jquery.gmaps.js}"></script>-->

</th:block>
</body>

</html>