<div th:fragment="inviteTimePeriodModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_inviteTimePeriodModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Inviter til periode booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="col-sm-12 row" style="margin: 0;">
                        <label for="inp_inviteTimePeriodModal_email" class="col-form-label">Email</label>
                        <input class="form-control" type="email" id="inp_inviteTimePeriodModal_email">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_inviteTimePeriodModal_email_validate"></ul>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0;">
                        <label for="inp_inviteTimePeriodModal_name" class="col-form-label">Navn</label>
                        <input class="form-control" type="text" id="inp_inviteTimePeriodModal_name">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_inviteTimePeriodModal_name_validate"></ul>
                    </div>

                    <br>

                    <div style="padding-left: 15px;">
                        <div class="checkbox my-2" style="margin: 0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="che_inviteTimePeriodModal_reserve" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                <label class="custom-control-label" for="che_inviteTimePeriodModal_reserve">Kun den inviterede kan booke denne periode</label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_inviteTimePeriodModal_invite" class="btn btn-primary waves-effect waves-light">Send invitation</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>