<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.title}"></title>

    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css"/>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-tabs.css">

    <link rel="stylesheet" href="/panelResources/plugins/FlipClock/src/compiled/flipclock.css">

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <style>

        .flip-clock-wrapper .flip-clock-divider .flip-clock-label {
            color: black;
            font-size: 15px;
        }

        .clock {
            zoom: 0.75;
            -moz-transform: scale(0.75)
        }
    </style>

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Events</li>
                                <li class="breadcrumb-item active" th:text="${event.title}"></li>
                            </ol>
                        </div>
                        <h4 class="page-title" th:text="${event.title}"></h4>
                    </div>
                </div>
            </div>

            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-4">

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                            <div class="card">
                                <div class="card-body ">

                                    <a th:if="${currentUser.unionAdministrator}" id="btn_singleEvent_editInfo" href="javascript:void(0)" data-toggle="modal" data-target="#modal_editDescriptionModal">Rediger info</a>

                                    <hr th:if="${currentUser.unionAdministrator}" style="margin-left: -1.25rem;margin-right: -1.25rem;">

                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr>
                                            <td><span class="mdi mdi-clock-start"></span> Fra: </td>
                                            <td th:text="${event.dateFrom + ' kl. ' + event.timeFrom}"></td>
                                        </tr>
                                        <tr>
                                            <td><span class="mdi mdi-clock-end"></span> Til: </td>
                                            <td th:text="${event.dateTo + ' kl. ' + event.timeTo}"></td>
                                        </tr>
                                        <tr>
                                            <td><span class="mdi mdi-clock-fast"></span> Deadline: </td>
                                            <td th:text="${event.deadlineDate + ' kl. ' + event.deadlineTime}"></td>
                                        </tr>
                                        <tr>
                                            <td><span class="dripicons-location"></span> Sted: </td>
                                            <td th:text="${event.location}"></td>
                                        </tr>
                                        <tr>
                                            <td><span class="mdi mdi-cash"></span> Pris: </td>
                                            <td><u style="color: green" th:if="${event.price != 0}" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(event.price)}"></u></td>
                                            <td th:if="${event.price == 0}">Gratis</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <hr style="margin-left: -1.25rem;margin-right: -1.25rem;">

                                    <button th:if="${!isParticipating && !currentUser.isUnionAdministrator() && notPastDeadline}" th:id="${event.id}" style="width: 100%;" class="btn btn-primary" onclick="joinEvent(this.id, this)">
                                        <p style="margin: 0;">Tilmeld mig dette event</p>
                                        <p th:if="${event.price == 0}" class="font-12" style="margin: 0;">Det er gratis</p>
                                        <p th:if="${event.price != 0}" class="font-12" style="margin: 0;">Og gå til betaling: <u style="color: LawnGreen ;" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(paymentPrice)}"></u></p>
                                    </button>

                                    <button th:if="${isParticipating && !currentUser.isUnionAdministrator() && notPastDeadline}" th:id="${event.id}" style="width: 100%;" class="btn btn-danger" onclick="leaveEvent(this.id, this)">
                                        <p style="margin: 0;">Du er allerede tilmeldt dette event</p>
                                        <p class="font-12" style="margin: 0;">Klik her for at afmelde dig</p>
                                    </button>

                                    <button th:if="${currentUser.isUnionAdministrator() && notPastDeadline}" style="width: 100%;" class="btn btn-dark" disabled>
                                        <p style="margin: 0;">Administrator kan ikke tilmede sig events</p>
                                    </button>

                                    <button th:if="${!notPastDeadline}" style="width: 100%;" class="btn btn-dark" disabled>
                                        <p style="margin: 0;">Deadline for denne even er overskredet</p>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

<!--                    <div class="row">-->
<!--                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">-->
<!--                            <div class="card">-->
<!--                                <div class="card-body ">-->

<!--                                    <div style="float: right;">-->
<!--                                        <div class="clock timer" style="display: block; margin-left: auto; margin-right: auto; max-height: 100px"></div>-->
<!--                                        <div th:text="${millis}" id="millis" style="display: none;"></div>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash;end row&ndash;&gt;-->

                <div class="row" th:if="${currentUser.isUnionAdministrator()}">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                        <div class="card">
                            <div class="card-body ">
                                <h5 style="margin: 0;">Tilmeldinger</h5>
                                <hr class="clubtimize-hr">
                                <table class="table table-striped" >
                                    <thead>
                                    <tr>
                                        <th>Navn</th>
                                        <th>Mail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="Participant : ${event.participants}">
                                        <td th:text="${Participant.firstname + ' ' + Participant.lastname}"></td>
                                        <td th:text="${Participant.email}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div><!--end row-->

                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                            <div class="card">
                                <div class="card-body">
                                    <a th:if="${currentUser.unionAdministrator}" id="btn_singleEvent_editDescription" href="javascript:void(0)" data-toggle="modal" data-target="#modal_editDescriptionModal">Rediger beskrivelse</a>
                                    <hr th:if="${currentUser.unionAdministrator}" style="margin-left: -1.25rem;margin-right: -1.25rem;">
                                    <div th:utext="${event.description}" id="lbl_singleEvent_description"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                </div>
            </div>
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:if="${currentUser.unionAdministrator}">
        <div th:replace="panel/events/singleEvent/modal/editDescriptionModal :: editDescriptionModal"></div>
    </div>


</th:block>

<th:block layout:fragment="script">

    <!--Wysiwig js-->
    <script src="/panelResources/plugins/tinymce/tinymce.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="/panelResources/plugins/sweet-alert2/sweetalert2.min.js"></script>

    <script src="/panelResources/plugins/FlipClock/src/compiled/flipclock.js"></script>

    <script src="/JavaScript/Panel/events/event.js"></script>

</th:block>
</body>
</html>