<div th:fragment="newEventModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_newEventModal">
        <div class="modal-dialog modal-lg" style="max-width: 1500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Event opsætning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post" id="form_newEventModal" class="form-horizontal form-wizard-wrapper">
                        <h3>Generelle info</h3>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-8">
                                    <label for="inp_newEventModal_fromDate" class="col-form-label">Fra dato</label>
                                    <input class="form-control" type="date" id="inp_newEventModal_fromDate">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_fromDate_validate"></ul>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inp_newEventModal_fromTime" class="col-form-label">Klokken</label>
                                    <input class="form-control" type="time" id="inp_newEventModal_fromTime">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_fromTime_validate"></ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <label for="inp_newEventModal_toDate" class="col-form-label">Til dato</label>
                                    <input class="form-control" type="date" id="inp_newEventModal_toDate">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_toDate_validate"></ul>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inp_newEventModal_toTime" class="col-form-label">Klokken</label>
                                    <input class="form-control" type="time" id="inp_newEventModal_toTime">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_toTime_validate"></ul>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm-8">
                                    <label for="inp_newEventModal_toDate" class="col-form-label">Deadline dato</label>
                                    <input class="form-control" type="date" id="inp_newEventModal_deadlineDate">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_deadlineDate_validate"></ul>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inp_newEventModal_toTime" class="col-form-label">Klokken</label>
                                    <input class="form-control" type="time" id="inp_newEventModal_deadlineTime">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_deadlineTime_validate"></ul>
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="inp_newEventModal_toDate" class="col-form-label">Event titel</label>
                                    <input class="form-control" type="text" id="inp_newEventModal_title" min="0" placeholder="Titel...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_title_validate"></ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="inp_newEventModal_toDate" class="col-form-label">Sted</label>
                                    <input class="form-control" type="text" id="inp_newEventModal_location" min="0" placeholder="Sted...">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_location_validate"></ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="inp_newEventModal_toDate" class="col-form-label">Pris for event i DKK (Vælg 0 hvis gratis)</label>
                                    <input class="form-control" type="number" id="inp_newEventModal_price" min="0" value="0">
                                    <ul class="clubtimize-error-list clubtimize-hide" id="inp_newEventModal_price_validate"></ul>
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="form-group row  d-flex align-items-end">
                                <div class="col-sm-12">
                                    <label class="mt-2">Vælg hold der skal inviteres - klik i feltet</label>
                                    <select id="sel_newEvent_teams" class="select2 mb-3 select2-multiple" style="width: 100%" multiple="multiple" data-placeholder="Choose">
                                        <option th:each="Team : ${currentUnion.teams}" th:text="${Team.title}" th:value="${Team.teamId}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row  d-flex align-items-end">
                                <div class="col-sm-12">
                                    <label class="mt-2">Vælg personer der skal inviteres - klik i feltet</label>
                                    <select id="sel_newEvent_individuals" class="select2 mb-3 select2-multiple" style="width: 100%" multiple="multiple" data-placeholder="Choose">
                                        <option th:each="User : ${usersSorted}" th:text="${User.firstname + ' ' + User.lastname}" th:value="${User.userId}"></option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <h3>Event beskrivelse</h3>
                        <fieldset>
                            <textarea id="editor_eventCalendar" style="width: 99.8%;"></textarea>
                        </fieldset>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>