<div th:fragment="invitePlayerModal" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="newDepartmentModal" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="modal fade bs-example-modal-lg" id="modal_newInvitationModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title align-self-center mt-0">Ny invitation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="inp_invitePlayerModal_email" class="col-form-label">Spillers email</label>
                                    <input class="form-control" type="email" id="inp_invitePlayerModal_email" placeholder="Email...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="lbl_invitePlayerModal_team" class="col-form-label">Hold</label>
                                    <h5 id="lbl_invitePlayerModal_team" th:text="${chosenTeam.title + ' - ' + chosenTeam.teamDepartment.title}"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                        <button type="button" id="btn_invitePlayerModal_sendInv" class="btn btn-primary waves-effect waves-light">Send invitation</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
