<div th:fragment="settings" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-6">
            <h5>Indstillinger</h5>
            <div class="col-sm-12 row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="che_bookkeeping_withfees">
                    <label class="custom-control-label" id="lbl_bookkeeping_withfees" for="che_bookkeeping_withfees">Bogfør kontingenternes pris inklusiv gebyrer</label>
                </div>
                <br>
                <br>
            </div>
            <div class="col-sm-12 row" th:if="${currentUnion.unionEconomics.bookkeeping.chosenIntegration == 'Economic'}">
                <label for="sel_settings_economicAccountingYears">Regnskabsår</label>
                <select id="sel_settings_economicAccountingYears" class="form-control"></select>
            </div>
        </div>
        <div class="col-6">
            <h5>Automatisk bogføring</h5>
            <p class="text-muted">For at ændre disse indstillinger skal du gå til <i><a href="/panel/foreningsindstillinger">Indstillinger -> Økonomi og regnskab</a></i></p>
            <br>
            <h5 style="color: green">Automatisk regnskab er sat op til:</h5>
            <img id="img_settings_dinero" th:if="${currentUnion.unionEconomics.bookkeeping.chosenIntegration == 'Dinero'}" src="/img/regnskabsprogrammer/dinero2019.jpg" alt="" style="max-height: 50px;">
            <img id="img_settings_economic" th:if="${currentUnion.unionEconomics.bookkeeping.chosenIntegration == 'Economic'}" src="/img/regnskabsprogrammer/economics2019.jpg" alt="" style="max-height: 50px;">
        </div>
    </div>
</div>