<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title th:text="${union.name}">Clubtimize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by themesbrand" name="description" />
    <meta content="Themesbrand" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/landing/images/favicon.ico">

    <link rel="stylesheet" href="/panelResources/plugins/scheduler/core/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/daygrid/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/timegrid/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/timeline/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/resource-timeline/main.css">

    <!-- App css -->
    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css" />

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/landing/css/materialdesignicons.min.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="/landing/css/style.css" />
    <link rel="stylesheet" href="/CSS/clubtimize-error.css">
    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">

    <style>
        .fc-center > h2 {
            font-size: 30px;
        }
    </style>

</head>
<body>
<div class="container" style="max-width: calc(100% - 50px);">
    <div class="card card-shadow card-border" style="margin-top: 50px;border: thin solid Gainsboro;">
        <div class="card-body">

            <div style="padding: 10px;">
                <a class="btn btn-dark btn-sm" style="position: absolute;" th:href="${union.url}"><span class="mdi mdi-arrow-left"></span> Tilbage</a>
                <img th:src="${union.logoPath}" style="max-height: 150px; max-width: 400px; margin-left: auto; margin-right: auto; display: block;">
            </div>
            <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">

            <div id='calendar'></div>
            <div style='clear:both'></div>
            <p style="margin: 10px;" class="text-muted text-center"><u>Klik på en ledig tid for at booke</u></p>

            <br>
            <div style="text-align: center; padding-top: 5px">
                <button class="btn btn-light btn-sm" data-toggle="modal" data-target="#modal_newPeriodBookingModal">Jeg ønsker at booke over en længere periode</button>
            </div>

            <div id="url_courtbooking" style="display: none;" th:text="${union.url}"></div>
        </div>
    </div>
<span th:text="${version}" style="color: white; position:absolute; bottom: 10px; right: 10px; opacity: 0.5;"></span>

<div th:replace="clubpage/modals/newBookingModal :: newBookingModal"></div>
<div th:replace="clubpage/modals/newPeriodBookingModal :: newPeriodBookingModal"></div>

<!-- JAVASCRIPTS -->
<!-- jQuery  -->
<script src="/panelResources/js/jquery.min.js"></script>
<script src="/panelResources/js/bootstrap.bundle.min.js"></script>
<script src="/panelResources/js/metisMenu.min.js"></script>
<script src="/panelResources/js/waves.min.js"></script>
<script src="/panelResources/js/jquery.slimscroll.min.js"></script>

<script src="/panelResources/plugins/scheduler/core/main.js"></script>
<script src="/panelResources/plugins/scheduler/interaction/main.js"></script>
<script src="/panelResources/plugins/scheduler/daygrid/main.js"></script>
<script src="/panelResources/plugins/scheduler/timegrid/main.js"></script>
<script src="/panelResources/plugins/scheduler/timeline/main.js"></script>
<script src="/panelResources/plugins/scheduler/resource-common/main.js"></script>
<script src="/panelResources/plugins/scheduler/resource-timeline/main.js"></script>
<script src="/panelResources/plugins/fullcalendar/locales/da.js"></script>

<script src="/JavaScript/Landing/courtbooking.js"></script>

<script src="/JavaScript/customJS/buttonEffects.js"></script>
<script src="/JavaScript/customJS/Notification.js"></script>
<script src="/JavaScript/customJS/Validation.js"></script>

<!-- App js -->
<script src="/panelResources/js/app.js"></script>

</body>
</html>