<div th:fragment="joinTeamModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade" id="modal_joinTeamModal">
        <div class="modal-dialog" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="${'Bliv medlem af foreningen ' + union.name}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div style="padding-left: 15px;padding-right: 15px; padding-top: 5px">
                        <h4 style="display: inline; float: left;">Hold valgt: <i id="txt_joinTeamModal_chosenteamModal">Ingen</i></h4>
                        <h4 style="display: inline; float: right;">At betale(+ gebyr): <i style="color: green;" id="txt_joinTeamModal_priceModal"></i></h4>
                    </div>

                    <br>
                    <br>

                    <hr class="clubtimize-hr">

                    <div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="inp_joinTeamModal_email" class="col-form-label">Email</label>
                            <input class="form-control" type="email" id="inp_joinTeamModal_email" placeholder="Email...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_email_validate"></ul>
                        </div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="inp_joinTeamModal_password" class="col-form-label">Kodeord</label>
                            <input class="form-control" type="password" id="inp_joinTeamModal_password" placeholder="Kodeord...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_password_validate"></ul>
                        </div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="inp_joinTeamModal_passwordconfirm" class="col-form-label">Bekræft Kodeord</label>
                            <input class="form-control" type="password" id="inp_joinTeamModal_passwordconfirm" placeholder="Kodeord...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_passwordconfirm_validate"></ul>
                        </div>
                        <br>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="inp_joinTeamModal_firstname" class="col-form-label">Spillerens fornavn</label>
                            <input class="form-control" type="text" id="inp_joinTeamModal_firstname" placeholder="Fornavn...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_firstname_validate"></ul>
                        </div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="inp_joinTeamModal_lastname" class="col-form-label">Spillerens efternavn</label>
                            <input class="form-control" type="text" id="inp_joinTeamModal_lastname" placeholder="Efternavn...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_lastname_validate"></ul>
                        </div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="inp_joinTeamModal_birthday" class="col-form-label">Spillerens fødselsdag</label>
                            <input class="form-control" type="date" id="inp_joinTeamModal_birthday">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_birthday_validate"></ul>
                        </div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="sel_joinTeamModal_gender" class="col-form-label">Køn</label>
                            <select id="sel_joinTeamModal_gender" class="form-control">
                                <option value="Mand">Mand</option>
                                <option value="Kvinde">Kvinde</option>
                            </select>
                            <ul class="clubtimize-error-list clubtimize-hide" id="sel_joinTeamModal_gender_validate"></ul>
                        </div>
                        <br>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <label for="inp_joinTeamModal_phone" class="col-form-label">Telefonnummer</label>
                            <input class="form-control" type="number" id="inp_joinTeamModal_phone">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_phone_validate"></ul>
                        </div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <div class="col-sm-6" style="padding-left: 0;">
                                <label for="inp_joinTeamModal_addreee" class="col-form-label">Addresse</label>
                                <input class="form-control" type="text" id="inp_joinTeamModal_addreee" placeholder="Addresse...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_addreee_validate"></ul>
                            </div>
                            <div class="col-sm-3" style="padding: 0; margin: 0;">
                                <label for="inp_joinTeamModal_zip" class="col-form-label">Postnummer</label>
                                <input class="form-control" type="number" id="inp_joinTeamModal_zip" placeholder="Postnummer...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_zip_validate"></ul>
                            </div>
                            <div class="col-sm-3" style="padding-right: 0; margin: 0;">
                                <label for="inp_joinTeamModal_zip" class="col-form-label">By</label>
                                <input class="form-control" type="text" id="inp_joinTeamModal_city" placeholder="By...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_joinTeamModal_city_validate"></ul>
                            </div>
                        </div>

                        <br>

                        <div class="col-sm-12 row" style="margin: 0;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="che_joinTeamModal_acceptusagewebsite">
                                <label class="custom-control-label" id="lbl_joinTeamModal_acceptusagewebsite" for="che_joinTeamModal_acceptusagewebsite">Jeg accepterer <a href="https://clubtimize.dk/betingelser-for-brug-af-hjemmesiden/" target="_blank">Betingelser for brug af hjemmeside</a></label>
                            </div>
                        </div>
                        <div class="col-sm-12 row" style="margin: 0;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="che_joinTeamModal_acceptservice">
                                <label class="custom-control-label" id="lbl_joinTeamModal_acceptservice" for="che_joinTeamModal_acceptservice">Jeg accepterer <a href="https://clubtimize.dk/privatlivspolitik/" target="_blank">Privatlivspolitik</a></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_joinTeamModal_gotopayment" class="btn btn-primary waves-effect waves-light">Gå til betaling</button>
                </div>
            </div>
        </div>
    </div>
</div>
