<div th:fragment="newBookingModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_newBookingModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Banebookning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div id="content_newBookingModal_free" style="margin: -1rem;">
                        <table class="table table-striped" style="text-align: center;">
                            <tbody>
                            <tr>
                                <td><i>Sted:</i></td>
                                <td><h3 id="content_newBookingModal_free_hall">Byplanhallen</h3></td>
                            </tr>
                            <tr>
                                <td><i>Bane:</i></td>
                                <td><h3 id="content_newBookingModal_free_court">Bane 1</h3></td>
                            </tr>
                            <tr>
                                <td><i>Dato:</i></td>
                                <td><h3 id="content_newBookingModal_free_date">19-07-2019</h3></td>
                            </tr>
                            <tr>
                                <td><i>Tid:</i></td>
                                <td><h3 id="content_newBookingModal_free_time">18:00-19:00</h3></td>
                            </tr>
                            <tr th:if="${!union.unionEconomics.isPayingFees()}">
                                <td><i>Pris (Gebyrer pålagt):</i></td>
                                <td><h3><u id="content_newBookingModal_free_toPay" style="color: green;">105 DKK</u></h3></td>
                            </tr>
                            <tr th:if="${union.unionEconomics.isPayingFees()}">
                                <td><i>Pris :</i></td>
                                <td><h3><u id="content_newBookingModal_free_toPay" style="color: green;">100 DKK</u></h3></td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>
                        <br>
                    </div>

                    <div class="col-sm-12 row" style="margin-left: auto; margin-right: auto; display: block;">
                        <label for="inp_newBookingModal_name" class="col-form-label">Navn</label>
                        <input class="form-control" type="email" id="inp_newBookingModal_name" placeholder="Navn...">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newBookingModal_name_validate"></ul>
                    </div>
                    <div class="col-sm-12 row" style="margin-left: auto; margin-right: auto; display: block;">
                        <label for="inp_newBookingModal_email" class="col-form-label">Email</label>
                        <input class="form-control" type="email" id="inp_newBookingModal_email" placeholder="Email...">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newBookingModal_email_validate"></ul>
                    </div>
                    <div class="col-sm-12 row" style="margin-left: 1px;">
                        <div class="col-sm-6" style="padding-left: 0;">
                            <label for="inp_newBookingModal_address" class="col-form-label">Addresse</label>
                            <input class="form-control" type="text" id="inp_newBookingModal_address" placeholder="Addresse...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_newBookingModal_address_validate"></ul>
                        </div>
                        <div class="col-sm-3" style="padding: 0;">
                            <label for="inp_newBookingModal_zip" class="col-form-label">Postnummer</label>
                            <input class="form-control" type="number" id="inp_newBookingModal_zip" placeholder="Postnummer...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_newBookingModal_zip_validate"></ul>
                        </div>
                        <div class="col-sm-3" style="padding-right: 0;">
                            <label for="inp_newBookingModal_city" class="col-form-label">By</label>
                            <input class="form-control" type="text" id="inp_newBookingModal_city" placeholder="By...">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_newBookingModal_city_validate"></ul>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-left: auto; margin-right: auto; display: block;">
                        <label for="inp_newBookingModal_phone" class="col-form-label">Telefon nummer</label>
                        <input class="form-control" type="number" id="inp_newBookingModal_phone" placeholder="Telefon nummer...">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_newBookingModal_phone_validate"></ul>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_newBookingModal_book" class="btn btn-primary waves-effect waves-light">Gå til betaling</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>