<div th:fragment="newPeriodBookingModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_newPeriodBookingModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Book en periode</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="col-sm-12 row">
                        <label for="sel_newPeriodBookingModal_hall" class="col-form-label">Vælg den hal du ønsker at booke for</label>
                        <select id="sel_newPeriodBookingModal_hall" class="form-control">
                            <option th:each="Hall : ${union.halls}" th:text="${Hall.title}" th:value="${Hall.hallId}">Mand</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_newPeriodBookingModal_continue" class="btn btn-primary waves-effect waves-light">Fortsæt</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>