<div th:fragment="editTeamInfoModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_editTeamInfoModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Rediger hold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editTeamInfoModal_title" class="col-form-label">Titel</label>
                        <input class="form-control" type="text" id="inp_editTeamInfoModal_title" th:value="${team.title}">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editTeamInfoModal_title_validate"></ul>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="sel_editTeamInfoModal_department" class="col-form-label">Afdeling</label>
                        <select id="sel_editTeamInfoModal_department" class="form-control">
                            <option th:each="Department : ${team.union.departments}" th:value="${Department.id}" th:text="${Department.title}" th:selected="${Department.id == team.teamDepartment.id}"></option>
                        </select>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editTeamInfoModal_avalibleSpots" class="col-form-label">Ledige pladser</label>
                        <input class="form-control" type="number" id="inp_editTeamInfoModal_avalibleSpots" th:value="${team.avalibleSpots}" min="0">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editTeamInfoModal_avalibleSpots_validate"></ul>
                    </div>

                    <br>

                    <div class="col-sm-12 row" style="margin: 0;">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="inp_editTeamInfoModal_closed" th:checked="${team.closed}">
                            <label class="custom-control-label" for="inp_editTeamInfoModal_closed">Lukket tilmelding</label>
                        </div>
                    </div>

                    <br>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editTeamInfoModal_ageGroup" class="col-form-label">Aldersgruppe</label>
                        <input class="form-control" type="text" id="inp_editTeamInfoModal_ageGroup" th:value="${team.ageGroup}">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editTeamInfoModal_ageGroup_validate"></ul>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editTeamInfoModal_niveau" class="col-form-label">Niveau</label>
                        <input class="form-control" type="text" id="inp_editTeamInfoModal_niveau" th:value="${team.niveau}">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editTeamInfoModal_niveau_validate"></ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_editTeamInfoModal_editTeam" class="btn btn-primary waves-effect waves-light">Rediger</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>