<div th:fragment="newPlayerModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_newPlayerModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Tilføj spiller</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="sel_newPlayerModal_users" class="col-form-label">Vælg medlem</label>
                        <select id="sel_newPlayerModal_users" class="form-control">
                            <option th:each="User : ${currentUnion.users}" th:value="${User.userId}" th:text="${User.firstname + ' ' + User.lastname}"></option>
                        </select>
                    </div>
                    <br>

                    <div class="col-sm-12">
                        <p class="text-muted">*Hvis du ønsker at tilføje en spiller, der ikke allerede er medlem af foreningen, skal du invitere vedkommende fra punktet i menuen "Invitationer -> Spiller"</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_newPlayerModal_addPlayer" class="btn btn-primary waves-effect waves-light">Tilføj</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>