<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Administrer medlemmer</title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Administration</li>
                                <li class="breadcrumb-item active">Administrer medlemmer</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Administrer medlemmer</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 th:text="${'Totalt antal medlemmer: ' + #lists.size(assosiates)}"></h4>
                            <hr>
                            <div class="table-responsive">
                                <table id="medlemmerTabel" class="table table-striped table-bordered w-100">
                                    <thead>
                                    <tr>
                                        <th>Navn</th>
                                        <th>Adresse</th>
                                        <th>Fødselsdato</th>
                                        <th>Email</th>
                                        <th>Telefon</th>
                                        <th>Køn</th>
                                        <th>Tilmeldte hold</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="User : ${assosiates}">
                                        <td>
                                            <a th:href="${'/panel/administrermedlemmer/individ?user=' + User.userId}" th:text="${User.firstname + ' ' + User.lastname} ? ${User.firstname + ' ' + User.lastname} : 'Intet navn'"></a>
                                        </td>
                                        <td th:text="${User.address} ? ${User.address} : 'Ingen addresse'"></td>
                                        <td th:text="${User.birthday} ? ${User.birthday} : 'Ingen Fødselsdato'"></td>
                                        <td th:text="${User.email} ? ${User.email} : 'Ingen email'"></td>
                                        <td th:text="${User.phone} ? ${User.phone} : 'Intet nummer'"></td>
                                        <td th:text="${User.gender} ? ${User.gender} : 'Intet køn'"></td>
                                        <td>
                                            <ul style="padding: 10px; list-style: none;" th:if="${User.unionAssosiation != null && #lists.size(User.unionAssosiation.playerPositions) != 0}">
                                                <li th:each="Team : ${User.unionAssosiation.playerPositions}" th:text="${Team.team.title}"></li>
                                            </ul>
                                            <th:block th:if="${User.unionAssosiation == null || #lists.size(User.unionAssosiation.playerPositions) == 0}">Ikke tilmeldt et hold</th:block>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Unie <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">
    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/panelResources/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/panelResources/plugins/datatables/jszip.min.js"></script>
    <script src="/panelResources/plugins/datatables/pdfmake.min.js"></script>
    <script src="/panelResources/plugins/datatables/vfs_fonts.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.print.min.js"></script>
    <script src="/panelResources/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="/panelResources/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/panelResources/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="\JavaScript\Panel\administration\manageMembers\manageMembers.js"></script>
</th:block>
</body>
</html>