<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login på panelet</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/landing/images/favicon.ico">

    <!-- App css -->
    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body class="bg-white">

<!-- Log In page -->
<div class="row">
    <div class="col-lg-3 pr-0">
        <div class="card mb-0 shadow-none">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="index.html" class="logo logo-admin"><img src="/landing/images/clubtimize-logo/Logo_blue_1000.png" height="70" alt="logo" class="my-3"></a>
                </h3>

                <br>

                <div class="px-3">
                    <h4 class="text-muted font-18 mb-2 text-center">Velkommen tilbage</h4>
                    <p class="text-muted text-center">Log ind for at fortsætte til din klubs panel</p>

                    <form th:action="@{/login}" class="form-horizontal my-4" method="post">

                        <div class="form-group">
                            <label for="username">Email</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Email...">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Kodeord</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Kodeord...">
                            </div>
                        </div>

                        <div class="form-group row mt-4">
                            <div class="col-sm-6">
                                <div class="custom-control custom-checkbox">
                                    <input name="remember-me" type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Husk mig</label>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="#" class="text-muted font-13" data-toggle="modal" data-animation="bounce" data-target="#modal_resetPasswordModal"><i class="mdi mdi-lock"></i> Glemt dit kodeord?</a>
                            </div>
                        </div>

                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log ind <i class="fa fa-sign-in ml-1"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="m-3 text-center bg-light p-3 text-primary">
                    <h4 class="">Er du ikke medlem ? </h4>
                    <p class="font-13">Spørg din klub om deres URL, og tilmeld dig et hold fra deres tilmeldings side</p>
                </div>
                <div class="mt-4 text-center">
                    <p class="mb-0">© <span th:text="${year}"></span> Unie</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 p-0 h-100vh d-flex justify-content-center">
        <div class="accountbg d-flex align-items-center"  style="background-image: url(/landing/images/background-stock-badminton-tinted.jpg); box-shadow: none">
            <!--<div class="account-title text-center text-white">-->
                <!--<h4 class="mt-3">Velkommen til <span class="text-warning">TST Tilst Badminton</span> </h4>-->
                <!--<h1 class="">Portalen</h1>-->
                <!--<p class="font-14 mt-3">Log ind for at komme ind på panelsiden</p>-->
                <!--<div class="border w-25 mx-auto border-warning"></div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!-- End Log In page -->

<div th:replace="users/modals/resetPasswordModal :: resetPasswordModal"></div>

<!-- jQuery  -->
<script src="/panelResources/js/jquery.min.js"></script>
<script src="/panelResources/js/bootstrap.bundle.min.js"></script>
<script src="/panelResources/js/metisMenu.min.js"></script>
<script src="/panelResources/js/waves.min.js"></script>
<script src="/panelResources/js/jquery.slimscroll.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
<script src="/panelResources/plugins/tippy/tippy.all.min.js"></script>
<script src="/JavaScript/customJS/Notification.js"></script>

<script src="/JavaScript/Landing/login.js"></script>

<!-- App js -->
<script src="/panelResources/js/app.js"></script>

</body>
</html>