<div th:fragment="debt" xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table id="tbl_debt_debt" class="table table-bordered">
            <thead>
            <tr>
                <th>År</th>
                <th>Måned</th>
                <th>Sum Inklusiv moms</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="DebtReport : ${debtReports}">
                <td th:text="${DebtReport.economicYear.year}"></td>
                <td th:text="${DebtReport.month}"></td>
                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(DebtReport.amount)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>