<div th:fragment="subscriptionFees" xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table id="tbl_fees_fees" class="table table-bordered">
            <thead>
            <tr>
                <th>År</th>
                <th>Måned</th>
                <th>Sum Inklusiv moms</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="FeeReport : ${feeReports}">
                <td th:text="${FeeReport.economicYear.year}"></td>
                <td th:text="${FeeReport.month}"></td>
                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(FeeReport.amount)}"></td>
                <td><a th:href="${'/API/invoice/downloadInvoice?guid=' + FeeReport.guid}" class="btn btn-primary"><span class="mdi mdi-download"></span> Download oversigt</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>