<div th:fragment="invoices" xmlns:th="http://www.thymeleaf.org">
    <!--<p class="text-muted">Vi gør opmærkom på, at disse fakturaer i dette format ikke er juridisk gældende. Man opfordres derfor til, at opgradere til "Clubtimize Premium", for at få automatisk bogførsel i dit foretrukne regnskabs-program.</p>-->
    <!--<hr>-->
    <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Kontingenter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#banebookinger" role="tab">Banebookinger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#banebookingerperiode" role="tab">Banebookinger periode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#events" role="tab">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#balance" role="tab">Balance udbetalinger</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active p-3" id="home" role="tabpanel">
                <div th:replace="panel/economics/invoices/content/invoicesContent/contingents :: contingents"></div>
            </div>
            <div class="tab-pane p-3" id="banebookinger" role="tabpanel">
                <div th:replace="panel/economics/invoices/content/invoicesContent/courtbookings :: courtbookings"></div>
            </div>
            <div class="tab-pane p-3" id="banebookingerperiode" role="tabpanel">
                <div th:replace="panel/economics/invoices/content/invoicesContent/courtbookingsperiod :: courtbookingsperiod"></div>
            </div>
            <div class="tab-pane p-3" id="events" role="tabpanel">
                <div th:replace="panel/economics/invoices/content/invoicesContent/events :: events"></div>
            </div>
            <div class="tab-pane p-3" id="balance" role="tabpanel">
                <div th:replace="panel/economics/invoices/content/invoicesContent/payouts :: payouts"></div>
            </div>
        </div>
</div>