<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title th:text="${chosenTeam.title + ' - ' + chosenTeam.teamDepartment.title}"></title>

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="/panelResources/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="/CSS/clubtimize-tabs.css">
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col-2">
                                <h4 class="page-title">Trænercenter</h4>
                            </div>
                            <div class="col-8">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center" style="padding: 0!important;">
                                        <li class="page-item"><a class="page-link" th:each="Coach : ${currentUser.unionAssosiation.coachPositions}"><span th:each="Team : ${Coach.teams}" th:text="${Team.title + ' - ' + Team.teamDepartment.title}" onclick="chooseTeam(this.id)" th:id="${Team.teamId}"></span></a></li>
                                    </ul>
                                </nav>
                                <h5 style="text-align: center; padding: 0; margin: 0; font-size: 13px" class="text-muted">Ser på:</h5>
                                <h5 th:text="${chosenTeam.title + ' - ' + chosenTeam.teamDepartment.title}" style="text-align: center; padding: 0; margin: 0;"></h5>
                            </div>
                            <div class="col-2">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active">Træner</li>
                                        <li class="breadcrumb-item active">Trænercenter</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" roleName="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#signedUp" roleName="tab">Tilmeldte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#stats" roleName="tab">Statistikker</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#invite" roleName="tab">Inviter en spiller</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content clubtimize-tab-content">
                                <div class="tab-pane active p-3" id="signedUp" roleName="tabpanel">
                                    <div th:replace="panel/trænertools/content/signedUp :: signedUp"></div>
                                </div>

                                <div class="tab-pane p-3" id="stats" roleName="tabpanel">
                                    <div th:replace="panel/trænertools/content/stats :: stats"></div>
                                </div>

                                <div class="tab-pane p-3" id="invite" roleName="tabpanel">
                                    <div th:replace="panel/trænertools/content/inviteAPlayer :: inviteAPlayer"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/panelResources/plugins/chart.js/chart.min.js"></script>

    <script src="/JavaScript/Panel/trainertools/coachcenter.js"></script>
</th:block>

<!-- end page content -->
</body>
</html>