<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Opsætning - haller og baner</title>

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/zozo/zozo.tabs.min.css">

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Opsætning</li>
                                <li class="breadcrumb-item active">Haller</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Haller</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <h5 style="position:absolute;" class="text-muted">Opret eller rediger haller</h5>

                                        <a style="padding-top: 10px;" href="#" class="float-right" th:if="${currentUser.role.rolePermissions.canAdministrate}" data-toggle="modal" data-animation="bounce" data-target="#modal_newHallModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80" viewBox="0 0 30 30" style=" fill:#419ACA;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21,16h-5v5 c0,0.553-0.448,1-1,1s-1-0.447-1-1v-5H9c-0.552,0-1-0.447-1-1s0.448-1,1-1h5V9c0-0.553,0.448-1,1-1s1,0.447,1,1v5h5 c0.552,0,1,0.447,1,1S21.552,16,21,16z"></path></svg>
                                        </a>

                                        <div style="padding-top: 35px; width: calc(100% - 80px); margin-left: -1.25rem;">
                                            <hr>
                                        </div>
                                    </div>

                                    <table class="table table-bordered table-striped" id="tbl_halls_halls">
                                        <thead>
                                        <tr>
                                            <th>Navn</th>
                                            <th data-priority="3">Baner</th>
                                            <!--<th data-priority="3">Baner</th>-->
                                            <th data-priority="3">længdegrader</th>
                                            <th data-priority="3">Breddegrader</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="Hall : ${currentUnion.halls}">
                                            <td th:id="${'hallTitle' + Hall.hallId}" th:text="${Hall.title}"></td>
                                            <td th:id="${'hallAvalibleCourts' + Hall.hallId}" th:text="${Hall.courtsAvalible}"></td>
                                            <!--<td>-->
                                                <!--<ul th:if="${not #lists.isEmpty(Hall.courts)}">-->
                                                    <!--<li th:each="Court : ${Hall.courts}" th:text="${Court.title}"></li>-->
                                                <!--</ul>-->
                                                <!--<i th:if="${#lists.isEmpty(Hall.courts)}">Ingen baner</i>-->
                                            <!--</td>-->
                                            <td th:id="${'hallLongitude' + Hall.hallId}" th:text="${Hall.longitude}"></td>
                                            <td th:id="${'hallLatitude' + Hall.hallId}" th:text="${Hall.latitude}"></td>
                                            <td>
                                                <a href="#" class="btn btn-info" onclick="editHall(this.id)" th:id="${Hall.hallId}">Rediger hal</a>
                                                <!--<button class="btn btn-danger" th:id="${Hall.hallId}" onclick="deleteHall(this.id)">Slet</button>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->

        <div th:replace="panel/setup/halls/modals/newHallModal :: newHallModal"></div>
        <div th:replace="panel/setup/halls/modals/editHallModal :: editHallModal"></div>

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">

    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="/panelResources/plugins/sweet-alert2/sweetalert2.min.js"></script>

    <script src="/JavaScript/Panel/setup/halls/halls.js"></script>
    <script src="/panelResources/plugins/tabledit/jquery.tabledit.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_hkIEVMrj_x8fJ-6tXtnQzoGexV3-P-g&libraries=places&callback=initMap">
    </script>


</th:block>

</body>
</html>