<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Mit dashboard</title>
</head>
<body layout:fragment="content">
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid" style="padding-top: 100px">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 align-self-center">
                                <img src="/panelResources/images/error.svg" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-7">
                                <div class="error-content text-center">
                                    <h1 class="">404!</h1>
                                    <h3 class="text-primary">Ikke noget at se her...</h3><br>
                                    <a class="btn btn-primary mb-5 waves-effect waves-light" href="/panel">Gå tilbage til dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- container -->

    <footer class="footer text-center text-sm-left">
        &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
    </footer>
</div>
<!-- end page content -->
</body>
</html>