/*
Template Name: Amezia - Responsive Bootstrap 4 Landing Template
Author: Themesbrand
File: Main Css File
*/
/*
1. Google Font
2. Navbar
3. Buttons
4. General
*/
/* ======
1. Google Font
    ====== */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
/* ======
 2. Navbar
    ====== */
/*--- Navbar Custom ---*/
.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-nav li a {
  line-height: 26px;
  color: #e7eff7;
  font-size: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 15px;
}

.navbar-custom .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #ffffff;
  outline: 0;
}

.navbar-custom .navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.navbar-custom .navbar-toggles-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.navbar-custom .logo-sm {
  width: 24px;
}

.navbar-custom .logo-lg {
  width: 100px;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: #ffffff !important;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #3185a9;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 16px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 33px rgba(49, 133, 169, 0.1);
          box-shadow: 0 10px 33px rgba(49, 133, 169, 0.1);
  color: #3185a9 !important;
}

.nav-sticky.navbar-custom.sticky-dark {
  background-color: #3185a9;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky .navbar-nav {
  margin-top: 0px;
}

.nav-sticky .navbar-nav li.active a {
  color: #ffffff;
}

.nav-sticky .navbar-nav li a {
  color: #dee2e6 !important;
}

.nav-sticky .navbar-nav li a:hover {
  color: #ffffff;
}

.nav-sticky .navbar-nav li a:active {
  color: #ffffff;
}

/*--- Responsive ---*/
@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    background-color: #3185a9 !important;
    -webkit-box-shadow: 0 10px 33px rgba(49, 133, 169, 0.1);
            box-shadow: 0 10px 33px rgba(49, 133, 169, 0.1);
    color: #ffffff !important;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #ffffff !important;
    margin: 0px;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-custom .navbar-nav li.active a {
    border-color: transparent;
  }
  .navbar-nav {
    margin-top: 0px;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
  }
}

/* ======
 3. Buttons
    ====== */
.btn {
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  line-height: 24px;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #e9ecef;
          box-shadow: 0 0 0 0.2rem #e9ecef;
}

.btn-round {
  border-radius: 30px;
}

.btn-primary, .btn-success, .btn-secondary, .btn-info, .btn-warning,
.btn-danger, .btn-dark, .btn-pink, .btn-purple {
  color: #ffffff;
}

/*btn-primary*/
.btn-primary {
  background-color: #3185a9;
  border: 1px solid #3185a9;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn-outline-primary.active, .btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-primary.active, .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:active, .show > .btn-primary.dropdown-toggle,
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #2b7595 !important;
  border: 1px solid #2b7595;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus,
.btn-primary.focus, .btn-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(49, 133, 169, 0.3);
  box-shadow: 0 0 0 2px rgba(49, 133, 169, 0.3);
}

/*btn-success*/
.btn-success {
  background-color: #0acf97;
  border: 1px solid #0acf97;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover,
.btn-success:not(:disabled):not(.disabled):active,
.open > .dropdown-toggle.btn-success, .btn-outline-success.active, .btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle, .btn-outline-success:hover, .btn-success.active,
.btn-success:active, .show > .btn-success.dropdown-toggle {
  background-color: #09b785;
  border: 1px solid #09b785;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus,
.btn-success.focus, .btn-success:focus, .btn-outline-success.focus, .btn-outline-success:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(10, 207, 151, 0.3);
  box-shadow: 0 0 0 2px rgba(10, 207, 151, 0.3);
}

/*btn-info*/
.btn-info {
  background-color: #2d7bf4;
  border: 1px solid #2d7bf4;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus,
.btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info,
.btn-outline-info.active, .btn-outline-info:active, .btn-info.disabled, .btn-info:disabled,
.show > .btn-outline-info.dropdown-toggle, .btn-outline-info:hover, .btn-info.active, .btn-info:active,
.show > .btn-info.dropdown-toggle {
  background-color: #156cf3;
  border: 1px solid #156cf3;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus,
.btn-info.focus, .btn-info:focus, .btn-outline-info.focus, .btn-outline-info:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(45, 123, 244, 0.3);
  box-shadow: 0 0 0 2px rgba(45, 123, 244, 0.3);
}

/*btn-warning*/
.btn-warning {
  background-color: #f9bc0b;
  border: 1px solid #f9bc0b;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover,
.open > .dropdown-toggle.btn-warning, .btn-outline-warning.active, .btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle, .btn-outline-warning:hover, .btn-warning.active,
.btn-warning:active, .show > .btn-warning.dropdown-toggle {
  background-color: #e5ac06;
  border: 1px solid #e5ac06;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus,
.btn-warning.focus, .btn-warning:focus, .btn-outline-warning.focus, .btn-outline-warning:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(249, 188, 11, 0.3);
  box-shadow: 0 0 0 2px rgba(249, 188, 11, 0.3);
}

/*btn-danger*/
.btn-danger {
  background-color: #f1556c;
  border: 1px solid #f1556c;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active,
.btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover,
.open > .dropdown-toggle.btn-danger, .btn-outline-danger.active, .btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle, .btn-outline-danger:hover, .btn-danger.active,
.btn-danger:active, .show > .btn-danger.dropdown-toggle {
  background-color: #ef3d58;
  border: 1px solid #ef3d58;
}

.btn-danger.focus, .btn-danger:focus, .btn-outline-danger.focus, .btn-outline-danger:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(241, 85, 108, 0.3);
  box-shadow: 0 0 0 2px rgba(241, 85, 108, 0.3);
}

/*btn-light*/
.btn-light {
  color: #495057;
  background-color: #e7eff7;
  border: 1px solid #dee2e6;
}

.btn-light:active, .btn-light:focus, .btn-light:hover, .btn-light.active,
.btn-light.focus, .btn-light:active, .btn-light:focus, .btn-light:hover,
.open > .dropdown-toggle.btn-light, .btn-outline-light.active, .btn-outline-light:active,
.show > .btn-outline-light.dropdown-toggle, .btn-outline-light:hover, .btn-light.active,
.btn-light:active, .show > .btn-light.dropdown-toggle {
  background-color: #d4e2f1;
  border: 1px solid #d4e2f1;
}

.btn-light.focus, .btn-light:focus, .btn-outline-light.focus, .btn-outline-light:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(231, 239, 247, 0.3);
  box-shadow: 0 0 0 2px rgba(231, 239, 247, 0.3);
}

/*btn-dark*/
.btn-dark {
  background-color: #313a46;
  border: 1px solid #313a46;
  color: #ffffff;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus,
.btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active, .btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle, .btn-outline-dark:hover {
  background-color: #272e37;
  border: 1px solid #272e37;
  color: #ffffff;
}

.btn-dark.focus, .btn-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(49, 58, 70, 0.3);
  box-shadow: 0 0 0 2px rgba(49, 58, 70, 0.3);
}

/*btn-link*/
.btn-link {
  color: #313a46;
}

.btn-link:hover {
  color: #3185a9;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  text-decoration: none;
}

/*btn-pink*/
.btn-pink {
  background-color: #ff679b;
  border: 1px solid #ff679b;
  color: #ffffff;
}

.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .btn-pink.focus,
.btn-pink:active, .btn-pink:focus, .btn-pink:hover, .open > .dropdown-toggle.btn-pink,
.btn-outline-pink.active, .btn-outline-pink:active,
.show > .btn-outline-pink.dropdown-toggle, .btn-outline-pink:hover {
  background-color: #ff4e8a;
  border: 1px solid #ff4e8a;
  color: #ffffff;
}

.btn-pink.focus, .btn-pink:focus, .btn-outline-pink.focus, .btn-outline-pink:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 103, 155, 0.3);
  box-shadow: 0 0 0 2px rgba(255, 103, 155, 0.3);
}

/*btn-purple*/
.btn-purple {
  background-color: #777edd;
  border: 1px solid #777edd;
  color: #ffffff;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .btn-purple.focus,
.btn-purple:active, .btn-purple:focus, .btn-purple:hover, .open > .dropdown-toggle.btn-purple,
.btn-outline-purple.active, .btn-outline-purple:active,
.show > .btn-outline-purple.dropdown-toggle, .btn-outline-purple:hover {
  background-color: #636bd8;
  border: 1px solid #636bd8;
  color: #ffffff;
}

.btn-purple.focus, .btn-purple:focus, .btn-outline-purple.focus, .btn-outline-purple:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(119, 126, 221, 0.3);
  box-shadow: 0 0 0 2px rgba(119, 126, 221, 0.3);
}

/* button Outline */
.btn-outline-primary {
  color: #3185a9;
  border-color: #3185a9;
}

.btn-outline-success {
  color: #0acf97;
  border-color: #0acf97;
}

.btn-outline-info {
  color: #2d7bf4;
  border-color: #2d7bf4;
}

.btn-outline-warning {
  color: #f9bc0b;
  border-color: #f9bc0b;
}

.btn-outline-danger {
  color: #f1556c;
  border-color: #f1556c;
}

.btn-outline-dark {
  color: #313a46;
  background-image: none;
  background-color: transparent;
  border-color: #313a46;
}

.btn-outline-light {
  color: #495057;
  background-image: none;
  background-color: transparent;
  border-color: #e7eff7;
}

.btn-outline-pink {
  color: #ff679b;
  background-image: none;
  background-color: transparent;
  border-color: #ff679b;
}

.btn-outline-purple {
  color: #777edd;
  background-image: none;
  background-color: transparent;
  border-color: #777edd;
}

/*soft buttons*/
.btn-soft-primary {
  background-color: rgba(49, 133, 169, 0.2);
  color: #3185a9;
}

.btn-soft-primary:hover {
  background-color: #3185a9;
  color: #ffffff;
}

.btn-soft-primary:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(49, 133, 169, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(49, 133, 169, 0.25);
  background-color: rgba(49, 133, 169, 0.8);
  color: #ffffff;
}

.btn-soft-secondary {
  background-color: rgba(154, 154, 154, 0.2);
  color: #9a9a9a;
}

.btn-soft-secondary:hover {
  background-color: #9a9a9a;
  color: #ffffff;
}

.btn-soft-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(154, 154, 154, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(154, 154, 154, 0.25);
  background-color: rgba(154, 154, 154, 0.8);
  color: #ffffff;
}

.btn-soft-success {
  background-color: rgba(10, 207, 151, 0.2);
  color: #0acf97;
}

.btn-soft-success:hover {
  background-color: #0acf97;
  color: #ffffff;
}

.btn-soft-success:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(10, 207, 151, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(10, 207, 151, 0.25);
  background-color: rgba(10, 207, 151, 0.8);
  color: #ffffff;
}

.btn-soft-warning {
  background-color: rgba(249, 188, 11, 0.2);
  color: #f9bc0b;
}

.btn-soft-warning:hover {
  background-color: #f9bc0b;
  color: #ffffff;
}

.btn-soft-warning:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(249, 188, 11, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(249, 188, 11, 0.25);
  background-color: rgba(249, 188, 11, 0.8);
  color: #ffffff;
}

.btn-soft-danger {
  background-color: rgba(241, 85, 108, 0.2);
  color: #f1556c;
}

.btn-soft-danger:hover {
  background-color: #f1556c;
  color: #ffffff;
}

.btn-soft-danger:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(241, 85, 108, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(241, 85, 108, 0.25);
  background-color: rgba(241, 85, 108, 0.8);
  color: #ffffff;
}

.btn-soft-info {
  background-color: rgba(45, 123, 244, 0.2);
  color: #2d7bf4;
}

.btn-soft-info:hover {
  background-color: #2d7bf4;
  color: #ffffff;
}

.btn-soft-info:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(45, 123, 244, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(45, 123, 244, 0.25);
  background-color: rgba(45, 123, 244, 0.8);
  color: #ffffff;
}

.btn-soft-dark {
  background-color: rgba(49, 58, 70, 0.2);
  color: #313a46;
}

.btn-soft-dark:hover {
  background-color: #313a46;
  color: #ffffff;
}

.btn-soft-dark:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(49, 58, 70, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(49, 58, 70, 0.25);
  background-color: rgba(49, 58, 70, 0.8);
  color: #ffffff;
}

.btn-soft-pink {
  background-color: rgba(255, 103, 155, 0.2);
  color: #ff679b;
}

.btn-soft-pink:hover {
  background-color: #ff679b;
  color: #ffffff;
}

.btn-soft-pink:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(255, 103, 155, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(255, 103, 155, 0.25);
  background-color: rgba(255, 103, 155, 0.8);
  color: #ffffff;
}

.btn-soft-purple {
  background-color: rgba(119, 126, 221, 0.2);
  color: #777edd;
}

.btn-soft-purple:hover {
  background-color: #777edd;
  color: #ffffff;
}

.btn-soft-purple:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(119, 126, 221, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(119, 126, 221, 0.25);
  background-color: rgba(119, 126, 221, 0.8);
  color: #ffffff;
}

/* Social Buttons */
.btn-social-icon .btn {
  width: 36px;
  height: 36px;
  padding-left: 10px;
}

.btn-facebook {
  color: #ffffff !important;
  background-color: #3b5998;
}

.btn-twitter {
  color: #ffffff !important;
  background-color: #00aced;
}

.btn-linkedin {
  color: #ffffff !important;
  background-color: #007bb6;
}

.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89;
}

.btn-googleplus {
  color: #ffffff !important;
  background-color: #dd4b39;
}

.btn-instagram {
  color: #ffffff !important;
  background-color: #517fa4;
}

.btn-pinterest {
  color: #ffffff !important;
  background-color: #cb2027;
}

.btn-dropbox {
  color: #ffffff !important;
  background-color: #007ee5;
}

.btn-flickr {
  color: #ffffff !important;
  background-color: #ff0084;
}

.btn-tumblr {
  color: #ffffff !important;
  background-color: #32506d;
}

.btn-skype {
  color: #ffffff !important;
  background-color: #00aff0;
}

.btn-youtube {
  color: #ffffff !important;
  background-color: #bb0000;
}

.btn-github {
  color: #ffffff !important;
  background-color: #171515;
}

/* ======
 4. General
    ====== */
/*=============================
* Template Name :Arivon
* Version : 1.0
* Created by : Themesbrand
==============================*/
/*=============================
1.Bootstrap Reset
2.Basic
3.Home  
4.Features
5.Pricing 
6.Testimonial
7.Contact
8.Footer
==============================*/
/*-----------------------------
 1. Bootstrap Reset
------------------------------*/
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h1 {
  line-height: 43px;
  font-size: 36px;
}

h2 {
  line-height: 35px;
  font-size: 30px;
}

h3 {
  line-height: 30px;
  font-size: 24px;
}

h4 {
  line-height: 22px;
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

p {
  line-height: 1.8;
}

* {
  outline: none !important;
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

.title {
  font-size: 32px;
  font-weight: 300;
}

.font-10 {
  font-size: 10px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-40 {
  font-size: 40px;
}

.text-primary {
  color: #3185a9 !important;
}

.text-success {
  color: #0acf97 !important;
}

.text-warning {
  color: #f9bc0b !important;
}

.text-info {
  color: #2d7bf4 !important;
}

.text-danger {
  color: #f1556c !important;
}

.text-pink {
  color: #ff679b !important;
}

.text-purple {
  color: #777edd !important;
}

.text-secondary {
  color: #9a9a9a !important;
}

.bg-primary {
  background-color: #3185a9 !important;
}

.bg-pink {
  background-color: #ff679b !important;
}

.bg-purple {
  background-color: #777edd !important;
}

.bg-dark {
  background-color: #313a46 !important;
}

.bg-info {
  background-color: #2d7bf4 !important;
}

.bg-warning {
  background-color: #f9bc0b !important;
}

.bg-success {
  background-color: #0acf97 !important;
}

/*-----------------------------
2. Basic
------------------------------*/
.bg-gray-100 {
  background-color: #f8f9fa;
}

.l-h-40 {
  line-height: 40px;
}

strong {
  font-weight: 500;
}

.card {
  margin-bottom: 30px;
  border: none;
  color: #343a40;
}

.section {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
}

/*-----------------------------
3. Home
------------------------------*/
.bg-home-img {
  background: url("../images/bg-1.jpg") no-repeat center center;
  height: 100vh;
  position: relative;
  background-size: cover;
}

.bg-home-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #09040e;
  opacity: .7;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-desc {
  font-size: 16px;
  margin-bottom: 0;
  max-width: 540px;
  line-height: 28px;
  color: #adb5bd;
}

.home-title h1 {
  color: #ffffff;
  display: block;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 1px;
}

.home-title h5 {
  color: #e7eff7;
  font-weight: 400;
}

/*-----------------------------
4. Features
------------------------------*/
.features-cantain i {
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50%;
  display: inline-block;
  margin: 12px 0;
}

.bg-soft-pink {
  background-color: rgba(255, 103, 155, 0.2);
  color: #ff679b;
}

.bg-soft-success {
  background-color: rgba(10, 207, 151, 0.2);
  color: #0acf97;
}

.bg-soft-warning {
  background-color: rgba(249, 188, 11, 0.2);
  color: #f9bc0b;
}

/*-----------------------------
5. Pricing
------------------------------*/
.pricing-card {
  border: 2px solid #f8f9fa;
  border-radius: 10px;
}

.pricingTable {
  text-align: center;
  margin: 16px 0;
}

.pricingTable .pricing-icon i {
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  font-size: 28px;
  border: 6px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 0.15px #e7eff7;
          box-shadow: 0px 0px 5px 0.15px #e7eff7;
}

.pricingTable h5 {
  font-weight: 500;
  text-transform: uppercase;
}

.pricingTable .amount {
  display: block;
  font-size: 36px;
  font-weight: 500;
  color: #5b6c82;
  padding: 12px 0 6px;
  margin: 0;
}

.pricingTable .pricing-content li {
  color: #5b6c82;
  line-height: 40px;
}

/*-----------------------------
6. Testimonial
------------------------------*/
.bg-img {
  background-image: url("../images/bg-2.jpg");
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  top: 0;
}

#testimonial .testi-carousel p {
  color: rgba(255, 255, 255, 0.8);
}

.client-img img {
  max-height: 90px;
  width: auto !important;
  margin: 10px auto 0;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.client-img img:hover {
  opacity: 0.8;
}

/*-----------------------------
7. Contact
------------------------------*/
.form-control {
  font-size: 16px;
}

.form-control:focus {
  border-color: #afb9c7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label {
  font-size: 12px;
}

/*-----------------------------
8. Footer
------------------------------*/
.company-sub-menu li a {
  font-size: 16px;
  line-height: 36px;
  color: #7c8796;
}

.company-sub-menu li a:hover {
  color: #afb9c7;
  text-decoration: none;
}

.contact-add {
  color: #7c8796;
}

.footer-icons li a {
  height: 35px;
  width: 35px;
  text-align: center;
  color: #ffffff;
  border-radius: 20%;
  font-size: 16px;
  display: inline-block;
  line-height: 35px;
  background-color: #3c4655;
}
/*# sourceMappingURL=styleTab.css.map */