<div th:fragment="seasonchange" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <th>Sæson titel</th>
                </thead>
                <tbody>
                <tr th:each="UnionSeason : ${currentUnion.unionSeasons}">
                    <td th:text="${UnionSeason.seasonYear}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6" style="text-align: center">
            <div class="clubtimize-box">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal_newSeasonModal">Klik her for at oprette nu sæson</button>
            </div>
        </div>
    </div>
</div>