html {
    background-color: transparent;
}

body {
    background: url("/landing/images/background-stock-badminton-tinted.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card .card-shadow {
    -webkit-box-shadow: 0 0 38px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 38px -1px rgba(0,0,0,1);
    box-shadow: 0 0 38px -1px rgba(0,0,0,1);
}