.clubtimize-error-input-required{
    border-color: #f1556c!important;
}

.clubtimize-error-list{
    margin: 0!important;
    padding: 0!important;
}

.clubtimize-error-list>li{
    font-size: 12px!important;
    list-style: none!important;
    color: #f1556c!important;
    margin-top: 5px!important;
}

.clubtimize-hide{
    display: none!important;
}

.clubtimize-checkboxlabel-invalid{
    color: #f1556c!important;
}
