.clubtimize-tab-content {
    background-color: white;
    border-bottom: 1px solid #DBDFE3;
    border-left: 1px solid #DBDFE3;
    border-right: 1px solid #DBDFE3;
}

.clubtimize-tab-content-white {
    background-color: white;
    border-bottom: 1px solid #DBDFE3;
    border-left: 1px solid #DBDFE3;
    border-right: 1px solid #DBDFE3;
}

.clubtimize-tab-pane {
    padding-left: 0!important;
    padding-right: 0!important;
}