@media(min-width: 1367px){
    .col-clubtimize-1 {
        flex: 0 0 calc((100%/12)*1);
    }

    .col-clubtimize-2 {
        flex: 0 0 calc((100%/12)*2);
    }

    .col-clubtimize-3 {
        flex: 0 0 calc((100%/12)*3);
    }

    .col-clubtimize-4 {
        flex: 0 0 calc((100%/12)*4);
    }

    .col-clubtimize-5 {
        flex: 0 0 calc((100%/12)*5);
    }

    .col-clubtimize-6 {
        flex: 0 0 calc((100%/12)*6);
    }

    .col-clubtimize-7 {
        flex: 0 0 calc((100%/12)*7);
    }

    .col-clubtimize-8 {
        flex: 0 0 calc((100%/12)*8);
    }

    .col-clubtimize-9 {
        flex: 0 0 calc((100%/12)*9);
    }

    .col-clubtimize-10 {
        flex: 0 0 calc((100%/12)*10);
    }

    .col-clubtimize-11 {
        flex: 0 0 calc((100%/12)*11);
    }

    .col-clubtimize-12 {
        flex: 0 0 calc((100%/12)*12);
    }

}
