<div th:fragment="niceKnowing" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modal_worthKnowing">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">Vi gør opmærksom på følgende før du fortsætter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h5><i>Angående hjemmeside og hosting...</i></h5>
                    <ul>
                        <li>Hvis foreningen senere vælger at opsige Clubtimize Premium, vil aftalen omkring vedligeholdelse og hosting af hjemmeside også blive opsagt. Vi tilbyder i det tilfælde, at i til hver en tid kan downloade jeres hjemmeside her i Clubtimize, så i kan installere den andetsteds. Dette kan vi hjælpe med til en rimelig pris. Kontakt os for at hører nærmere.</li>
                    </ul>
                    <h5><i>Angående automatisk bogføreing af transaktioner...</i></h5>
                    <ul>
                        <li>For at benytte sig af automatisk bogføring i jeres foretrukne regnskabs-program, kræver det en konto med mulighed for brug af regnskabs-programmets API. Dette kommer normalt ikke som standart hos regnskabs-programmerne, og en sådan konto følger IKKE med i Clubtimize Premium. Kontakt os for at hører nærmere.</li>
                        <br>
                        <li>Hvis foreningen senere vælger at opsige Clubtimize Premium, vil der ikke længere blive bogført transaktioner automatisk, til jeres foretrukne regnskabs-program. Dette betyder, at i manuelt skal bogføre transaktioner. I kan nemt downloade fakturaerne fra Clubtimize i et format der er nemt at bogføre.</li>
                        <br>
                        <li>Jeres konto hos det foretrukne regnskabs-program bliver IKKE lukket hvis i vælger at opsige Clubtimize Premium, da vi ikke direkte er assosieret med regnskabs-programmet.</li>
                    </ul>
                    <br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="che_worthKnowing_above">
                        <label class="custom-control-label" for="che_worthKnowing_above" id="lbl_worthKnowing_above">Jeg har læst og forstået ovenstående</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="che_worthKnowing_service">
                        <label class="custom-control-label" for="che_worthKnowing_service" id="lbl_worthKnowing_service">
                            Jeg acceptere <a href="https://clubtimize.dk/vilkaar-for-service/" target="_blank">Vilkår for service</a>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btn_worthKnowing_gotoPayment">Gå til betaling</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>