<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Træningsoversigt</title>
</head>
<body >
<!-- Page Content-->
<th:block layout:fragment="content">
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Hold og baner</li>
                                <li class="breadcrumb-item active">Træningsoversigt</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Træningsoversigt</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div id='calendar'></div>
                            <div style='clear:both'></div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Unie <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>


<th:block layout:fragment="script">
    <!--Calendar related-->
    <script src="/panelResources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/panelResources/plugins/moment/moment.js"></script>
    <script src='/panelResources/plugins/fullcalendar/js/fullcalendar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/da.js"></script>

    <script src="/JavaScript/Panel/træningsoversigt.js"></script>
</th:block>

</body>
</html>