<div th:fragment="bookkeepingHistory" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modal_bookkeepingHistory">
        <div class="modal-dialog modal-lg" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">Bogførings historik</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">

                        <div th:if="${#lists.isEmpty(bookkeepinghistories)}"style="text-align: center">
                            <h3>Der er ikke foretaget nogle bogføringer</h3>
                        </div>

                        <table th:if="${not #lists.isEmpty(bookkeepinghistories)}" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bogførings program</th>
                                <th>Dato for bogføring</th>
                                <th>Bogførings periode start</th>
                                <th>Bogførings periode slut</th>
                                <th>Bogført med gebyrer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="BookkeepingHistory : ${bookkeepinghistories}" style="text-align: center">
                                <td th:if="${BookkeepingHistory.integration == 'Dinero'}"><img src="/img/regnskabsprogrammer/dinero2019.jpg" style="max-width: 100px;"></td>
                                <td th:if="${BookkeepingHistory.integration == 'Economic'}"><img src="/img/regnskabsprogrammer/economics2019.jpg" style="max-width: 150px;"></td>
                                <td th:text="${BookkeepingHistory.date}"></td>
                                <td th:text="${BookkeepingHistory.dateStart}"></td>
                                <td th:text="${BookkeepingHistory.dateEnd}"></td>
                                <td th:if="${BookkeepingHistory.withFees}">Ja</td>
                                <td th:if="${not BookkeepingHistory.withFees}">Nej</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>-->
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Luk</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>