<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Bogføring</title>

    <link href="/panelResources/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Regnskab</li>
                                <li class="breadcrumb-item active">Bogføring</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Bogføring</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="load_bookkeeping" style="text-align: center;">
                                <h5>Indlæser data...</h5>
                                <img src="/panelResources/images/spinner_black.svg" alt="">
                            </div>

                            <div th:replace="panel/economics/bookkeeping/content/firstTime :: firstTime"></div>
                            <div th:replace="panel/economics/bookkeeping/content/notFirstTime :: notFirstTime"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Unie <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:replace="panel/economics/bookkeeping/content/modal/bookkeepingHistory :: bookkeepingHistory"></div>

</th:block>

<th:block layout:fragment="script">
    <script src="/panelResources/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="/panelResources/plugins/sweet-alert2/sweetalert2.min.js"></script>

    <script src="/JavaScript/Panel/econimics/bookkeeping.js"></script>
</th:block>
</body>
</html>