<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Banebooking opsætning</title>

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <link href="/panelResources/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-tabs.css">

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Opsætning</li>
                                <li class="breadcrumb-item active">Banebooking</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Banebooking opsætning</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" roleName="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#single" roleName="tab">Enkelt bookinger</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#multiple" roleName="tab">Periode bookinger</a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content clubtimize-tab-content">
                                        <div class="tab-pane active p-3" id="single" roleName="tabpanel">
                                            <div th:replace="panel/setup/courtbooking/content/singleBookings :: singleBookings"></div>
                                        </div>

                                        <div class="tab-pane p-3" id="multiple" roleName="tabpanel">
                                            <div th:replace="panel/setup/courtbooking/content/periodBookings :: periodBookings"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:replace="panel/setup/courtbooking/modal/newSingleBookingPeriodModal :: newSingleBookingPeriodModal"></div>
    <div th:replace="panel/setup/courtbooking/modal/newSeasonBookingPeriodModal :: newSeasonBookingPeriodModal"></div>
    <div th:replace="panel/setup/courtbooking/content/modal/inviteTimePeriodModal :: inviteTimePeriodModal"></div>


</th:block>

<th:block layout:fragment="script">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script src="/panelResources/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script src="/panelResources/plugins/scheduler/core/main.js"></script>
    <script src="/panelResources/plugins/scheduler/interaction/main.js"></script>
    <script src="/panelResources/plugins/scheduler/daygrid/main.js"></script>
    <script src="/panelResources/plugins/scheduler/timegrid/main.js"></script>
    <script src="/panelResources/plugins/scheduler/timeline/main.js"></script>
    <script src="/panelResources/plugins/scheduler/resource-common/main.js"></script>
    <script src="/panelResources/plugins/scheduler/resource-timeline/main.js"></script>
    <script src="/panelResources/plugins/fullcalendar/locales/da.js"></script>

    <script src="/JavaScript/Panel/setup/courtbooking/courtbooking.js"></script>
    <script src="/JavaScript/Panel/setup/courtbooking/courtbooking_period.js"></script>

</th:block>
</body>
</html>