<div th:fragment="confirmedPayments" xmlns:th="http://www.thymeleaf.org">
    <table class="table table-bordered" id="tbl_confirmedPayments_confirmedPayments">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Hold</th>
                <th>Tilmeldt siden</th>
                <th>Kontingent pris</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="TeamSeason : ${confirmedPayments}">
                <td><a th:href="${'/panel/administrermedlemmer/individ?user=' + TeamSeason.userSeason.user.userId}" th:text="${TeamSeason.userSeason.user.firstname + ' ' + TeamSeason.userSeason.user.lastname}"></a></td>
                <td th:if="${TeamSeason.team == null}">Slettet hold</td>
                <td th:if="${TeamSeason.team != null}" th:text="${TeamSeason.team.title + ' - ' + TeamSeason.team.teamDepartment.title}"></td>
                <td th:text="${TeamSeason.dateJoined}"></td>
                <td th:if="${TeamSeason.team == null}"></td>
                <td th:if="${TeamSeason.team != null}" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TeamSeason.team.price)}"></td>
            </tr>
        </tbody>
    </table>

</div>
