<div th:fragment="generalInformation" xmlns:th="http://www.thymeleaf.org">
    <div class="card">
        <div class="card-body ">
            <h5>Statistikker</h5>
            <hr class="clubtimize-hr">
            <h5 class="text-muted">Personer</h5>
            <div class="row" style="text-align: center">
                <div class="col-4">
                    <h5><i>Medlemmer</i></h5>
                    <h1 th:text="${#lists.size(currentUnion.users)}" style="color: #44A2D2;"></h1>
                </div>
                <div class="col-4">
                    <h5><i>Hold tilmeldinger</i></h5>
                    <h1 th:text="${#lists.size(currentUnion.players)}" style="color: #44A2D2;"></h1>
                </div>
                <div class="col-4">
                    <h5><i>Trænere</i></h5>
                    <h1 th:text="${#lists.size(currentUnion.coaches)}" style="color: #44A2D2;"></h1>
                </div>
            </div>
            <hr class="clubtimize-hr">
            <h5 class="text-muted">Hold og afdelinger</h5>
            <div class="row">
                <div class="col-6">
                    <h5 style="text-align: center"><i>Hold i klubben</i></h5>
                    <table class="table table-borderless">
                        <tbody>
                        <tr th:each="Department : ${currentUnion.departments}">
                            <td style="width: 50%;">
                                <h3 th:text="${Department.title}"></h3>
                            </td>
                            <td style="width: 50%;">
                                <h3 th:text="${#lists.size(Department.teams)}" style="color: #44A2D2;"></h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <h5 style="text-align: center"><i>Tilmeldinger pr. afdeling</i></h5>
                    <table class="table table-borderless">
                        <tbody>
                        <tr th:each="departmentData : ${signedupprdepartment}">
                            <td style="width: 50%;">
                                <h3 th:text="${departmentData[0]}"></h3>
                            </td>
                            <td style="width: 50%;">
                                <h3 th:text="${departmentData[1]}" style="color: #44A2D2;"></h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<table class="table table-borderless" id="tbl_generalInformation_generalInformation">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>Afdelinger i klubben:</td>-->
                    <!--<td th:text="${#lists.size(currentUnion.departments)}"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Hold i klubben:</td>-->
                    <!--<td th:text="${#lists.size(currentUnion.teams)}"></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->

        </div>
    </div>
</div>
