<body layout:fragment="leftsidebar" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <ul class="metismenu left-sidenav-menu" id="side-nav">

            <li class="menu-title">Generelt</li>

            <!--ALL-->
            <li>
                <a th:href="@{/panel}"><i class="mdi mdi-speedometer"></i><span>Oversigt</span></a>
            </li>

            <!--COACH AND ADMIN-->
            <li>
                <a th:if="${currentUser.unionAdministrator || currentUser.role.roleName == 'Træner'}" th:href="@{/panel/træningsoversigt}"><span class="mdi mdi-calendar"></span> &nbsp;&nbsp;Kalender</a>
            </li>

            <!--COACH-->
            <li th:if="${currentUserIsCoach}" class="menu-title">Træner</li>

            <li>
                <a th:if="${currentUserIsCoach}" th:href="@{/panel/trænercenter}"><span class="mdi mdi-note-text"></span> &nbsp;&nbsp;Trænercenter</a>
            </li>

            <!--PLAYER AND COACH-->
            <li th:if="${currentUser.role.roleName == 'Spiller' || currentUser.role.roleName == 'Træner'}" class="menu-title">Tilmeldinger</li>

            <li>
                <a th:if="${currentUser.role.roleName == 'Spiller' || currentUser.role.roleName == 'Træner'}" href="/panel/tilmeldhold"><i class="mdi mdi-plus"></i><span>Hold</span></a>
            </li>

            <li>
                <a th:if="${currentUser.role.roleName == 'Spiller' || currentUser.role.roleName == 'Træner'}" href="/panel/tilmeldevents"><i class="mdi mdi-plus"></i><span>Events</span></a>
            </li>



            <!--ADMIN-->
            <li th:if="${currentUser.unionAdministrator}" class="menu-title">Økonomi</li>

            <li th:if="${currentUser.unionAdministrator}">
                <a href="javascript: void(0);"><i class="mdi mdi-cash-multiple"></i><span>Regnskab</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a th:href="@{/panel/økonomi}"><span class="mdi mdi-chevron-right"></span> Økonomi</a></li>
                    <li><a th:href="@{/panel/transaktioner}"><span class="mdi mdi-chevron-right"></span> Transaktioner</a></li>
                    <li><a th:href="@{/panel/bogføring}"><span class="mdi mdi-chevron-right"></span> Bogføring</a></li>
                </ul>
            </li>

            <li th:if="${currentUser.unionAdministrator}" class="menu-title">Administration</li>

            <li th:if="${currentUser.unionAdministrator}">
                <a th:href="@{/panel/administrerhold}"><i class="mdi mdi-account-multiple"></i><span>Hold</span></a>
            </li>

            <li th:if="${currentUser.unionAdministrator}">
                <a th:href="@{/panel/administrermedlemmer}"><i class=" mdi mdi-account"></i><span>Medlemmer</span></a>
            </li>

            <li th:if="${currentUser.unionAdministrator}">
                <a th:href="@{/panel/banebooking}"><i class="mdi mdi-calendar-clock"></i><span>Banebookning</span></a>
            </li>

            <!--<li th:if="${currentUser.unionAdministrator}">-->
                <!--<a th:href="@{/panel/events}"><i class="mdi mdi-calendar-multiple-check"></i><span>Events</span></a>-->
            <!--</li>-->

            <!--<li th:if="${currentUser.unionAdministrator}" class="menu-title">Analyse</li>-->

            <!--<li>-->
                <!--<a th:if="${currentUser.unionAdministrator}" th:href="@{/panel/analysecenter}"><span class="mdi mdi-chart-bar"></span> &nbsp;&nbsp;Analyse center</a>-->
            <!--</li>-->

            <li th:if="${currentUser.unionAdministrator}" class="menu-title">Indstillinger</li>

            <li th:if="${currentUser.unionAdministrator}">
                <a href="javascript: void(0);"><i class="mdi mdi-package-variant"></i><span>Opsætning</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a th:href="@{/panel/opsætning/afdelinger}"><span class="mdi mdi-chevron-right"></span> Afdelinger</a></li>
                    <li><a th:href="@{/panel/opsætning/haller}"><span class="mdi mdi-chevron-right"></span> Haller</a></li>
                    <li><a th:href="@{/panel/opsætning/hold}"><span class="mdi mdi-chevron-right"></span> Hold</a></li>
                    <li><a th:href="@{/panel/opsætning/banebooking}"><span class="mdi mdi-chevron-right"></span> Banebooking</a></li>
                    <li><a th:href="@{/panel/opsætning/events}"><span class="mdi mdi-chevron-right"></span> Events</a></li>
                    <!--<li><a th:href="@{/panel/opsætning/roller}"><span class="mdi mdi-chevron-right"></span> Roller</a></li>-->
                </ul>
            </li>

            <li th:if="${currentUser.unionAdministrator}">
                <a href="javascript: void(0);"><i class="mdi mdi-account-star"></i><span>Invitationer</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a th:href="@{/panel/invitation/træner}"><span class="mdi mdi-chevron-right"></span> Træner</a></li>
                    <li><a th:href="@{/panel/invitation/spiller}"><span class="mdi mdi-chevron-right"></span> Spiller</a></li>
                </ul>
            </li>

            <li>
                <a th:if="${currentUser.unionAdministrator}" th:href="@{/panel/rabatter}"><i class="typcn typcn-divide"></i><span> Rabatter</span></a>
            </li>

            <li>
                <a th:if="${currentUser.unionAdministrator}" th:href="@{/panel/foreningsindstillinger}"><span class="mdi mdi-settings"></span> &nbsp;&nbsp;Indstillinger</a>
            </li>
        </ul>
    </div>

    <!-- end left-sidenav-->
</body>
