<body layout:fragment="topbar" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="/panel" class="logo">
                <span>
                    <!--<div class="logo-lg" style="color: white">Clubtimize</div>-->
                    <img src="/landing/images/logo.png" alt="logo-large" class="logo-lg" style="height: 45px;">
                </span>
            </a>
        </div>



        <!-- Navbar -->
        <nav class="navbar-custom">

            <!-- Search input -->
            <div class="search-wrap" id="search-wrap">
                <div class="search-bar">
                    <input class="search-input" type="search" placeholder="Search here.." />
                    <a href="javascript:void(0);" class="close-search search-btn" data-target="#search-wrap">
                        <i class="mdi mdi-close-circle"></i>
                    </a>
                </div>
            </div>

            <ul class="list-unstyled topbar-nav float-right mb-0">
                <!--<li>-->
                    <!--<a class="nav-link waves-effect waves-light search-btn" href="javascript:void(0);" data-target="#search-wrap">-->
                        <!--<i class="mdi mdi-magnify nav-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="hidden-sm">-->
                    <!--<a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="javascript: void(0);" roleName="button"-->
                       <!--aria-haspopup="false" aria-expanded="false">-->
                        <!--English <img src="../../images/flags/us_flag.jpg" class="ml-2" height="16" alt=""/> <i class="mdi mdi-chevron-down"></i>-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-right">-->
                        <!--<a class="dropdown-item" href="javascript: void(0);"><span> German </span><img src="../../panel/images/flags/germany_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>-->
                        <!--<a class="dropdown-item" href="javascript: void(0);"><span> Italian </span><img src="../../panel/images/flags/italy_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>-->
                        <!--<a class="dropdown-item" href="javascript: void(0);"><span> French </span><img src="../../panel/images/flags/french_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>-->
                        <!--<a class="dropdown-item" href="javascript: void(0);"><span> Spanish </span><img src="../../panel/images/flags/spain_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>-->
                        <!--<a class="dropdown-item" href="javascript: void(0);"><span> Russian </span><img src="../../panel/images/flags/russia_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>-->
                    <!--</div>-->
                <!--</li>-->

                <!--<li class="dropdown">-->
                    <!--<a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" roleName="button"-->
                       <!--aria-haspopup="false" aria-expanded="false">-->
                        <!--<i class="mdi mdi-bell-outline nav-icon"></i>-->
                        <!--<span class="badge badge-danger badge-pill noti-icon-badge">2</span>-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-right dropdown-lg">-->
                        <!--&lt;!&ndash; item&ndash;&gt;-->
                        <!--<h6 class="dropdown-item-text">-->
                            <!--Notifications (258)-->
                        <!--</h6>-->
                        <!--<div class="slimscroll notification-list">-->
                            <!--&lt;!&ndash; item&ndash;&gt;-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item active">-->
                                <!--<div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>-->
                                <!--<p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; item&ndash;&gt;-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">-->
                                <!--<div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>-->
                                <!--<p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; item&ndash;&gt;-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">-->
                                <!--<div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>-->
                                <!--<p class="notify-details">Your item is shipped<small class="text-muted">It is a long established fact that a reader will</small></p>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; item&ndash;&gt;-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">-->
                                <!--<div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>-->
                                <!--<p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; item&ndash;&gt;-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">-->
                                <!--<div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>-->
                                <!--<p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; All&ndash;&gt;-->
                        <!--<a href="javascript:void(0);" class="dropdown-item text-center text-primary">-->
                            <!--View all <i class="fi-arrow-right"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->

                <li class="hidden-sm" th:if="${currentUser.unionAdministrator == true}">
                    <a th:if="${currentUnion.unionEconomics.balance >= 0}" th:text="${'Balance: ' + T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(currentUnion.unionEconomics.balance)}" class="nav-link waves-effect waves-light font-16" style="color: #90EE90;" href="/panel/økonomi"></a>
                    <a th:if="${currentUnion.unionEconomics.balance < 0}" th:text="${'Balance: ' + T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(currentUnion.unionEconomics.balance)}" class="nav-link waves-effect waves-light font-16" style="color: #ff4d4d;" href="/panel/økonomi"></a>
                </li>

                <li class="hidden-sm">
                    <a class="nav-link waves-effect waves-light" href="javascript:void(0);" id="btn-fullscreen">
                        <i class="mdi mdi-fullscreen nav-icon"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" roleName="button"
                       aria-haspopup="false" aria-expanded="false">
                        <!--<img src="/panelResources/images/users/user-1.jpg" alt="profile-user" class="rounded-circle" />-->
                        <span class="ml-1 nav-user-name hidden-sm" id="username"><th:block th:text="${currentUser.email}">Username</th:block><i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--<a class="dropdown-item" href="#"><i class="dripicons-user text-muted mr-2"></i> Profile</a>-->
                        <!--<a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted mr-2"></i> My Wallet</a>-->
                        <a th:if="${currentUser.isUnionAdministrator() == false}" class="dropdown-item" href="/panel/indstillinger"><i class="dripicons-gear text-muted mr-2"></i> Mine indstillinger</a>
                        <!--<a class="dropdown-item" href="#"><i class="dripicons-lock text-muted mr-2"></i> Lock screen</a>-->
                        <a href="/panel/abonnement" class="dropdown-item" th:if="${currentUser.isUnionAdministrator() == true}" style="text-align: center;">
                            <div href="/panel/abonnement" style="padding: 10px;">
                                <p style="padding: 0; margin: 0;" class="text-muted font-10">Nuværende plan:</p>
                                <p th:if="${currentUnion.isPremium() == false}" style="padding: 0; margin: 0;">Clubtimize Gratis</p>
                                <p th:if="${currentUnion.isPremium() == true}" style="padding: 0; margin: 0;">Clubtimize Premium</p>
                            </div>
                        </a>
                        <div th:if="${currentUser.isUnionAdministrator() == false}" class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled topbar-nav mb-0">

                <li>
                    <button class="button-menu-mobile nav-link waves-effect waves-light">
                        <i class="mdi mdi-menu nav-icon"></i>
                    </button>
                </li>

                <li class="hidden-sm">
                    <a class="nav-link waves-effect waves-light" th:href="${currentUnion.url}">
                        <i class="mdi mdi-airplane mr-2"></i>Gå til klubbens side
                    </a>
                </li>
            </ul>

        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->
</body>