.clubtimize-box{
    background-color: rgba(245, 245, 245, 0.7);
    background-clip: border-box;
    padding: 1.25rem;
    flex: 1 1 auto;
    word-wrap: break-word;
    border-radius: 0.2rem;
}

.clubtimize-afkrydsningsliste {
    border: 1px solid #dee2e6;
}