<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title th:text="${union.name}">Clubtimize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by themesbrand" name="description"/>
    <meta content="Themesbrand" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/landing/images/favicon.ico">

    <link rel="stylesheet" href="/panelResources/plugins/scheduler/core/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/daygrid/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/timegrid/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/timeline/main.css">
    <link rel="stylesheet" href="/panelResources/plugins/scheduler/resource-timeline/main.css">

    <link href="/panelResources/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- App css -->
    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/panelResources/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="/panelResources/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css"/>

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/landing/css/materialdesignicons.min.css"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="/landing/css/style.css"/>
    <link rel="stylesheet" href="/CSS/clubtimize-error.css">
    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">

    <style>
        .fc-center > h2 {
            font-size: 30px;
        }
    </style>

</head>
<body>
<div class="container" style="max-width: calc(100% - 50px);">
    <div class="card card-shadow card-border" style="margin-top: 50px;border: thin solid Gainsboro;">
        <div class="card-body">

            <div style="padding: 10px;">
                <a class="btn btn-dark btn-sm" style="position: absolute;" th:href="${union.url + '/banebooking'}"><span class="mdi mdi-arrow-left"></span> Tilbage</a>
                <img th:src="${union.logoPath}" style="max-height: 150px; max-width: 400px; margin-left: auto; margin-right: auto; display: block;">
            </div>
            <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">

            <div class="accordion" id="accordionExample-faq">
                <div class="card mb-0">
                    <div class="card-header" id="headingMonday">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" data-target="#mandag" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Mandag</i></button>
                        </h5>
                    </div>
                    <div id="mandag" class="collapse" data-parent="#accordionExample-faq">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bane</th>
                                <th>I perioden</th>
                                <th>Tid fra</th>
                                <th>Tid til</th>
                                <th>Booket</th>
                                <th>Antal bookinger</th>
                                <th>Pris</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="TimePeriod : ${timePeriods}" th:if="${TimePeriod[0].seasonBookingPeriod.dayOfWeek == 'mandag'}">
                                <td th:text="${TimePeriod[0].court.title}"></td>
                                <td th:text="${TimePeriod[0].seasonBookingPeriod.seasonStartDate + ' til ' + TimePeriod[0].seasonBookingPeriod.seasonEndDate}"></td>
                                <td th:text="${TimePeriod[0].timeFrom}"></td>
                                <td th:text="${TimePeriod[0].timeTo}"></td>
                                <td th:text="${TimePeriod[0].isBooked()} ? 'Ja' : 'Nej'"></td>
                                <td th:text="${#lists.size(TimePeriod[0].bookings)}"></td>
                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TimePeriod[1])}"></td>
                                <td>
                                    <button th:if="${!TimePeriod[0].isBooked() && !TimePeriod[0].isReservedByInvited()}" th:id="${TimePeriod[0].id}" class="btn btn-success" onclick="openModal(this.id)">Book denne periode</button>
                                    <button th:if="${TimePeriod[0].isBooked() || TimePeriod[0].isReservedByInvited()}" class="btn btn-dark" disabled>Kan ikke bookes</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingTuesday">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" data-target="#tirsdag" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Tirsdag</i></button>
                        </h5>
                    </div>
                    <div id="tirsdag" class="collapse" data-parent="#accordionExample-faq">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bane</th>
                                <th>I perioden</th>
                                <th>Tid fra</th>
                                <th>Tid til</th>
                                <th>Booket</th>
                                <th>Antal bookinger</th>
                                <th>Pris</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="TimePeriod : ${timePeriods}" th:if="${TimePeriod[0].seasonBookingPeriod.dayOfWeek == 'tirsdag'}">
                                <td th:text="${TimePeriod[0].court.title}"></td>
                                <td th:text="${TimePeriod[0].seasonBookingPeriod.seasonStartDate + ' til ' + TimePeriod[0].seasonBookingPeriod.seasonEndDate}"></td>
                                <td th:text="${TimePeriod[0].timeFrom}"></td>
                                <td th:text="${TimePeriod[0].timeTo}"></td>
                                <td th:text="${TimePeriod[0].isBooked()} ? 'Ja' : 'Nej'"></td>
                                <td th:text="${#lists.size(TimePeriod[0].bookings)}"></td>
                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TimePeriod[1])}"></td>
                                <td>
                                    <button th:if="${!TimePeriod[0].isBooked() && !TimePeriod[0].isReservedByInvited()}" th:id="${TimePeriod[0].id}" class="btn btn-success" onclick="openModal(this.id)">Book denne periode</button>
                                    <button th:if="${TimePeriod[0].isBooked() || TimePeriod[0].isReservedByInvited()}" class="btn btn-dark" disabled>Kan ikke bookes</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingWednsday">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" data-target="#onsdag" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Onsdag</i></button>
                        </h5>
                    </div>
                    <div id="onsdag" class="collapse" data-parent="#accordionExample-faq">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bane</th>
                                <th>I perioden</th>
                                <th>Tid fra</th>
                                <th>Tid til</th>
                                <th>Booket</th>
                                <th>Antal bookinger</th>
                                <th>Pris</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="TimePeriod : ${timePeriods}" th:if="${TimePeriod[0].seasonBookingPeriod.dayOfWeek == 'onsdag'}">
                                <td th:text="${TimePeriod[0].court.title}"></td>
                                <td th:text="${TimePeriod[0].seasonBookingPeriod.seasonStartDate + ' til ' + TimePeriod[0].seasonBookingPeriod.seasonEndDate}"></td>
                                <td th:text="${TimePeriod[0].timeFrom}"></td>
                                <td th:text="${TimePeriod[0].timeTo}"></td>
                                <td th:text="${TimePeriod[0].isBooked()} ? 'Ja' : 'Nej'"></td>
                                <td th:text="${#lists.size(TimePeriod[0].bookings)}"></td>
                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TimePeriod[1])}"></td>
                                <td>
                                    <button th:if="${!TimePeriod[0].isBooked() && !TimePeriod[0].isReservedByInvited()}" th:id="${TimePeriod[0].id}" class="btn btn-success" onclick="openModal(this.id)">Book denne periode</button>
                                    <button th:if="${TimePeriod[0].isBooked() || TimePeriod[0].isReservedByInvited()}" class="btn btn-dark" disabled>Kan ikke bookes</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingThursdag">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" data-target="#torsdag" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Torsdag</i></button>
                        </h5>
                    </div>
                    <div id="torsdag" class="collapse" data-parent="#accordionExample-faq">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bane</th>
                                <th>I perioden</th>
                                <th>Tid fra</th>
                                <th>Tid til</th>
                                <th>Booket</th>
                                <th>Antal bookinger</th>
                                <th>Pris</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="TimePeriod : ${timePeriods}" th:if="${TimePeriod[0].seasonBookingPeriod.dayOfWeek == 'torsdag'}">
                                <td th:text="${TimePeriod[0].court.title}"></td>
                                <td th:text="${TimePeriod[0].seasonBookingPeriod.seasonStartDate + ' til ' + TimePeriod[0].seasonBookingPeriod.seasonEndDate}"></td>
                                <td th:text="${TimePeriod[0].timeFrom}"></td>
                                <td th:text="${TimePeriod[0].timeTo}"></td>
                                <td th:text="${TimePeriod[0].isBooked()} ? 'Ja' : 'Nej'"></td>
                                <td th:text="${#lists.size(TimePeriod[0].bookings)}"></td>
                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TimePeriod[1])}"></td>
                                <td>
                                    <button th:if="${!TimePeriod[0].isBooked() && !TimePeriod[0].isReservedByInvited()}" th:id="${TimePeriod[0].id}" class="btn btn-success" onclick="openModal(this.id)">Book denne periode</button>
                                    <button th:if="${TimePeriod[0].isBooked() || TimePeriod[0].isReservedByInvited()}" class="btn btn-dark" disabled>Kan ikke bookes</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingFriday">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" data-target="#fredag" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Fredag</i></button>
                        </h5>
                    </div>
                    <div id="fredag" class="collapse" data-parent="#accordionExample-faq">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bane</th>
                                <th>I perioden</th>
                                <th>Tid fra</th>
                                <th>Tid til</th>
                                <th>Booket</th>
                                <th>Antal bookinger</th>
                                <th>Pris</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="TimePeriod : ${timePeriods}" th:if="${TimePeriod[0].seasonBookingPeriod.dayOfWeek == 'fredag'}">
                                <td th:text="${TimePeriod[0].court.title}"></td>
                                <td th:text="${TimePeriod[0].seasonBookingPeriod.seasonStartDate + ' til ' + TimePeriod[0].seasonBookingPeriod.seasonEndDate}"></td>
                                <td th:text="${TimePeriod[0].timeFrom}"></td>
                                <td th:text="${TimePeriod[0].timeTo}"></td>
                                <td th:text="${TimePeriod[0].isBooked()} ? 'Ja' : 'Nej'"></td>
                                <td th:text="${#lists.size(TimePeriod[0].bookings)}"></td>
                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TimePeriod[1])}"></td>
                                <td>
                                    <button th:if="${!TimePeriod[0].isBooked() && !TimePeriod[0].isReservedByInvited()}" th:id="${TimePeriod[0].id}" class="btn btn-success" onclick="openModal(this.id)">Book denne periode</button>
                                    <button th:if="${TimePeriod[0].isBooked() || TimePeriod[0].isReservedByInvited()}" class="btn btn-dark" disabled>Kan ikke bookes</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingSaturday">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" data-target="#lørdag" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Lørdag</i></button>
                        </h5>
                    </div>
                    <div id="lørdag" class="collapse" data-parent="#accordionExample-faq">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bane</th>
                                <th>I perioden</th>
                                <th>Tid fra</th>
                                <th>Tid til</th>
                                <th>Booket</th>
                                <th>Antal bookinger</th>
                                <th>Pris</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="TimePeriod : ${timePeriods}" th:if="${TimePeriod[0].seasonBookingPeriod.dayOfWeek == 'lørdag'}">
                                <td th:text="${TimePeriod[0].court.title}"></td>
                                <td th:text="${TimePeriod[0].seasonBookingPeriod.seasonStartDate + ' til ' + TimePeriod[0].seasonBookingPeriod.seasonEndDate}"></td>
                                <td th:text="${TimePeriod[0].timeFrom}"></td>
                                <td th:text="${TimePeriod[0].timeTo}"></td>
                                <td th:text="${TimePeriod[0].isBooked()} ? 'Ja' : 'Nej'"></td>
                                <td th:text="${#lists.size(TimePeriod[0].bookings)}"></td>
                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TimePeriod[1])}"></td>
                                <td>
                                    <button th:if="${!TimePeriod[0].isBooked() && !TimePeriod[0].isReservedByInvited()}" th:id="${TimePeriod[0].id}" class="btn btn-success" onclick="openModal(this.id)">Book denne periode</button>
                                    <button th:if="${TimePeriod[0].isBooked() || TimePeriod[0].isReservedByInvited()}" class="btn btn-dark" disabled>Kan ikke bookes</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingSunday">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-1 mb-0 py-2" type="button" data-toggle="collapse" data-target="#søndag" aria-expanded="true" aria-controls="collapseOne"><i class="font-20 text-primary mr-2" name="department">Søndag</i></button>
                        </h5>
                    </div>
                    <div id="søndag" class="collapse" data-parent="#accordionExample-faq">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Bane</th>
                                <th>I perioden</th>
                                <th>Tid fra</th>
                                <th>Tid til</th>
                                <th>Booket</th>
                                <th>Antal bookinger</th>
                                <th>Pris</th>
                                <th>Handlinger</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="TimePeriod : ${timePeriods}" th:if="${TimePeriod[0].seasonBookingPeriod.dayOfWeek == 'søndag'}">
                                <td th:text="${TimePeriod[0].court.title}"></td>
                                <td th:text="${TimePeriod[0].seasonBookingPeriod.seasonStartDate + ' til ' + TimePeriod[0].seasonBookingPeriod.seasonEndDate}"></td>
                                <td th:text="${TimePeriod[0].timeFrom}"></td>
                                <td th:text="${TimePeriod[0].timeTo}"></td>
                                <td th:text="${TimePeriod[0].isBooked()} ? 'Ja' : 'Nej'"></td>
                                <td th:text="${#lists.size(TimePeriod[0].bookings)}"></td>
                                <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(TimePeriod[1])}"></td>
                                <td>
                                    <button th:if="${!TimePeriod[0].isBooked() && !TimePeriod[0].isReservedByInvited()}" th:id="${TimePeriod[0].id}" class="btn btn-success" onclick="openModal(this.id)">Book denne periode</button>
                                    <button th:if="${TimePeriod[0].isBooked() || TimePeriod[0].isReservedByInvited()}" class="btn btn-dark" disabled>Kan ikke bookes</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <span th:text="${version}" style="color: white; position:absolute; bottom: 10px; right: 10px; opacity: 0.5;"></span>

    <div id="url_courtbooking" style="display: none;" th:text="${union.url}"></div>

    <div th:replace="clubpage/courtbooking/season/modal/newSeasonBookingModal :: newSeasonBookingModal"></div>

    <!-- JAVASCRIPTS -->
    <!-- jQuery  -->
    <script src="/panelResources/js/jquery.min.js"></script>
    <script src="/panelResources/js/bootstrap.bundle.min.js"></script>
    <script src="/panelResources/js/metisMenu.min.js"></script>
    <script src="/panelResources/js/waves.min.js"></script>
    <script src="/panelResources/js/jquery.slimscroll.min.js"></script>

    <script src="/panelResources/plugins/scheduler/core/main.js"></script>
    <script src="/panelResources/plugins/scheduler/interaction/main.js"></script>
    <script src="/panelResources/plugins/scheduler/daygrid/main.js"></script>
    <script src="/panelResources/plugins/scheduler/timegrid/main.js"></script>
    <script src="/panelResources/plugins/scheduler/timeline/main.js"></script>
    <script src="/panelResources/plugins/scheduler/resource-common/main.js"></script>
    <script src="/panelResources/plugins/scheduler/resource-timeline/main.js"></script>
    <script src="/panelResources/plugins/fullcalendar/locales/da.js"></script>

    <script src="/panelResources/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script src="/JavaScript/Landing/courtbooking_period.js"></script>

    <script src="/JavaScript/customJS/buttonEffects.js"></script>
    <script src="/JavaScript/customJS/Notification.js"></script>
    <script src="/JavaScript/customJS/Validation.js"></script>

    <!-- App js -->
    <script src="/panelResources/js/app.js"></script>

</body>
</html>