<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Tilmeld events</title>

    <!-- DataTables -->
    <link href="/static/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/static/CSS/clubtimize-tabs.css">
    <link rel="stylesheet" href="/static/CSS/clubtimize-error.css">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Tilmeld events</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Tilmeld events</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                    <div class="card">
                        <div class="card-body ">
                            <h5>Events jeg deltager i</h5>
                            <p class="text-muted"><i>Klik på en events titel for at få mere at vide</i></p>
                            <hr class="clubtimize-hr">
                            <table class="table table-bordered" id="tbl_registerEvent_going">
                                <thead>
                                <tr>
                                    <th scope="col">Titel</th>
                                    <th scope="col">Dato fra</th>
                                    <th scope="col">Tid fra</th>
                                    <th scope="col">Dato til</th>
                                    <th scope="col">Tid til</th>
                                    <th scope="col">Sted</th>
                                    <th scope="col">Pris</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${EventInvitation.answered && EventInvitation.isComming()}" th:each="EventInvitation : ${currentUser.eventInvitations}">
                                    <td><a th:href="${'/panel/event?event=' + EventInvitation.event.id}" th:text="${EventInvitation.event.title}"></a></td>
                                    <td th:text="${EventInvitation.event.dateFrom}"></td>
                                    <td th:text="${EventInvitation.event.timeFrom}"></td>
                                    <td th:text="${EventInvitation.event.dateTo}"></td>
                                    <td th:text="${EventInvitation.event.timeTo}"></td>
                                    <td th:text="${EventInvitation.event.location}"></td>
                                    <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(EventInvitation.event.price)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                    <div class="card">
                        <div class="card-body ">
                            <h5>Events jeg er inviteret til</h5>
                            <p class="text-muted"><i>Klik på en events titel for at få mere at vide og tilmelde dig</i></p>
                            <hr class="clubtimize-hr">
                            <table class="table table-bordered" id="tbl_registerEvent_invited">
                                <thead>
                                <tr>
                                    <th scope="col">Titel</th>
                                    <th scope="col">Dato fra</th>
                                    <th scope="col">Tid fra</th>
                                    <th scope="col">Dato til</th>
                                    <th scope="col">Tid til</th>
                                    <th scope="col">Sted</th>
                                    <th scope="col">Pris</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${!EventInvitation.answered}" th:each="EventInvitation : ${currentUser.eventInvitations}">
                                    <td><a th:href="${'/panel/event?event=' + EventInvitation.event.id}" th:text="${EventInvitation.event.title}"></a></td>
                                    <td th:text="${EventInvitation.event.dateFrom}"></td>
                                    <td th:text="${EventInvitation.event.timeFrom}"></td>
                                    <td th:text="${EventInvitation.event.dateTo}"></td>
                                    <td th:text="${EventInvitation.event.timeTo}"></td>
                                    <td th:text="${EventInvitation.event.location}"></td>
                                    <td th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(EventInvitation.event.price)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span
                class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

</th:block>

<th:block layout:fragment="script">

    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/JavaScript/Panel/user/registerevents.js"></script>

</th:block>
</body>
</html>