<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Opret træningsplan</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <style>
        td.details-control {
            background: url('/panelResources/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url('/panelResources/images/details_close.png') no-repeat center center;
        }
    </style>

    <style>
        .wizard > .steps > ul > li
        {
            width: 50%;
        }

        .select2-search__field
        {
            border: none!important;
        }
    </style>

</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="${'/panel/træning?id=' + training.id}">Træning</a></li>
                                <li class="breadcrumb-item active">Rediger træningsplan</li>
                            </ol>
                        </div>
                        <h4 class="page-title" th:text="${'Rediger træningsplan - ' + training.team.title + ', ' + training.date}"></h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 th:if="${#lists.isEmpty(training.trainingsplan.trainingModules)}" class="text-muted" style="text-align: center"><i>Det ser ud til, at der ikke er lavet en træningsplan for denne træning. Start ved at tilføje træningens første modul</i></h3>
                            <div class="activity">
                                <hr>
                                <th:block th:each="TrainingModule : ${training.trainingsplan.trainingModules}">
                                    <a href="#" th:id="${TrainingModule.id}" onclick="deleteModule(this.id)"><i class="mdi mdi-close text-primary"></i></a>
                                    <div class="time-item">
                                        <div class="item-info">
                                            <div class="text-muted text-right font-14" th:text="${'Varihed cirka ' + TrainingModule.approxTime + ' minutter'}"></div>
                                            <h5 class="mt-0" th:text="${TrainingModule.title}"></h5>
                                            <p class="text-muted font-13" th:text="${TrainingModule.description}"></p>
                                            <p th:if="${TrainingModule.exerciseDGI != null}" class="text-muted font-12" th:text="${'DGI: ' + TrainingModule.exerciseDGI.name}"></p>
                                        </div>
                                    </div>
                                    <hr>
                                </th:block>
                            </div>


                            <div class="dropdown mo-mb-2">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="display: block; margin-left: auto; margin-right: auto">
                                    Tilføj modul
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-animation="bounce" data-target="#addModuleModal">Tilføj standard modul</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-animation="bounce" data-target="#addModuleModalDGI">Tilføj modul - DGI Øvelsesbanken</a>
                                </div>
                            </div>

                            <h5><a th:href="${'/panel/træning?id=' + training.id}">Gå tilbage til træning</a></h5>

                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!-- container -->

        <!-- DGI modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true" id="addModuleModalDGI">
            <div class="modal-dialog modal-lg" style="max-width: 1800px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabelDGI">Tilføj DGI modul</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form id="OpretDGIModulForm" class="form-horizontal form-wizard-wrapper">
                            <h3>DGI øvelser</h3>
                            <fieldset>
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered w-100 display">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Navn</th>
                                            <th>Undertitle</th>
                                            <th>Kategori</th>
                                            <th style="display:none">Emneord</th>
                                            <th>Tid</th>
                                            <th>Niveau</th>
                                            <th>Alder</th>
                                            <th>Deltagere</th>
                                            <th style="display: none;">VideoUrl</th>
                                            <th>Valgte øvelse</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ExerciseDGI : ${exercises}">
                                            <td></td>
                                            <td th:text="${ExerciseDGI.name}"></td>
                                            <td th:text="${ExerciseDGI.lead}"></td>
                                            <td th:text="${ExerciseDGI.category}"></td>
                                            <td th:text="${ExerciseDGI.emneord}" style="display:none"></td>
                                            <td th:text="${ExerciseDGI.time}"></td>
                                            <td th:text="${ExerciseDGI.level}"></td>
                                            <td th:utext="${#strings.replace(ExerciseDGI.agegroup, ' år', '')}"></td>
                                            <td th:utext="${#strings.replace(ExerciseDGI.participants, ' deltagere', '')}"></td>
                                            <td th:text="${ExerciseDGI.videoUrl}" style="display: none;"></td>
                                            <th>
                                                <div class="radio my-2">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" th:id="${ExerciseDGI.id}" name="chooseRadio" onchange="storeId(this.id)" class="custom-control-input">
                                                        <label class="custom-control-label" th:for="${ExerciseDGI.id}">Vælg</label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                            </fieldset>
                            <h3>Detaljer</h3>
                            <fieldset>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <label for="editModuleTitle" class="col-form-label">Title</label>
                                                    <input class="form-control" type="text" id="editModuleTitleDGI" placeholder="Title...">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <label for="editModalApproxTime" class="col-form-label">Cirka tid i minutter</label>
                                                    <input class="form-control" type="number" id="editModalApproxTimeDGI" placeholder="Minutter...">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <label for="editModalDescription" class="col-form-label">Beskrivelse</label>
                                                    <textarea class="form-control" id="editModalDescriptionDGI" rows="10" placeholder="Beskrivelse..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Standard modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true" id="addModuleModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">Tilføj standard modul</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="editModuleTitle" class="col-form-label">Title</label>
                                            <input class="form-control" type="text" id="editModuleTitle" placeholder="Title...">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="editModalApproxTime" class="col-form-label">Cirka tid i minutter</label>
                                            <input class="form-control" type="number" id="editModalApproxTime" placeholder="Minutter...">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="editModalDescription" class="col-form-label">Beskrivelse</label>
                                            <textarea class="form-control" id="editModalDescription" rows="10" placeholder="Beskrivelse..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" id="btnAddModule">Tilføj</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <div id="chosenExerciseId" style="display: none;"></div>

        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">

    <script src="/panelResources/plugins/jquery-steps/jquery.steps.min.js"></script>
    <script src="/panelResources/pages/jquery.form-wizard.init.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="/panelResources/clubtimizeJS/træning/redigertræningsplan.js"></script>


</th:block>

</body>
</html>