<div th:fragment="resetPasswordModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modal_resetPasswordModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">Glemt din kode? - Indtast din email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_resetPasswordModal_email" class="col-form-label">Email</label>
                                <input class="form-control" type="text" id="inp_resetPasswordModal_email" placeholder="Email...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btn_resetPasswordModal_send">Send</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>