<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Email kommunikation</title>
</head>
<body layout:fragment="content">
<!-- Page Content-->
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Kommunikation</li>
                            <li class="breadcrumb-item active">Email</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Email kommunikation</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div><!-- container -->

    <footer class="footer text-center text-sm-left">
        &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
    </footer>
</div>
<!-- end page content -->
</body>
</html>