<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Forenings indstillinger</title>

    <!-- Dropzone css -->
    <link href="/panelResources/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
    <link href="/panelResources/plugins/dropify/css/dropify.css" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/clubtimize-error.css">
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Indstillinger</li>
                            </ol>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <!--General info-->
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-custom" roleName="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kontingenter" roleName="tab">Generelt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#økonomi" roleName="tab">Økonomi og regnskab</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#sæsonskifte" roleName="tab">Sæsonskifte</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active p-3" id="kontingenter" roleName="tabpanel">
                                    <div th:replace="panel/unionsettings/content/general :: general"></div>
                                </div>

                                <div class="tab-pane p-3" id="økonomi" roleName="tabpanel">
                                    <div th:replace="panel/unionsettings/content/economy/economy :: economy"></div>
                                </div>

                                <div class="tab-pane p-3" id="sæsonskifte" roleName="tabpanel">
                                    <div th:replace="panel/unionsettings/content/seasonchange/seasonchange :: seasonchange"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>

        </div><!-- container -->

        <div th:replace="panel/unionsettings/modals/changeLogoModal :: changeLogoModal"></div>
        <div th:replace="panel/unionsettings/content/seasonchange/modal/newSeasonModal :: newSeasonModal"></div>


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">
    <!-- Dropzone js -->
    <script src="/panelResources/plugins/dropzone/dist/dropzone.js"></script>
    <script src="/panelResources/plugins/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/panelResources/plugins/dropify/js/dropify.js"></script>

    <script src="/JavaScript/Panel/unionsettings/unionsettings.js"></script>
    <script src="/JavaScript/Panel/unionsettings/economysettings.js"></script>
    <script src="/JavaScript/Panel/unionsettings/seasonchangesettings.js"></script>
</th:block>
</body>
</html>