<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Inviter spiller</title>

    <link href="/panelResources/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- Sweet Alert -->
    <link href="/panelResources/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="/panelResources/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Invitation</li>
                                <li class="breadcrumb-item active">Spiller</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Inviter spiller</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h5 style="position:absolute;" class="text-muted">Inviter en person til at spille på et hold</h5>

                                <a style="padding-top: 10px;" href="#" class="float-right" th:if="${currentUser.role.rolePermissions.canAdministrate}" data-toggle="modal" data-animation="bounce" data-target="#modal_newInvitationModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80" viewBox="0 0 30 30" style=" fill:#419ACA;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21,16h-5v5 c0,0.553-0.448,1-1,1s-1-0.447-1-1v-5H9c-0.552,0-1-0.447-1-1s0.448-1,1-1h5V9c0-0.553,0.448-1,1-1s1,0.447,1,1v5h5 c0.552,0,1,0.447,1,1S21.552,16,21,16z"></path></svg>
                                </a>

                                <div style="padding-top: 35px; width: calc(100% - 80px); margin-left: -1.25rem;">
                                    <hr>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tbl_newInvitationModalPlayer_invitations">
                                    <thead>
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Invitations nummer</th>
                                        <th scope="col">Hold</th>
                                        <th scope="col">Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="RecruitmentInvitation : ${invitations}">
                                        <td th:text="${RecruitmentInvitation.email}"></td>
                                        <td th:text="${RecruitmentInvitation.invNumber}"></td>
                                        <td th:text="${RecruitmentInvitation.team.title + ' - ' + RecruitmentInvitation.team.teamDepartment.title}"></td>
                                        <td th:text="${RecruitmentInvitation.status}"></td>
                                        <td><a th:id="${RecruitmentInvitation.invNumber}" onclick="cancleInvitation(this.id)" href="#" class="btn btn-danger">Annuller invitation</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div th:replace="panel/invitation/invite/player/modals/newInvitationModalPlayer :: newInvitationModalPlayer"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->


</th:block>

<th:block layout:fragment="script">
    <!-- Required datatable js -->
    <script src="/panelResources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/panelResources/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="/panelResources/plugins/sweet-alert2/sweetalert2.min.js"></script>

    <script src="/panelResources/plugins/select2/select2.min.js"></script>
    <script src="/JavaScript/Panel/invitations/invitePlayer.js"></script>
</th:block>
</body>
</html>