<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title th:text="${currentUser.firstname + ' ' + currentUser.lastname + ' - Indstillinger'}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Bruger</li>
                                <li class="breadcrumb-item active">Indstillinger</li>
                            </ol>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <!--General info-->
                    <div class="card">
                        <div class="card-body">
                            <h5>Mine oplysninger</h5>
                            <hr>
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td><span class="dripicons-user"></span> Navn: </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input class="form-control" type="text" id="inp_settings_firstname" placeholder="Fornavn..." th:value="${currentUser.firstname}" disabled>
                                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_settings_firstname_validate"></ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control" type="email" id="inp_settings_lastname" placeholder="Efternavn..." th:value="${currentUser.lastname}" disabled>
                                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_settings_lastname_validate"></ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mdi mdi-email"></span> Email: </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input class="form-control" type="email" id="inp_settings_email" placeholder="Email..." th:value="${currentUser.email}" disabled>
                                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_settings_email_validate"></ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mdi mdi-cellphone-android"></span> Telefon: </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input class="form-control" type="number" id="inp_settings_phone" placeholder="Telefon..." th:value="${currentUser.phone}" disabled>
                                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_settings_phone_validate"></ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="dripicons-location"></span> Addresse: </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input class="form-control" type="text" id="inp_settings_address" placeholder="Addresse..." th:value="${currentUser.address}" disabled>
                                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_settings_address_validate"></ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mdi mdi-human-child"></span> Fødselsdag: </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input class="form-control" type="date" id="inp_settings_birthday" placeholder="Fødselsdag..." th:value="${birthday}" disabled>
                                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_settings_birthday_validate"></ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="dripicons-user-group"></span> Køn: </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <select id="sel_settings_gender" class="form-control" disabled>
                                                    <option th:if="${currentUser.gender == 'Mand'}" value="Mand" selected>Mand</option>
                                                    <option th:if="${currentUser.gender == 'Kvinde'}" value="Mand">Mand</option>
                                                    <option th:if="${currentUser.gender == 'Kvinde'}" value="Kvinde" selected>Kvinde</option>
                                                    <option th:if="${currentUser.gender == 'Mand'}" value="Kvinde">Kvinde</option>
                                                    <option th:if="${currentUser.gender == null}" value="Intet køn">Intet køn</option>
                                                </select>
                                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_settings_gender_validate"></ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button id="btn_settings_editinformation" class="btn btn-primary">Rediger oplysninger</button>
                            <button id="btn_settings_cancel" class="btn btn-danger" style="display: none;">Annuller</button>
                            <hr>
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td><span class="dripicons-time-reverse"></span> Medlem siden: </td>
                                    <td th:text="${currentUser.dateJoined}"></td>
                                </tr>
                                <tr>
                                    <td><span class="dripicons-pencil"></span> Rolle: </td>
                                    <td th:text="${currentUser.role.roleName} ? ${currentUser.role.roleName} : 'Ingen rolle'"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div><!--end row-->
            </div>

        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->
</th:block>

<th:block layout:fragment="script">
    <script src="/JavaScript/Panel/user/settings.js"></script>
</th:block>
</body>
</html>