<div th:fragment="inviteAPlayer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="clubtimize-box" style="background-color: white;">
        <div>
            <h5 style="position:absolute;" class="text-muted">Inviter en person til at spille på <span th:text="${chosenTeam.title + ' - ' + chosenTeam.teamDepartment.title}"></span></h5>

            <a href="#" class="float-right" data-toggle="modal" data-animation="bounce" data-target="#modal_newInvitationModal">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="70" height="70" viewBox="0 0 30 30" style=" fill:#419ACA;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21,16h-5v5 c0,0.553-0.448,1-1,1s-1-0.447-1-1v-5H9c-0.552,0-1-0.447-1-1s0.448-1,1-1h5V9c0-0.553,0.448-1,1-1s1,0.447,1,1v5h5 c0.552,0,1,0.447,1,1S21.552,16,21,16z"></path></svg>
            </a>

            <div style="padding-top: 20px; width: calc(100% - 80px)">
                <hr>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="tbl_invitePlayerModal_invitations">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Invitations nummer</th>
                    <th scope="col">Hold</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="RecruitmentInvitation : ${invitations}">
                    <td th:text="${RecruitmentInvitation.email}"></td>
                    <td th:text="${RecruitmentInvitation.invNumber}"></td>
                    <td th:text="${RecruitmentInvitation.team.title + ' - ' + RecruitmentInvitation.team.teamDepartment.title}"></td>
                    <td th:text="${RecruitmentInvitation.status}"></td>
                    <td><a th:id="${RecruitmentInvitation.invNumber}" onclick="cancleInvitation(this.id)" href="#" class="btn btn-danger">Annuller invitation</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="panel/trænertools/modal/invitePlayerModal :: invitePlayerModal"></div>
    </div>
</div>