<div th:fragment="signedUp" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="tbl_myTeams_players" class="table table-striped table-bordered w-100">
                    <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Email</th>
                        <th>Telefonnummer</th>
                        <th>Addresse</th>
                        <th>Køn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Player : ${chosenTeam.players}">
                        <td th:text="${Player.unionAssosiation.user.firstname + ' ' + Player.unionAssosiation.user.lastname}"></td>
                        <td th:text="${Player.unionAssosiation.user.email}"></td>
                        <td th:text="${Player.unionAssosiation.user.phone}"></td>
                        <td th:text="${Player.unionAssosiation.user.address}"></td>
                        <td th:text="${Player.unionAssosiation.user.gender}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>