<div th:fragment="stats" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-custom" roleName="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#fraværd" roleName="tab">Fravær</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kønsfordeling" roleName="tab">Kønsfordeling</a>
        </li>
        <!--<li class="nav-item">-->
            <!--<a class="nav-link" data-toggle="tab" href="#mmr" roleName="tab">Kamp points</a>-->
        <!--</li>-->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active p-3" id="fraværd" roleName="tabpanel">
            <canvas id="chart_stats_missingLast10" height="100"></canvas>
        </div>

        <div class="tab-pane p-3" id="kønsfordeling" roleName="tabpanel">
            <canvas id="chart_stats_gender" height="100"></canvas>
        </div>

        <!--<div class="tab-pane p-3" id="mmr" roleName="tabpanel">-->
            <!--<div class="clubtimize-box" style="background-color: white">-->
                <!--<h5><u>Herresingle</u></h5>-->
                <!--<div style="padding: 15px;">-->
                    <!--<div class="row">-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 12px"><i>Højeste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_mensingles-highest-name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mensingles_highest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Laveste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_mensingles_lowest_name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mensingles_lowest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Største difference</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mensingles_difference">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Gennemsnit</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mensingles_average">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-4" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Generelle form</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mensingles_form">Ukendt</h1>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<h5><u>Damesingle</u></h5>-->
                <!--<div style="padding: 15px;">-->
                    <!--<div class="row">-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 12px"><i>Højeste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_womensingles-highest-name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womensingles_highest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Laveste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_womensingles_lowest_name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womensingles_lowest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Største difference</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womensingles_difference">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Gennemsnit</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womensingles_average">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-4" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Generelle form</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womensingles_form">Ukendt</h1>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<h5><u>Herredouble</u></h5>-->
                <!--<div style="padding: 15px;">-->
                    <!--<div class="row">-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 12px"><i>Højeste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_mendouble-highest-name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mendouble_highest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Laveste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_mendouble_lowest_name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mendouble_lowest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Største difference</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mendouble_difference">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Gennemsnit</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mendouble_average">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-4" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Generelle form</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mendouble_form">Ukendt</h1>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<h5><u>Damedouble</u></h5>-->
                <!--<div style="padding: 15px;">-->
                    <!--<div class="row">-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 12px"><i>Højeste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_womendouble-highest-name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womendouble_highest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Laveste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_womendouble_lowest_name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womendouble_lowest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Største difference</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womendouble_difference">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Gennemsnit</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womendouble_average">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-4" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Generelle form</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_womendouble_form">Ukendt</h1>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<h5><u>Mixeddouble</u></h5>-->
                <!--<div style="padding: 15px;">-->
                    <!--<div class="row">-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 12px"><i>Højeste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_mixeddouble-highest-name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mixeddouble_highest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Laveste points</i></h5>-->
                            <!--<h5 style="font-size: 13px" class="text-muted"><i id="lbl_stats_mixeddouble_lowest_name">Ingen spillere tilmeldt</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mixeddouble_lowest_points">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Største difference</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mixeddouble_difference">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-2" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Gennemsnit</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mixeddouble_average">0</h1>-->
                        <!--</div>-->
                        <!--<div class="col-4" style="text-align: center">-->
                            <!--<h5 style="font-size: 13px"><i>Generelle form</i></h5>-->
                            <!--<h1 style="color: #44A2D2;" id="lbl_stats_mixeddouble_form">Ukendt</h1>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>