<div th:fragment="newInvitationModal" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="newDepartmentModal" xmlns:th="http://www.w3.org/1999/xhtml">
        <!-- Opret holdkategori modal -->
        <div class="modal fade bs-example-modal-lg" id="modal_newInvitationModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title align-self-center mt-0">Ny invitation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="inp_manageCoaches_invCoachEmail" class="col-form-label">Træners email</label>
                                    <input class="form-control" type="email" id="inp_manageCoaches_invCoachEmail" placeholder="Email...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="sel_manageCoaches_invCoachTeam" class="col-form-label">Hold</label>
                                    <select class="select2 form-control mb-3 custom-select" id="sel_manageCoaches_invCoachTeam" style="width: 100%; height:36px;">
                                        <optgroup th:each="TeamDepartment : ${currentUnion.departments}" th:label="${TeamDepartment.title}">
                                            <option th:each="Team : ${TeamDepartment.teams}" th:value="${Team.teamId}" th:text="${Team.title}"></option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="inp_manageCoaches_invCoachWage" class="col-form-label">Timeløn i DKK</label>
                                    <p class="text-muted font-12">Dette bliver ikke sendt i invitationen, men bliver trænerens løn når invitationen accepteres</p>
                                    <input class="form-control" type="number" id="inp_manageCoaches_invCoachWage" placeholder="Timeløn...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                        <button type="button" id="btn_manageCoaches_sendInv" class="btn btn-primary waves-effect waves-light">Send invitation</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
