<div th:fragment="newBankInfoModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal fade bs-example-modal-lg" id="modal_newBankInfo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Angiv bank oplysninger</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>Før at vi kan udbetale jeres penge, er vi nødt til at vide hvor pengene skal sendes til</p>
                    <p>Angiv følgende oplysninger før du fortsætter</p>
                    <p class="text-muted">Dette kan kun ændres ved at kontakte Clubtimize med nye informationer</p>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_newBankInfoModal_accountnumber" class="col-form-label">Kontonummer</label>
                                <input class="form-control" type="number" id="inp_newBankInfoModal_accountnumber" placeholder="Kontonummer...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_newBankInfoModal_registrationnumber" class="col-form-label">Registrerings nummer</label>
                                <input class="form-control" type="number" id="inp_newBankInfoModal_registrationnumber" placeholder="Registrerings nummer...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_newBankInfoModal_bankname" class="col-form-label">Bank navn</label>
                                <input class="form-control" type="text" id="inp_newBankInfoModal_bankname" placeholder="Bank navn...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_newBankInfoModal_bankname" class="col-form-label">Kontakt nummer</label>
                                <input class="form-control" type="number" id="inp_newBankInfoModal_contactnumber" placeholder="Kontakt nummer...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_newBankInfoModal_sendbankinfo" class="btn btn-primary waves-effect waves-light">Videre</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>