<div th:fragment="newTeamModal" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" id="modal_newTeamModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Opret nyt hold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <form action="#" method="post" id="form_newTeamModal_newTeam" class="form-horizontal form-wizard-wrapper">
                        <h3>Hold information</h3>
                        <fieldset>
                            <div class="col-md-12">
                                <h5>Disse information kommer til at blive synlige på tilmeldingssiden</h5>
                                <!-- Teams title -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="inp_newTeamModal_title" class="col-form-label">Holdets titel</label>
                                        <input class="form-control" type="text" id="inp_newTeamModal_title" placeholder="Titel...">
                                    </div>
                                </div>

                                <!-- Teams department -->
                                <label class="control-label">Vælg afdeling</label>
                                <select id="sel_newTeamModal_department" title="Afdeling" class="form-control">
                                    <option th:each="TeamDepartment : ${currentUnion.departments}" th:value="${TeamDepartment.title}" th:text="${TeamDepartment.title}"></option>
                                </select>

                                <br>

                                <!-- Teams avalible spots -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="inp_newTeamModal_avalibleSpots" class="col-form-label">Antal ledige pladser</label>
                                        <input class="form-control" type="number" id="inp_newTeamModal_avalibleSpots" placeholder="Ledige pladser...">
                                    </div>
                                </div>

                                <!-- If is closed -->
                                <div class="checkbox my-2" style="padding-top: 5px">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="che_newTeamModal_ifClosed">
                                        <label class="custom-control-label" for="che_newTeamModal_ifClosed">Lukket tilmelding</label>
                                    </div>
                                </div>

                                <hr>
                                <!-- Described agegroup -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="inp_newTeamModal_describedAge" class="col-form-label">Aldersgruppe</label>
                                        <input class="form-control" type="text" id="inp_newTeamModal_describedAge" placeholder="Eksempel: 11-17 år">
                                    </div>
                                </div>

                                <!-- Described niveau -->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="inp_newTeamModal_describedNiveau" class="col-form-label">Niveau</label>
                                        <input class="form-control" type="text" id="inp_newTeamModal_describedNiveau" placeholder="Eksempel: Øvede">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h3>Trænings opsætning</h3>
                        <fieldset>

                            <!-- Teams weekly trainings -->
                            <label class="col-form-label">Træningsdage</label>
                            <br>
                            <div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <fieldset>
                                            <div class="repeater-custom-show-hide">
                                                <div data-repeater-list="trainings">
                                                    <div data-repeater-item="training">
                                                        <div class="form-group row d-flex align-items-end">

                                                            <div class="col-sm-3">
                                                                <label class="control-label"><i>Dag</i></label>
                                                                <select name="training[0][day]" class="form-control">
                                                                    <option value="Mandag">Mandag</option>
                                                                    <option value="Tirsdag">Tirsdag</option>
                                                                    <option value="Onsdag">Onsdag</option>
                                                                    <option value="Torsdag">Torsdag</option>
                                                                    <option value="Fredag">Fredag</option>
                                                                    <option value="Lørdag">Lørdag</option>
                                                                    <option value="Søndag">Søndag</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-sm-3">
                                                                <label class="control-label"><i>Sted</i></label>
                                                                <select name="training[0][location]" class="form-control">
                                                                    <option th:each="Hall : ${currentUnion.halls}" th:value="${Hall.title}" th:text="${Hall.title}">GUG Hallen</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-sm-2">
                                                                <label class="control-label"><i>Tid fra</i></label>
                                                                <input class="form-control" name="træning[0][timefrom]"
                                                                       type="time" id="timefrom">
                                                            </div>

                                                            <div class="col-sm-2">
                                                                <label class="control-label"><i>Tid til</i></label>
                                                                <input class="form-control" name="træning[0][timeto]"
                                                                       type="time" id="timeto">
                                                            </div>

                                                            <div class="col-sm-2">
                                                            <span data-repeater-delete="" class="btn btn-danger btn-sm">
                                                                <span class="fa fa-times"></span> Fjern
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-0">
                                                    <div class="col-sm-12">
                                                <span data-repeater-create="" class="btn btn-light btn-md">
                                                    <span class="fa fa-plus"></span> Tilføj
                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <br>

                            <!-- Teams coaches -->
                            <div class="form-group row  d-flex align-items-end">
                                <div class="col-sm-12">
                                    <label class="mt-2">Vælg træner(e) - klik i feltet</label>
                                    <select id="sel_newTeamModal_coaches" class="select2 mb-3 select2-multiple" style="width: 100%" multiple="multiple" data-placeholder="Choose">
                                        <option th:each="Coach : ${currentUnion.coaches}" th:text="${Coach.unionAssosiation.user.firstname + ' ' + Coach.unionAssosiation.user.lastname}" th:value="${Coach.coachId}"></option>
                                    </select>
                                    <h5 class="text-muted font-12">*Hvis ingen træner er valgt, kan du invitere en træner via "Invitationer -> Træner invitationer" til enhver tid</h5>
                                </div>
                            </div>
                        </fieldset>
                        <h3>Økonomi og regnskab</h3>
                        <fieldset>
                            <!-- Price -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="sel_newTeamModal_paymentSchedule" class="col-form-label">Betalingsplan</label>
                                    <select id="sel_newTeamModal_paymentSchedule" class="form-control">
                                        <option value="årligt">Årligt</option>
                                        <option value="halvårligt">Halvårligt</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label id="lbl_newTeamModal_labelOverPaymentSchedule" for="inp_newTeamModal_price" class="col-form-label">Kontingent pris i DKK (Årligt)</label>
                                    <input class="form-control" type="number" id="inp_newTeamModal_price" placeholder="Kontingent pris...">
                                    <h5 id="lbl_newTeamModal_paymentScheduleWarning" class="text-muted font-12">Indtast den årlige pris</h5>
                                </div>
                            </div>

                            <!-- Starting date -->
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>*Start dato</label>
                                        <div>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                                <div class="input-group-append bg-custom b-0"><span class="input-group-text"><i class="mdi mdi-calendar"></i></span></div>
                                            </div><!-- input-group -->
                                            <h5 class="text-muted font-12">*Hvis man tilmelder sig et hold før den angivet start dato, bliver faktureringsdatoen sat til denne. Dette er for at sikre at fakturaer bliver oprettet i korrekte regnskabsperioder.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </fieldset>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
