<div th:fragment="newSeasonModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modal_newSeasonModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">Opret ny sæson</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="checkbox my-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="che_newSeasonModal_isHalfWaySeason">
                                <label class="custom-control-label" for="che_newSeasonModal_isHalfWaySeason">Midtvejs opkrævning (Slå ikke denne til hvis du opretter en helt ny sæson)</label>
                            </div>
                        </div>

                        <div class="checkbox my-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="che_newSeasonModal_sendMail">
                                <label class="custom-control-label" for="che_newSeasonModal_sendMail">Send mail om ny opkrævning til medlemmer</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btn_newSeasonModal_create">Opret nu</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>