<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/landing/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/landing/css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/landing/css/materialdesignicons.min.css"/>


    <!-- App css -->
    <link href="/panelResources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/panelResources/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/CSS/clubtimize-inv-page.css">
    <link rel="stylesheet" href="/CSS/clubtimize-error.css">

</head>
<body>
    <div class="container">
        <div class="card card-shadow card-border" style="margin-top: 50px; margin-bottom: 50px;border: thin solid Gainsboro;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12" style="text-align: center; padding: 10px;">
                        <img th:src="${invitation.union.logoPath}" style="max-height: 150px; max-width: 500px;">
                    </div>
                </div>
                <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
                <br>
                <div class="row">
                    <div class="col-12">
                        <div style="text-align: center">
                            <p>Du er blevet inviteret til at oprette en bruger i Clubtimize i anledning af spillerpositionen
                                på hold: <b th:text="${invitation.team.title}"></b> <b
                                        th:text="${invitation.union.name}"></b></p>
                            <p style="font-size: 15px;"><i>Udfyld skemaet og kom igang med at bruge Clubtimize med det
                                samme:</i></p>
                        </div>

                        <div style="width: 850px; margin-left: auto; margin-right: auto">
                            <div class="col-sm-12 row">
                                <label for="inp_invitedPlayer_email" class="col-form-label">Email</label>
                                <input class="form-control" type="email" id="inp_invitedPlayer_email" placeholder="Email...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedPlayer_email_validate"></ul>
                            </div>
                            <div class="col-sm-12 row">
                                <label for="inp_invitedPlayer_password" class="col-form-label">Kodeord</label>
                                <input class="form-control" type="password" id="inp_invitedPlayer_password"
                                       placeholder="Kodeord...">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedPlayer_password_validate"></ul>
                            </div>
                            <div class="col-sm-12 row">
                                <label for="inp_invitedPlayer_passwordconfirm" class="col-form-label">Bekræft Kodeord</label>
                                <input class="form-control" type="password" id="inp_invitedPlayer_passwordconfirm"
                                       placeholder="Kodeord...">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedPlayer_passwordconfirm_validate"></ul>
                            </div>
                            <br>
                            <div class="col-sm-12 row">
                                <label for="inp_invitedPlayer_firstname" class="col-form-label">Fornavn</label>
                                <input class="form-control" type="text" id="inp_invitedPlayer_firstname"
                                       placeholder="Fornavn...">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedPlayer_firstname_validate"></ul>
                            </div>
                            <div class="col-sm-12 row">
                                <label for="inp_invitedPlayer_lastname" class="col-form-label">Efternavn</label>
                                <input class="form-control" type="text" id="inp_invitedPlayer_lastname"
                                       placeholder="Efternavn...">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedPlayer_lastname_validate"></ul>
                            </div>
                            <div class="col-sm-12 row">
                                <label for="inp_invitedPlayer_birthday" class="col-form-label">Fødselsdag</label>
                                <input class="form-control" type="date" id="inp_invitedPlayer_birthday">
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="inp_invitedPlayer_birthday_validate"></ul>
                            </div>
                            <div class="col-sm-12 row">
                                <label for="sel_invitedPlayer_gender" class="col-form-label">Køn</label>
                                <select id="sel_invitedPlayer_gender" class="form-control">
                                    <option value="Mand">Mand</option>
                                    <option value="Kvinde">Kvinde</option>
                                </select>
                                <ul class="clubtimize-error-list clubtimize-hide"
                                    id="sel_invitedPlayer_gender_validate"></ul>
                            </div>
                            <div class="col-sm-12 row">
                                <label for="inp_invitedPlayer_phone" class="col-form-label">Telefonnummer</label>
                                <input class="form-control" type="number" id="inp_invitedPlayer_phone">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_invitedPlayer_phone_validate"></ul>
                            </div>
                            <div class="col-sm-12 row">
                                <div class="col-sm-6" style="padding-left: 0;">
                                    <label for="inp_invitedPlayer_addreee" class="col-form-label">Addresse</label>
                                    <input class="form-control" type="text" id="inp_invitedPlayer_addreee"
                                           placeholder="Addresse...">
                                    <ul class="clubtimize-error-list clubtimize-hide"
                                        id="inp_invitedPlayer_addreee_validate"></ul>
                                </div>
                                <div class="col-sm-3" style="padding: 0;">
                                    <label for="inp_invitedPlayer_zip" class="col-form-label">Postnummer</label>
                                    <input class="form-control" type="number" id="inp_invitedPlayer_zip"
                                           placeholder="Postnummer...">
                                    <ul class="clubtimize-error-list clubtimize-hide"
                                        id="inp_invitedPlayer_zip_validate"></ul>
                                </div>
                                <div class="col-sm-3" style="padding-right: 0;">
                                    <label for="inp_invitedPlayer_city" class="col-form-label">By</label>
                                    <input class="form-control" type="text" id="inp_invitedPlayer_city" placeholder="By...">
                                    <ul class="clubtimize-error-list clubtimize-hide"
                                        id="inp_invitedPlayer_city_validate"></ul>
                                </div>
                            </div>
                            <br>
                            <div class="col-sm-12 row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="che_invitedPlayer_acceptusagewebsite">
                                    <label class="custom-control-label" id="lbl_invitedPlayer_acceptusagewebsite"
                                           for="che_invitedPlayer_acceptusagewebsite">Jeg accepterer <a
                                            href="https://clubtimize.dk/betingelser-for-brug-af-hjemmesiden/"
                                            target="_blank">Betingelser for brug af hjemmeside</a></label>
                                </div>
                            </div>
                            <div class="col-sm-12 row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="che_invitedPlayer_acceptservice">
                                    <label class="custom-control-label" id="lbl_invitedPlayer_acceptservice"
                                           for="che_invitedPlayer_acceptservice">Jeg accepterer <a
                                            href="https://clubtimize.dk/privatlivspolitik/" target="_blank">Privatlivspolitik</a></label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
                        <div style="text-align: center">
                            Kontingent pris: <span th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(invitation.team.price)}"></span>
                        </div>
                        <div style="text-align: center">
                            At betale: <span id="lbl_invitedPlayer_price" style="color: green;" th:text="${T(dk.clubtimize.clubtimize.controllers.support.CurrencyPipe).floatToDKKFormat(invitation.team.price)}"></span>
                        </div>
                        <div th:if="${invitation.union.unionEconomics.isPayingFees()}" class="text-muted" style="text-align: center">Beløb udgører kontingent pris</div>
                        <div th:if="${!invitation.union.unionEconomics.isPayingFees()}" class="text-muted" style="text-align: center">Beløb udgører kontingent pris og administrations gebyrer + moms heraf</div>
                        <br>
                        <div class="class-sm-12" style="text-align: center">
                            <button class="btn btn-primary" onclick="acceptInvitation(this.id)" th:id="${invitation.invNumber}" style="color: white;" name="create">Opret min bruger og gå til betaling</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div style="display: none;" th:text="${invitation.union.unionEconomics.feePercent}" id="hidden_invitedPlayer_fee"></div>
<div id="isPayingFees_invitedPlayer" th:text="${invitation.union.unionEconomics.isPayingFees()}" style="display: none;"></div>


<script src="/panelResources/js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
<script src="/panelResources/plugins/tippy/tippy.all.min.js"></script>

<script src="/JavaScript/customJS/buttonEffects.js"></script>
<script src="/JavaScript/customJS/Validation.js"></script>
<script src="/JavaScript/customJS/Notification.js"></script>
<script src="/JavaScript/Landing/invitations/player.js"></script>

</body>
</html>