<!DOCTYPE html>
<html lang="da" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel/layout/master}">
<head>
    <meta charset="UTF-8">
    <title th:text="${team.title}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Administration</li>
                                <li class="breadcrumb-item active">Administrer hold</li>
                                <li class="breadcrumb-item active" th:text="${team.title}"></li>
                            </ol>
                        </div>
                        <h4 th:text="${team.title}"></h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->


            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-4">
                    <!--General info-->
                    <div class="card">
                        <div class="card-body">
                            <a href data-toggle="modal" data-target="#modal_editTeamInfoModal">Rediger info</a>
                            <hr class="clubtimize-hr">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td> Titel: </td>
                                    <td th:text="${team.title}"></td>
                                </tr>
                                <tr>
                                    <td> Afdeling: </td>
                                    <td th:text="${team.teamDepartment.title}"></td>
                                </tr>
                                <tr>
                                    <td> Pladser: </td>
                                    <td th:text="${#lists.size(team.players) + '/' + team.avalibleSpots}"></td>
                                </tr>
                                <tr>
                                    <td> Lukket tilmelding: </td>
                                    <td th:text="${team.closed} ? 'Ja' : 'Nej'"></td>
                                </tr>
                                <tr>
                                    <td> Aldersgruppe: </td>
                                    <td th:text="${team.ageGroup}"></td>
                                </tr>
                                <tr>
                                    <td> Niveau: </td>
                                    <td th:text="${team.niveau}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-8">
                    <!--Teams-->
                    <div class="card">
                        <div class="card-body">
                            <h5 style="display: inline;">Trænere</h5>
                            <hr class="clubtimize-hr">
                            <h3 th:if="${#lists.size(team.coaches) == 0}"><i>Der er ingen trænere på dette hold</i></h3>
                            <table class="table table-bordered" th:if="${#lists.size(team.coaches) != 0}">
                                <thead>
                                <tr>
                                    <th>Navn</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Handling</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Coach : ${team.coaches}">
                                    <td th:text="${Coach.unionAssosiation.user.firstname + ' ' + Coach.unionAssosiation.user.lastname}"></td>
                                    <td th:text="${Coach.unionAssosiation.user.email}"></td>
                                    <td th:text="${Coach.unionAssosiation.user.phone}"></td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" th:id="${Coach.coachId}" onclick="removeCoach(this.id, this)">Fjern træner</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr class="clubtimize-hr">
                            <button class="btn btn-primary btn-sm" id="btn_singleTeam_addCoach" data-toggle="modal" data-target="#modal_newCoachModal">Tilføj træner til dette hold</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-12">
                    <!--generel info-->
                    <div class="card">
                        <div class="card-body">
                            <h5 style="display: inline;">Spillere</h5>
                            <hr class="clubtimize-hr">
                            <table class="table table-bordered" style="margin-left: 0; margin-right: 0;">
                                <thead>
                                <tr>
                                    <th>Navn</th>
                                    <th>Fødselsdato</th>
                                    <th>Betalt for sæson</th>
                                    <th>Handling</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Player : ${team.players}">
                                    <td>
                                        <a th:href="${'/panel/administrermedlemmer/individ?user=' + Player.unionAssosiation.user.userId}" th:text="${Player.unionAssosiation.user.firstname + ' ' + Player.unionAssosiation.user.lastname}"></a></td>
                                    <td th:text="${Player.unionAssosiation.user.birthday} ? ${Player.unionAssosiation.user.birthday} : 'Førdselsdag ikke angivet'"></td>
                                    <td th:if="${payedService.payedForCurrentSeason(Player.unionAssosiation.user, team)}"><span class="badge badge-success font-12" style="width: 100%;"><span class="mdi mdi-check" style="color: white;"></span> Betaling godkendt</span></td>
                                    <td th:if="${!payedService.payedForCurrentSeason(Player.unionAssosiation.user, team)}"><span class="badge badge-danger font-12" style="width: 100%;"><span class="mdi mdi-close" style="color: white;"></span> Betaling mangler</span></td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" th:id="${Player.playerId}" onclick="removePlayer(this.id, this)">Fjern spiller fra hold</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr class="clubtimize-hr">
                            <button class="btn btn-primary btn-sm" id="btn_singleTeam_addPlayer" data-toggle="modal" data-target="#modal_newPlayerModal">Tilføj spiller til dette hold</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->


        <footer class="footer text-center text-sm-left">
            &copy; <span th:text="${year}"></span> Clubtimize <span class="text-muted d-none d-sm-inline-block float-right"><span th:text="${version}"></span></span>
        </footer>
    </div>
    <!-- end page content -->

    <div th:replace="panel/management/manageTeams/SingleTeam/modal/editTeamInfoModal :: editTeamInfoModal"></div>
    <div th:replace="panel/management/manageTeams/SingleTeam/modal/newCoachModal :: newCoachModal"></div>
    <div th:replace="panel/management/manageTeams/SingleTeam/modal/newPlayerModal :: newPlayerModal"></div>

</th:block>

<th:block layout:fragment="script">
    <script src="/JavaScript/Panel/administration/manageTeam/manageSingleTeam.js"></script>
</th:block>
</body>
</html>