<div th:fragment="generalInfo" xmlns:th="http://www.thymeleaf.org">
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td><span class="dripicons-user"></span> Navn: </td>
            <td th:text="${user.firstname + ' ' + user.lastname}"></td>
        </tr>
        <tr>
            <td><span class="mdi mdi-email"></span> Email: </td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td><span class="mdi mdi-cellphone-android"></span> Telefon: </td>
            <td th:text="${user.phone}"></td>
        </tr>
        <tr>
            <td><span class="dripicons-location"></span> Addresse: </td>
            <td th:text="${user.address}"></td>
        </tr>
        <tr>
            <td><span class="mdi mdi-human-child"></span> Fødselsdag: </td>
            <td th:text="${user.birthday}"></td>
        </tr>
        <tr>
            <td><span class="dripicons-user-group"></span> Køn: </td>
            <td th:text="${user.gender}"></td>
        </tr>
        </tbody>
    </table>
    <hr class="clubtimize-hr">
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td><span class="dripicons-time-reverse"></span> Medlem siden: </td>
            <td th:text="${user.dateJoined}"></td>
        </tr>
        <tr>
            <td><span class="dripicons-pencil"></span> Rolle: </td>
            <td th:text="${user.role.roleName}"></td>
        </tr>
        </tbody>
    </table>

    <hr class="clubtimize-hr">

    <a th:if="${user.isUnionAdministrator() == false}" href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_editUserModal">Rediger info</a>
    <a th:if="${user.isUnionAdministrator() == false}" href="#" class="btn btn-danger btn-sm" th:id="${user.userId}" onclick="deleteUser(this.id)">Slet denne bruger</a>


</div>