<div th:fragment="teams" xmlns:th="http://www.thymeleaf.org">
    <h5>Sæsoner</h5>
    <hr>
    <div class="accordion" id="accordionExample">
        <div class="card mb-0" th:each="UserSeason : ${user.userSeasons}">
            <div class="card-header" th:id="${UserSeason.id}">
                <h5 class="my-0">
                    <button th:text="${UserSeason.unionSeason.seasonYear}" class="btn btn-link ml-3" type="button" data-toggle="collapse" th:data-target="${'#' + 'season' + UserSeason.id}" aria-controls="collapseOne"></button>
                </h5>
            </div>

            <div th:id="${'season' + UserSeason.id}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body font-13" style="padding: 0; margin: 0;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Hold</th>
                            <th>Afdeling</th>
                            <th>Betaling</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="TeamSeason : ${UserSeason.teamSeasons}">
                            <td th:text="${TeamSeason.team.title}"></td>
                            <td th:text="${TeamSeason.team.teamDepartment.title}"></td>
                            <td style="text-align: center">

                                <div th:if="${TeamSeason.paymentSuccessful}" class="btn-group mo-mb-2">
                                    <button class="btn btn-success btn-sm" type="button">
                                        Betaling godkendt
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="${'/panel/fakturaer/faktura?faknr=' + TeamSeason.invoice.invoiceNumber}">Gå til faktura</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="${'/panel/administrerhold/' + TeamSeason.team.teamId}">Administrer dette hold</a>
                                    </div>
                                </div>

                                <div th:if="${!TeamSeason.paymentSuccessful}" class="btn-group mo-mb-2">
                                    <button class="btn btn-danger btn-sm" type="button" id="btn_teams_missingpayment">
                                        Betaling mangler
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="javascript:void(0)" class="dropdown-item" th:id="${TeamSeason.id}" onclick="awardFreeContingent(this.id)">Giv frikontingent</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" class="dropdown-item" onclick="alert('Dette virker ikke endnu. Kom tilbage senere')">Send en rykker på mail</a>
                                    </div>
                                </div>
<!--                                <span th:if="${not TeamSeason.paymentSuccessful}" class="badge badge-boxed  badge-danger" style="font-size: 12px">-->
<!--                                    <p style="margin: 0">-->
<!--                                        Betaling mangler-->
<!--                                    </p>-->
<!--                                    <p class="font-10" style="margin: 0">-->
<!--                                        Klik her for at sende rykker-->
<!--                                    </p>-->
<!--                                </span>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>