<div th:fragment="checkmarkingContent" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-12" style="padding: 0px;">
            <div class="clubtimize-box" style="padding: 0;">
                    <table class="table table-striped mb-0" id="playerTable">
                        <thead>
                        <tr>
                            <th id="inputfeltNavn">Navn</th>
                            <th>Køn</th>
                            <th>Addresse</th>
                            <th>Betalt for denne sæson</th>
                            <th>Ankommet</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="PlayerParticipation : ${training.playerParticipations}">
                            <td th:text="${PlayerParticipation.player.unionAssosiation.user.firstname + ' ' + PlayerParticipation.player.unionAssosiation.user.lastname}"></td>
                            <td th:text="${PlayerParticipation.player.unionAssosiation.user.gender}"></td>
                            <td name="address" th:text="${PlayerParticipation.player.unionAssosiation.user.address}"></td>
                            <td>
                                <span th:if="${PlayerParticipation.player.unionAssosiation.user.payedForCurrentSeason(PlayerParticipation.training.team)}" class="badge badge-success font-12"><span class="mdi mdi-check"></span> Betaling godkendt</span>
                                <span th:if="${!PlayerParticipation.player.unionAssosiation.user.payedForCurrentSeason(PlayerParticipation.training.team)}" class="badge badge-danger font-12"><span class="mdi mdi-close"></span> Betaling mangler</span>
                            </td>
                            <td>
                                <input type="checkbox" th:id="${PlayerParticipation.id}" th:checked="${PlayerParticipation.participated}" onchange="changeParticipationState(this.id)" switch="success"/>
                                <label th:for="${PlayerParticipation.id}" data-on-label="Ja" data-off-label="Nej"></label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top: 20px;">
            <div class="clubtimize-box">
                <div class="clubtimize-box" style="background-color: white">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="font-18"><i>Kønsfordeling</i></p>
                            <hr>
                            <table class="table table-borderless" style="width: 50%">
                                <tbody>
                                <tr>
                                    <td>Drenge:</td>
                                    <td><i id="menValue"></i></td>
                                </tr>
                                <tr>
                                    <td>Drenge %: </td>
                                    <td><i id="menPercentValue"></i></td>
                                </tr>
                                <tr>
                                    <td>Piger: </td>
                                    <td><i id="womenValue"></i></td>
                                </tr>
                                <tr>
                                    <td>Piger %: </td>
                                    <td><i id="womenPercentValue"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <canvas id="genderChart" width="100%" height="100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 20px;">
            <div class="clubtimize-box">
                <div class="clubtimize-box" style="background-color: white">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="font-18"><i>Fremmøde</i></p>
                            <hr>
                            <table class="table table-borderless" style="width: 50%">
                                <tbody>
                                <tr>
                                    <td>Fremmødte:</td>
                                    <td><i id="participationValue"></i></td>
                                </tr>
                                <tr>
                                    <td>Udeblevet: </td>
                                    <td><i id="notParticipationValue"></i></td>
                                </tr>
                                <tr>
                                    <td>Fraværd %: </td>
                                    <td><i id="participationPercentValue"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <canvas id="participationChart" width="100%" height="100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>