<div th:fragment="informationContent" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-8" style="padding-top: 10px;">
            <div class="clubtimize-box">
                <h4 style="display: inline" class="mt-0 mb-3">Træning</h4>
                <a th:if="${currentUser.role.rolePermissions.canUseTrainerFeatures}" href="#" style="display: inline; float: right;" data-toggle="modal" data-animation="bounce" data-target="#modal_editFocusModal" onclick="fillFocusModal()"><span class="mdi mdi-image-filter-center-focus"></span>Rediger fokus</a>
                <hr>
                <ul class="list-unstyled mb-0">
                    <li class="">
                        <span class="mdi mdi-timetable"></span>
                        <b> Træningstid </b> : <th:block th:text="${training.date + ' / ' + training.timeFrom + '-' + training.timeTo}"></th:block>
                    </li>
                    <li class="mt-2">
                        <span class="mdi mdi-image-filter-center-focus"></span>
                        <b> Fokus </b> : <p id="txt_informationContent_focustitle" style="display: inline;" th:text="${training.focus.title}"></p>
                    </li>
                    <br>
                    <p><i id="txt_informationContent_focusdescription" th:text="${training.focus.description}"></i></p>
                    <br>
                    <br>
                    <li class="mt-2">
                        <span class=" dripicons-location"></span>
                        <b> Sted </b> : <th:block th:text="${training.hall != null} ? ${training.hall.title} : 'Ingen hall tilknyttet'"></th:block>
                        <div th:if="${training.hall != null}" style="border: 1px solid grey; height: 400px;"
                             id="gmaps-markers" class="gmaps"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-clubtimize-4" style="padding-top: 10px;">
            <div class="clubtimize-box">
                <h4 class="mt-0 mb-3">Hold</h4>
                <hr>
                <ul class="list-unstyled mb-0">
                    <li class=""><b> Titel </b> : <th:block th:text="${training.team.title}"></th:block></li>
                    <li class="mt-2"><b> Afdeling </b> : <th:block th:text="${training.team.teamDepartment.title}"></th:block></li>
                    <li class="mt-2"><b> Træningstider </b> :
                        <ul>
                            <li th:each="TrainingSchedule : ${training.team.trainingSchedules}" th:text="${TrainingSchedule.weekday + ' ' + TrainingSchedule.timeFrom + '-' + TrainingSchedule.timeTo}"></li>
                        </ul>
                    </li>
                    <li class="mt-2"><b> Antal tilmeldte </b> : <th:block th:text="${#lists.size(training.team.players)}"></th:block></li>
                    <li class="mt-2"><b> Træner(e) </b> :
                        <ul>
                            <li th:each="Coach : ${training.team.coaches}" th:text="${Coach.unionAssosiation.user.firstname + ' ' + Coach.unionAssosiation.user.lastname}"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>