<div th:fragment="trainingplanContent" xmlns:th="http://www.w3.org/1999/xhtml">
    <h3 th:if="${#lists.isEmpty(training.trainingsplan.trainingModules)}" class="text-muted" style="text-align: center"><i>Det ser ud til, at der ikke er lavet en træningsplan for denne træning</i></h3>
    <br th:if="${#lists.isEmpty(training.trainingsplan.trainingModules) && currentUser.role.rolePermissions.canUseTrainerFeatures}">
    <a th:if="${#lists.isEmpty(training.trainingsplan.trainingModules) && currentUser.role.rolePermissions.canUseTrainerFeatures}" th:href="${'/panel/træning/redigertræningsplan?trainingId=' + training.id}" style="display: block; margin-right: auto; margin-left: auto; width: 300px" class="btn btn-primary">Begynd at lave træningsplan</a>
    <!--Timeline-->
    <div th:if="${(not #lists.isEmpty(training.trainingsplan.trainingModules) && currentUser.role.rolePermissions.canUseTrainerFeatures)}" class="clubtimize-box" style="background-color: white">
        <h5 th:if="${(not #lists.isEmpty(training.trainingsplan.trainingModules) && currentUser.role.rolePermissions.canUseTrainerFeatures)}" style="float: right;"><a th:href="${'/panel/træning/redigertræningsplan?trainingId=' + training.id}">Rediger træningsplan <span class="mdi mdi-pencil-box"></span></a></h5>
        <section th:if="${not #lists.isEmpty(training.trainingsplan.trainingModules)}" id="cd-timeline" class="cd-container" style="max-width: 100%; width: 100%;">
            <th:block th:each="TrainingModule : ${training.trainingsplan.trainingModules}">
                <div class="cd-timeline-block" style="width: 100%;">
                    <div class="cd-timeline-content">
                        <span class="left-number" th:text="${TrainingModule.title}" style="color: #44a2d2"></span>
                        <p style="display: inline; float: right;"><i th:text="${'Cirka ' + TrainingModule.approxTime + ' minutter'}"></i></p>
                        <hr>
                        <h5><i class="text-muted font-12">Egen beskrivelse</i></h5>
                        <p class="mb-0 font-13" th:text="${TrainingModule.description}"></p>
                        <hr th:if="${TrainingModule.exerciseDGI != null}">
                        <div th:if="${TrainingModule.exerciseDGI != null}" style="background-color: #44a2d2; padding: 10px; border-radius: .25rem; box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);">
                            <i class="text-white font-14" th:text="${TrainingModule.exerciseDGI.name}"></i>
                            <br>
                            <p class="text-white font-13" th:text="${'Beskrivelse: ' + TrainingModule.exerciseDGI.lead}"></p>
                            <p class="text-white font-13" th:text="${'Deltagerantal: ' + TrainingModule.exerciseDGI.participants}"></p>
                            <iframe class="embed-responsive-item" th:src="${TrainingModule.exerciseDGI.videoUrl}" allowfullscreen style="display: block;margin-left: auto; margin-right: auto; width: 100%; height: 400px;"></iframe>
                        </div>
                        <span class="cd-date">
                        <th:block th:if="${currentUser.role.rolePermissions.canUseTrainerFeatures}">
                            <p style="margin: 0"><b>Kommentar</b><a th:id="${TrainingModule.id}" onclick="setModuleId(this.id)" href="" class="mdi mdi-comment-plus-outline" style="padding-left: 3px; font-size: 20px;" data-toggle="modal" data-animation="bounce" data-target="#editCommentModal"></a></p>
                        <hr style="margin-top: 0;">
                        <p th:if="${#lists.isEmpty(TrainingModule.moduleComments)}"><i>Ingen kommentarer</i></p>
                        <table class="table table-bordered">
                          <tbody>
                            <tr th:each="ModuleComment : ${TrainingModule.moduleComments}">
                              <td style="padding: 5px;" class="font-12" th:text="${ModuleComment.author}">Mark</td>
                              <td style="padding: 5px;" class="font-12" th:text="${ModuleComment.date}">Otto</td>
                              <td style="padding: 5px;" class="font-12" th:text="${ModuleComment.comment}">@mdo</td>
                            </tr>
                          </tbody>
                        </table>
                        </th:block>
                    </span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            </th:block>
        </section> <!-- cd-timeline -->
    </div>
</div>