<div th:fragment="newRoleModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="nyRolleModal">
        <div class="modal-dialog modal-lg" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">Opret ny rolle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <form id="nyRolleForm" class="form-horizontal form-wizard-wrapper">
                            <h3>Generelt</h3>
                            <fieldset style="background-color: white">
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="modalRoleName" class="col-form-label">Rollens navn</label>
                                        <input class="form-control" type="text" id="modalRoleName" placeholder="Rolle navn...">
                                    </div>
                                </div>
                            </fieldset>
                            <h3>Administration</h3>
                            <fieldset>
                                <hr>
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h5>Administrations rettigheder</h5>
                                            <p class="text-muted">Brugeren er i stand til administrere foreningen</p>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox my-3">
                                                <input type="checkbox" class="custom-control-input" id="canAdministrate">
                                                <label class="custom-control-label" for="canAdministrate">Tillad dette</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Se administrations sider</h5>
                                            <p class="text-muted">Brugeren er i stand til se administrations siderne</p>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox my-3">
                                                <input type="checkbox" class="custom-control-input" id="canSeeAdministrationPages">
                                                <label class="custom-control-label" for="canSeeAdministrationPages">Tillad dette</label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <h3>Træninger</h3>
                            <fieldset>
                                <hr>
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h5>Se alle træninger</h5>
                                            <p class="text-muted">Brugeren er i stand til at se alle holdenes træninger</p>
                                            <p class="text-muted"><i>*Hvis dette ikke tillades, kan brugeren kun se sine egen træninger</i></p>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox my-3">
                                                <input type="checkbox" class="custom-control-input" id="canSeeAllTeams">
                                                <label class="custom-control-label" for="canSeeAllTeams">Tillad dette</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Træner tools</h5>
                                            <p class="text-muted">Brugeren er i stand til at bruge træner tools på sine egne træninger</p>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox my-3">
                                                <input type="checkbox" class="custom-control-input" id="canUseTrainerFeatures">
                                                <label class="custom-control-label" for="canUseTrainerFeatures">Tillad dette</label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
