<div th:fragment="editUserModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="modal_editUserModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0">Rediger info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="row" style="padding-left: 14px; padding-right: 14px">
                        <div class="col-sm-6" style="margin: 0">
                            <label for="inp_editUserModal_firstname" class="col-form-label">Fornavn</label>
                            <input class="form-control" type="text" id="inp_editUserModal_firstname" th:value="${user.firstname}">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_editUserModal_firstname_validate"></ul>
                        </div>

                        <div class="col-sm-6" style="margin: 0">
                            <label for="inp_editUserModal_lastname" class="col-form-label">Efternavn</label>
                            <input class="form-control" type="text" id="inp_editUserModal_lastname" th:value="${user.lastname}">
                            <ul class="clubtimize-error-list clubtimize-hide" id="inp_editUserModal_lastname_validate"></ul>
                        </div>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editUserModal_email" class="col-form-label">Email</label>
                        <input class="form-control" type="email" id="inp_editUserModal_email" th:value="${user.email}">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editUserModal_email_validate"></ul>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editUserModal_phone" class="col-form-label">Telefon</label>
                        <input class="form-control" type="number" id="inp_editUserModal_phone" th:value="${user.phone}">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editUserModal_phone_validate"></ul>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editUserModal_address" class="col-form-label">Adresse</label>
                        <input class="form-control" type="email" id="inp_editUserModal_address" th:value="${user.address}">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editUserModal_address_validate"></ul>
                    </div>

                    <div class="col-sm-12 row" style="margin: 0">
                        <label for="inp_editUserModal_birthday" class="col-form-label">Fødselsdag</label>
                        <input class="form-control" type="date" id="inp_editUserModal_birthday" th:value="${birthday}">
                        <ul class="clubtimize-error-list clubtimize-hide" id="inp_editUserModal_birthday_validate"></ul>
                    </div>


                    <div class="col-sm-12" style="margin: 0">
                        <label for="sel_editUserModal_gender" class="col-form-label">Køn</label>
                        <select id="sel_editUserModal_gender" class="form-control">
                            <option value="Mand" th:selected="${user.gender == 'Mand'}">Mand</option>
                            <option value="Kvinde" th:selected="${user.gender == 'Kvinde'}">Kvinde</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" id="btn_editTeamInfoModal_editTeam" class="btn btn-primary waves-effect waves-light">Rediger</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>