<div th:fragment="newTwoTeamDiscountModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" roleName="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modal_newTwoTeamDiscountModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-self-center mt-0" id="myLargeModalLabel">opret ny rabatgruppe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_newTwoTeamDiscountModal_titel">Titel på gruppe</label>
                                <input type="text" id="inp_newTwoTeamDiscountModal_titel" class="form-control" placeholder="Titel...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_newTwoTeamDiscountModal_titel_validate"></ul>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inp_newTwoTeamDiscountModal_titel">Rabat i DKK</label>
                                <input type="number" id="inp_newTwoTeamDiscountModal_amount" class="form-control" placeholder="Rabat...">
                                <ul class="clubtimize-error-list clubtimize-hide" id="inp_newTwoTeamDiscountModal_amount_validate"></ul>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <fieldset>
                                    <div class="repeater-custom-show-hide">
                                        <div data-repeater-list="discounts">
                                            <div data-repeater-item="discount">
                                                <div class="form-group row d-flex align-items-end">

                                                    <div class="col-sm-10">
                                                        <label class="control-label"><i>Hold</i></label>
                                                        <select name="discounts[0][team]" class="form-control" id="">
                                                            <option th:each="Team : ${currentUnion.teams}" th:value="${Team.teamId}" th:text="${Team.title + ' - ' + Team.teamDepartment.title}"></option>
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-2">
                                                            <span data-repeater-delete="" class="btn btn-danger btn-sm">
                                                                <span class="fa fa-times"></span> Fjern
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <div class="col-sm-12">
                                                <span data-repeater-create="" class="btn btn-light btn-md">
                                                    <span class="fa fa-plus"></span> Tilføj
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btn_newTwoTeamDiscountModal_add">Tilføj rabatgruppe</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>